
$primary-element-color: #34495E;
$primary-text-color: #2E4053;
$primary-text-transparentized-color: transparentize($primary-text-color, .3);
$primary-icon-color: #21618C;
$primary-error-color: #C0392B;

$form-input-hover-color: #34495E;
$form-input-border-color: #34495E;
$form-input-border-hover-color: #34495E;
$form-input-label-color: $primary-text-color;
$form-input-label-hover-color: $form-input-label-color;
$form-input-label-focus-color: $form-input-label-color;
$form-input-label-value-color: $form-input-label-color;
$form-input-error-color: $primary-error-color;
$form-input-icon-color: $primary-icon-color;

$blue-monit-background-color: #2E86C1;
$blue-monit-text-color: white;

$footer-background-color: #1A5276;














$app-background-color: #F0F3F4;
$primary-text-color-hover: #7B7D7D;

$page-header-color: #2E86C1;
$section-header-color: #2471A3;
$theme-primary-color: #424949;
$theme-primary-color-inverted: #FBFCFC;
$theme-primary-color-inverted-hover: #D6EAF8;
$label-font-size: 14px;
$label-value-font-size: 12px;
$color-background: #FDFEFE;
$primary-theme-color: #1F618D;
$hover-color: gray;
$focus-color: gray;
$value-color: #7DCEA0;
$primary-error-color: #C0392B;
$input-color: #626567;
$input-border-color: #979A9A;
$input-hover-border-color: $hover-color;
$input-focus-border-color: $focus-color;
$input-value-border-color: $value-color;
$input-error-border-color: $primary-error-color;
$button-index-background-color: #3498DB;
$button-index-color: #FBFCFC;