@import './media-breakpoints';

.container {
  position: relative;
  background: #FDFEFE;
  border-radius: 3px;
  padding: 30px;
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    margin: 76px auto 12px;
  }
}

.wide-container {
  width: 1200px;
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    width: 100%;
    padding: 12px;
  }
}

.medium-container {
  width: 768px;

  @media only screen and (max-width: $breakpoint-phone-large-max) {
    width: 100%;
    padding: 12px;
  }
}

.narrow-container {
  width: 640px;
  padding: 25px;
  max-width: 420px;
  @media only screen and (max-width: 688px) {
    width: 100%;
  }
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    padding: 12px;
  }
}

%checkbox-container {
  width: 100%;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 2.5px;
  background: white;
  .form-input.checkbox {
    .input {
      position: absolute;
    }
    .label {
      padding-left: 28px;
      width: 100%;
    }
  }
}
