@import './media-breakpoints';

%container {
  position: relative;
  margin: 0 auto;
  background: #FDFEFE;
  border-radius: 3px;
  padding: 48px;
}

%wide-container {
  @extend %container;
  width: 1200px;
  min-height: 480px;
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    width: 100%;
    padding: 12px;
  }
}

%medium-container {
  @extend %container;
  width: 768px;
  min-height: 480px;
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    width: 100%;
    padding: 12px;
  }
}

%narrow-container {
  @extend %container;
  width: 640px;
  min-height: 480px;
  @media only screen and (max-width: 688px) {
    width: 100%;
  }
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    padding: 12px;
  }
}

%checkbox-container {
  width: 100%;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 2.5px;
  background: white;
  .form-input.checkbox {
    .input {
      position: absolute;
    }
    .label {
      padding-left: 28px;
      width: 100%;
    }
  }
}