@import './media-breakpoints';

.container {
  position: relative;
  background: #FDFEFE;
  border-radius: 3px;
  padding: 25px;
  &__legal {
    background: white;
    overflow-y: scroll;
    max-height: 72%;
    margin: 72px auto 0;
    max-width: 744px;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 18px;
    @media #{$small-tablet} {
      margin: 58px 12px;
    }
    @media #{$phone} {
      margin: 46px 0;
      padding: 12px;
      border: none;
      border-radius: 0;
    }
  }
}

.wide-container {
  width: 1200px;
}

.medium-container {
  width: 720px;
  @media #{$small-tablet} {
    width: auto;
  }
  @media #{$phone} {
    padding: 15px;
  }
}

.narrow-container {
  width: 456px;
  @media #{$phone} {
    padding: 15px;
    width: 100%;
  }
}

%checkbox-container {
  width: 100%;
  padding: 12px;
  border: 1px solid lightgray;
  border-radius: 2.5px;
  background: white;
  .form-input.checkbox {
    .input {
      position: absolute;
    }
    .label {
      padding-left: 28px;
      width: 100%;
    }
  }
}
