@import '../components/announcement/styles/styles.scss';
@import '../components/announcement/components/create/styles/styles.scss';
@import '../components/announcement/components/create/components/primary/styles/styles.scss';
@import '../components/announcement/components/create/components/pictures/styles/styles.scss';
@import '../components/announcement/components/create/components/additional/styles/styles.scss';
@import '../components/announcement/components/create/components/features/styles/styles.scss';
@import '../components/announcement/components/create/components/description/styles/styles.scss';
@import '../components/announcement/components/create/components/map/styles/styles.scss';
@import '../components/announcement/components/create/components/publishing/styles/styles.scss';
@import '../components/announcement/components/index/components/full/styles/styles.scss';
@import '../components/announcement/components/index/components/list/styles/styles.scss';
@import '../components/announcement/components/index/components/map/styles/styles.scss';
@import '../components/announcement/components/index/components/panel/components/user/styles/styles.scss';
@import '../components/announcement/components/index/components/panel/components/visitor/styles/styles.scss';
@import '../components/announcement/components/index/components/panel/styles/styles.scss';
@import '../components/announcement/components/index/styles/styles.scss';
@import '../components/announcement/components/show/components/tile/components/description/styles/styles.scss';
@import '../components/announcement/components/show/components/tile/components/features-furnishings/styles/styles.scss';
@import '../components/announcement/components/show/components/tile/components/map/styles/styles.scss';
@import '../components/announcement/components/show/components/tile/components/pictures/styles/styles.scss';
@import '../components/announcement/components/show/components/tile/components/primary/styles/styles.scss';
@import '../components/announcement/components/show/components/tile/styles/styles.scss';
@import '../components/support/components/spinner/components/windmill/styles/styles.scss';
@import '../components/user/components/authorize/styles/styles.scss';
@import '../components/user/components/authorize/components/email-password/styles/styles.scss';
@import '../components/user/components/create/components/connecting/styles/styles.scss';
@import '../components/user/components/create/components/consents/styles/styles.scss';
@import '../components/user/components/create/components/email/components/inputs/styles/styles.scss';
@import '../components/user/components/create/components/email/components/submit/styles/styles.scss';
@import '../components/user/components/create/components/email/components/verify/styles/styles.scss';
@import '../components/user/components/create/components/email/styles/styles.scss';
@import '../components/user/components/create/styles/styles.scss';
@import '../components/user/components/destroy/styles/styles.scss';
@import '../components/user/components/edit/components/account/styles/styles.scss';
@import '../components/user/components/edit/components/account/components/cell/styles/styles.scss';
@import '../components/user/components/edit/components/account/components/password/styles/styles.scss';
@import '../components/user/components/edit/components/card/styles/styles.scss';
@import '../components/user/components/edit/components/phone/components/verify/styles/styles.scss';
@import '../components/user/components/show/styles/styles.scss';
@import '../components/user/styles/styles.scss';
@import '../components/visitor/components/about/styles/styles.scss';
@import '../components/visitor/components/contact/styles/styles.scss';
@import '../components/visitor/components/welcome/styles/styles.scss';
@import '../components/visitor/components/legal/components/cookies/components/policy/styles/styles.scss';
@import '../components/visitor/components/legal/components/privacy/components/monit/styles/styles.scss';
@import '../components/visitor/components/legal/components/privacy/components/policy/styles/styles.scss';
@import '../components/visitor/components/legal/components/privacy/components/settings/styles/styles.scss';
@import '../components/visitor/components/legal/components/privacy/components/settings/styles/styles.scss';
@import '../components/visitor/components/legal/components/provision/styles/styles.scss';
@import '../components/visitor/components/legal/components/terms-of-service/styles/styles.scss';
@import '../components/announcement/components/index/components/full/styles/styles.scss';
@import '../components/scaffold/components/header/styles/styles.scss';
@import '../components/scaffold/components/footer/styles/styles.scss';
@import './media-breakpoints';
@import './themes';
@import '../components/announcement/styles/pin';
@import './inputs/form/form';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.separation-line {
  height: 1px;
  background: lightgray;
}

body {
  font-family: 'Arimo', sans-serif;
  background: #F8F9F9;
}

.float-clear {
  clear: both;
}

.small-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  color: #212F3D;
  line-height: 1;
}

#app-container {
  position: relative;
  min-width: 320px;
}

#app-inner-container {
  max-width: 1920px;
  min-height: 640px;
  margin: 0 auto;
  overflow: hidden;
}

.form-input {
  @extend %form-input;
}

.transparent-cover {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkened-cover {
  z-index: 3000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .56);
  position: fixed;
  top: -38px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 24px;
  .windmill-medium-spinner {
    div:after {
      background: #F0F3F4;
    }
  }
  @media #{$small-tablet} {
    top: 0;
  }
  @media #{$phone} {
    padding: 12px;
  }
}

.close-button {
  &.page, &.map-tile {
    height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
    margin-left: 388px;
    margin-bottom: 8px;
    flex-shrink: 0;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                0px 3px 8px 3px rgba(0, 0, 0, 0.14),
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border: none;
    background: white;
    border-radius: 2px;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    &:hover {
      background: #922B21;
      color: white;
    }
    &.medium {
      margin-left: 688px;
      @media #{$small-tablet} {
        margin-left: auto;
      }
    }
    &.narrow {
      margin-left: 424px;
      @media #{$phone} {
        margin-left: auto;
      }
    }
  }
}

.page-header {
  margin-bottom: 24px;
  color: #212F3D;
  font-size: 17px;
  line-height: 17px;
  .far, .fas {
    font-size: 15px;
    margin-right: 6px; 
  }
}

.section-header {
  font-size: 16px;
  color: #566573;
  margin: 0 0 18px 0;
  .far, .fas {
    width: 24px;
  }
  
}

input, textarea {
  outline: none;
  user-select: none;
  cursor: pointer;
}





button {
  outline: none;
  cursor: pointer;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:hover {
    color: inherit;
  }
  &:visible {
    color: inherit;
  }
}

.display-none {
  display: none;
}

.disabled-shadow {
  opacity: 0.64
}

.opacity-none {
  opacity: 0.8;
}

@media only screen and (max-width: $breakpoint-phone-large-max) {
  .phone-large-hidden {
    display: none!important;
  }
}

@media only screen and (min-width: $breakpoint-tablet-small-min) and (max-width: $breakpoint-tablet-small-max) {
  .tablet-small-hidden {
    display: none!important;
  }
}

.button {
  .input {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.gm-style-pbc {
  opacity: 0 !important;
}

.options {
  position: absolute;
  max-height: 208px;
  background: #F7F9F9;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 3px 8px 3px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 1px;
  overflow-y: auto;
  .option {
    height: 42px;
    font-size: 15px;
    line-height: 42px;
    padding-left: 7px;
    cursor: pointer;
    &.preselected {
      background: #F5CBA7;
    }
    .pin {
      background: none;
      box-shadow: none;
      font-size: 16px;
    }

  }
}

.subinputs-container {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 3px 8px 3px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2.5px;
  background: white;

  .sub-input {
    position: relative;
    float: left;
    width: 50%;
    &.rent {
      width: 33.3333%;
    }
    &.first {
      .input {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }
    &.last {
      border-right: none;
      .input {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-right: none;
      }
    }
    .input {
      cursor: pointer;
      z-index: 7;
      height: 42px;
      width: 100%;
      padding: 21px 0 0 7px;
      border-right: 1px solid #E5E7E9;
      font-weight: bold;
      font-size: 15px;
      &.hover {
        background: #EBF5FB;
      }
    }
    .label {
      cursor: pointer;
      z-index: 8;
      position: absolute;
      font-size: 15px;
      top: 14px;
      left: 7px;
      transition: .12s ease-in;
      &.focus, &.value {
        top: 5px;
        font-size: 12px;
      }
    }
  }
}

.react-calendar {
  z-index: 3000;
  position: relative;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 3px 8px 3px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding-right: 6px;
  border-radius: 2.5px;
  border: none;
  cursor: auto;
  .react-calendar__navigation button, .react-calendar__tile {
    font-size: 12px;
    &:hover {
      background: #EBF5FB;
    }
  }
  .react-calendar__navigation__arrow {
    font-size: 22px!important;
  }
}

.category-option {
  position: relative;
  .pin {
    @extend %pin;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.2),
                0px 2px 6px 3px rgba(0, 0, 0, 0.14),
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .text {
    margin-left: 36px;
  }
}

.very-small-windmill-spinner {
  left: -53px;
  top: -53px;
  div:after {
    background: #F0F3F4;
  }
}

.header-link, .user-show-link {
  
}











.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: 'Arimo', sans-serif;
  line-height: 1.125em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
h1 {
  color: #5F6A6A;
  font-size: 17px;
  margin-bottom: 18px;
}
h2 {
  color: #797D7F;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 18px;
}

.blog-paragraph {
  color: #34495E;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 12px;
  &.last {
    margin-bottom: 0;
  }
  .title {
    font-family: 'Oxanium';
  }
}

.input-explanation {
  text-align: justify;
  font-size: 14px;
  line-height: 18px;
  color: #797D7F;
}

#not-found {
  position: relative;
  height: 700px;
  .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 300px;
    margin: auto;
    color: #7B7D7D;
    .number {
      text-align: center;
      font-size: 48px;
      margin-top: 48px;
    }
    .text {
      text-align: center;
      margin-top: 12px;
    }
  }
}
