@import './media-breakpoints';
@import './themes';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  color: rgb(14, 35, 62);
  line-height: 1;
}

input, textarea {
  outline: none;
  user-select: none;
  cursor: pointer;
}

.float-clear {
  clear: both;
}

#app-container {
  background: #F2F3F4;
  min-width: 320px;
}

#app-inner-container {
  max-width: 1920px;
  min-height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

button {
  outline: none;
  cursor: pointer;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:hover {
    color: inherit;
  }
  &:visible {
    color: inherit;
  }
}

.display-none {
  display: none;
}

.disabled-shadow {
  opacity: 0.64
}

.opacity-none {
  opacity: 0.8;
}

@media only screen and (max-width: $breakpoint-phone-large-max) {
  .phone-large-hidden {
    display: none!important;
  }
}

@media only screen and (min-width: $breakpoint-tablet-small-min) and (max-width: $breakpoint-tablet-small-max) {
  .tablet-small-hidden {
    display: none!important;
  }
}

.button {
  .input {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.gm-style-pbc {
  opacity: 0 !important;
}

.options {
  position: absolute;
  max-height: 208px;
  background: #F7F9F9;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 3px 8px 3px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2.5px;
  overflow-y: auto;
  .option {
    height: 42px;
    font-size: 15px;
    line-height: 42px;
    padding-left: 7px;
    cursor: pointer;
    &.preselected {
      background: #D6EAF8;
    }
  }
}

.subinputs-container {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 3px 8px 3px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2.5px;
  background: white;

  .sub-input {
    position: relative;
    float: left;
    width: 50%;
    &.rent {
      width: 33.3333%;
    }
    &.first {
      .input {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }
    &.last {
      border-right: none;
      .input {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-right: none;
      }
    }
    .input {
      cursor: pointer;
      z-index: 7;
      height: 42px;
      width: 100%;
      padding: 21px 0 0 7px;
      border-right: 1px solid #E5E7E9;
      font-weight: bold;
      font-size: 15px;
      &.hover {
        background: #EBF5FB;
      }
    }
    .label {
      cursor: pointer;
      z-index: 8;
      position: absolute;
      font-size: 15px;
      top: 14px;
      left: 7px;
      transition: .12s ease-in;
      &.focus, &.value {
        top: 5px;
        font-size: 12px;
      }
    }
  }
}

.react-calendar {
  z-index: 3000;
  position: relative;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 3px 8px 3px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding-right: 6px;
  border-radius: 2.5px;
  border: none;
  cursor: auto;
  .react-calendar__navigation button, .react-calendar__tile {
    font-size: 12px;
    &:hover {
      background: #EBF5FB;
    }
  }
  .react-calendar__navigation__arrow {
    font-size: 22px!important;
  }
}


