@import './colors';
@import './containers';
@import './headers/headers';
@import './pagination';

%blue-button {
  border: none;
  border-radius: 2.5px;
  font-size: 16px;
  background: #3498DB;
  color: white;
}

%error {
  color: $primary-error-color;
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
}
