@import './colors';
@import './containers';
@import './headers/headers';
@import './pagination';

%error {
  color: $primary-error-color;
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
}
