@import './colors';
@import './containers';
@import './headers/headers';
@import './pagination';

%blue-button {
  border: none;
  border-radius: 2.5px;
  font-size: 16px;
  background: #3498DB;
  color: white;
}

%error {
  color: $color-error;
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
}

$theme-primary-color: #424949;
$theme-primary-color-inverted: #FBFCFC;
$theme-primary-color-inverted-hover: #D6EAF8;
$label-font-size: 14px;
$label-value-font-size: 12px;
$color-background: #FDFEFE;
$primary-theme-color: #1F618D;
$page-header-color: red;
$section-header-color: red;
$hover-color: gray;
$focus-color: gray;
$value-color: #7DCEA0;
$color-error: #C0392B;
$input-color: #626567;
$input-border-color: #979A9A;
$input-hover-border-color: $hover-color;
$input-focus-border-color: $focus-color;
$input-value-border-color: $value-color;
$input-error-border-color: $color-error;
$label-color: #5F6A6A;
$color-label-hover: $hover-color;
$color-label-focus: $focus-color;
$label-value-color: $value-color;
$label-error-color: $color-error;
$button-index-background-color: #3498DB;
$button-index-color: #FBFCFC;


