@import '../../../../../../../styles/themes.scss';
@import '../../../../../../../styles/media-breakpoints';
@import './google-map';
@import './pin';
@import './tile.scss';
@import './mini_list.scss';

#announcement-index-map {
  position: absolute;  
  right: 20px;
  left: 20px;
  margin-top: 5px;
  @media #{$SMALL-TABLET} {
    right: 0;
    left: 0;
  }
  #google-map-container {
    @extend %google-map;
    .pin {
      @extend %map-pin;
    }
  }
  &.hidden {
    opacity: 0;
  }
  transition: 0.16s ease-in;
}
