.container {
  position: relative;
  margin-top: 12px;
}
.input {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  border-radius: 2px;
  outline: none;
  transition: 0.18s;
  cursor: pointer;
  border: 1px solid gray;
}
.tick {
  width: 5px;
  height: 10px;
  margin-left: 5px;
  margin-top: 1px;
  transform: rotate(45deg);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.label {
  position: relative;
  top: 0;
  left: 16px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
}
.error {
  font-size: 13px;
  color: var(--error);
  height: 100px;
  height: 18px;
  display: table-cell;
  vertical-align: bottom;
}
