@import '../../../../../../../../../shared/app/components/support/typed-text-input/styles/styles.scss';

#listing-create-form {
  max-width: 768px;
  margin: 0 auto;
  padding: 42px;
  background: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  h2 {
    margin-top: 32px;
  }
  .typed-text-input {
    @extend %typed-text-input;
  }

  .select {
    input {
      cursor: default;
    }
    ul {
      position: absolute;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      list-style-type: none;
      z-index: 2;
      max-width: 320px;
      width: 100%;
      height: 320px;
      overflow-x: hidden;
      overflow-y: scroll;
      li {
        cursor: default;
        padding: 10px;
        &.current {
          background: lightblue;
        }
        &:hover {
          background: lightblue;
        }
      }
    }
    &.industry {
      margin-top: 24px;
    }
  }
}
