@import 'react-quill/dist/quill.snow.css';
@import '../../../../../../../styles/colors.scss';
@import '../../../../../../../styles/headings/main-heading';
@import '../../../../../../../styles/inputs/text.scss';
@import './section.scss';
@import './instructions';
@import '../../../../../../../../../shared/app/styles/media-breakpoints';
@import '../components/skill-selector/styles/styles.scss';
@import '../components/description/styles/styles.scss';
@import '../components/contracts/styles/styles.scss';
@import '../components/poster/styles/styles.scss';
@import '../components/social-image/styles/styles.scss';
@import '../components/application/styles/styles.scss';
@import '../components/submit/styles/styles.scss';

#postings-new-form {
  max-width: 768px;
  margin: 0 auto;
  padding: 40px;
  background: white;
  border-radius: 3px;
  border: 1px solid lightgray;
  .text-input {
    @extend %text-input;
    max-width: 320px;
  }
  .main-heading {
    @extend %main-heading;
    margin-bottom: 30px;
  }
  h2 {
    margin-top: 0;
    font-size: 19px;
  }
  .instructions {
    @extend %instructions;
  }
  #skills {
    @extend %skills;
  }
  .description {
    @extend %description;
    .form-input {
      .label {
        position: absolute;
        top: -2px;
      }
    }
  }
  .contracts {
    @extend %contracts;
    .form-input {
      .label {
        position: absolute;
        top: -2px;
      }
    }
  }
  #poster {
    @extend %poster;
  }
  #social-image {
    @extend %social-image;
  }
  .application {
    @extend %application;
  }
  .submit-button {
    @extend %submit-button;
  }
  @media #{$LARGE-PHONE} {
    padding: 0;
    padding: 30px;
    border: none;
  }
}
