@import '../../../../../../../../../styles/themes.scss';
@import '../../../../../../../../../styles/dimensions.scss';
@import '../../../../../../../../../styles/inputs/form/text.scss';
@import '../../../../../../../../../styles/inputs/form/svgs.scss';
@import '../../../../../../../../../styles/inputs//form//button.scss';
@import '../../../../../../../../../../../shared/app/styles/media-breakpoints';

#user-edit-account-password {
  &.full {
    margin: 120px auto;
    max-width: 600px;
    border: 1px solid $CONTAINER-BORDER-COLOR;
    padding: $FORM-PADDING-PC;
    background: white;
    border-radius: 4px;
    @media #{$LARGE-PHONE} {
      margin: 0 auto;
      border: none;
      padding: $FORM-PADDING-PHONE;
    }
    .page-header {
      h1 {
        padding: 0;
        font-size: 18px;
      }
    }
  }
  .monit-and-text-inputs {
    max-width: 360px;
  }
  .monit {
    text-align: justify;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .form-input {
    &.button {
      margin: 0 auto;
      .very-small-windmill-spinner {
        top: -54px;
        left: -49px;
        div:after {
          background: gray;
        }
      }
    }
  }
}
