@import '../../../../../../../../../../../shared/app/styles/media-breakpoints';
@import '../../../../../../../../../styles/dimensions';
@import '../../../../../../../../../styles/themes';
@import '../../../../../../../../../styles/headings/h1';
@import '../../../../../../../../../styles/inputs/text';
@import '../../../../../../../../../styles/inputs/button';
@import '../../../../../../../../../styles/container';
@import '../../../../../../../../../styles/line';

#user-update-password {
  margin-bottom: 24px;
  padding-top: 192px;
  padding-bottom: 192px;
  background: $BACKGROUND-COLOR-LIGHT-GRAYISH;
  &.container {
    .inputs {
      @extend %container;
    }
    h1 {
      @extend %h1;
    }
    .text-input {
      @extend %text-input;
    }
    .submit-button {
      @extend %button;
      padding: 18px 0;
    }
  }
  .monit-and-text-inputs {
    padding: 24px 32px;
  }
  .monit {
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 14px;
  }
  .line {
    @extend %line;
  }
}
