@import './text.scss';

%select-element {
  @extend %text-input;
  .input {
    position: relative;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
  }
  svg {
    position: absolute;
    display: block;
    top: 33px;
    right: 16px;
    height: 12px;
    transform: rotate(-90deg);
    transition: all 0.2s;
  }
  &.focus {
    svg {
      transform: rotate(90deg);
    }
  }
}

.options {
  max-height: 208px;
  margin-top: 2px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .option {
    height: 28px;
    // padding-left: 24px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    &.preselected {
      background: #d1f2eb;
    }
  }
}
