%trigger {
  position: absolute;
  top: 0px;
  right: 0;
  font-size: 14px;
  border: none;
  background: none;
  color: blue;
  &.destroy {
    color: red;
  }
  cursor: pointer;
  span {
    font-size: 12px;
    padding-left: 4px;
  }
}
