%categories {
  .category {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 24px;
    vertical-align:top;
    width: 96px;
    &:nth-child(5) {
      margin-right: 0;
    }
    cursor: pointer;
    &:hover {
      .label {
        color: rgb(128, 128, 128);
      }
      svg {
        fill: rgb(128, 128, 128);
      }
    }
    &.selected {
      .icon {
        transition: box-shadow .2s ease-in;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 10px;
      }
      .label {
        color: rgb(88, 88, 88);
      }
      svg {
        fill: rgb(88, 88, 88);
      }
    }
    .icon {
      border-radius: 4px;
      width: 96px;
      height: 96px;
      margin-bottom: 8px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 5px;
      background: white;
      text-align: center;
      line-height: 112px;
    }
    .label {
      width: 96px;
      font-size: 11px;
      text-align: center;
      line-height: 1.3;
      color: rgb(176, 176, 176);
      transition: color .2s ease-in;
      white-space: normal;
    }
    svg {
      height: 24px;
      fill: rgb(176, 176, 176);
      transition: fill .2s ease-in;
    }

  }
  @media only screen and (max-width: 640px) {
    white-space: nowrap;
    overflow-x: scroll;
  }
}
