@import '../../../../../styles/themes';
@import '../../../../../styles/colors';
@import '../../../../../styles//dimensions';
@import '../../../../../styles/inputs/form/svgs';
@import '../../../../../styles/inputs/form/checkbox';
@import '../../../../../styles/inputs/form/textarea';
@import '../../../../../styles/inputs/form/button';
@import '../../../../../styles/line';
@import '../components/pictures/styles/styles';
@import '../components/features/styles/styles';
@import '../components/map/styles/styles';
@import '../components/publishing/styles/styles';
@import '../../../../../../../shared/app/styles/lined-heading';
@import './category';
@import '../../../../../styles/container';
@import '../../../../../styles/inputs/text';
@import '../../../../../styles/inputs/select';
@import '../../../../../styles/inputs/button';
@import '../../../../../styles/inputs/radio';
@import '../../../../../styles/headings/h1';

#listing-create {
  background: red;
  padding: 64px 0;
  background: $BACKGROUND-LIGHT-GRAYISH-COLOR;
  #listing-new-form {
    @extend %container;
    margin: 0 auto;
    max-width: 640px;
    padding: 32px;
  }
  #listing-new-user {
    max-width: 280px;
    padding: 0;
  }
  #user-new-email {
    margin: 0;
    box-shadow: none;
    #user-new-form {
      padding: 0;
    }
  }
  .text-input {
    @extend %text-input;
    &.area {
      .sqm {
        position: absolute;
        top: 29px;
        right: 10px;
        font-size: 16px;
      }
    }
  }
  .select-element {
    @extend %select-element;
  }
  .text-input,
  .select-element {
    max-width: 280px;
  }
  h1 {
    @extend %h1;
    margin-bottom: 28px;
  }
  h2 {
    margin: 24px 0 18px;
    background: white;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: rgb(88, 88, 88);
    text-transform: uppercase;
  }
  .category {
    @extend %category;
  }
  &.creating-user {
    border-bottom: none;
    padding-bottom: 6px;
  }
  .windmill-medium-spinner {
    display: block;
    position: relative;
    margin: 224px auto 164px;
  }
  .confirmation,
  .success-container,
  .requesting {
    background: white;
    margin: 0;
    .inner {
      padding: 200px 0;
    }
  }
  .description-question {
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    color: #4d5656;
    margin-top: 4px;
    &:hover {
      color: gray;
    }
    p {
      color: #4d5656;
    }
  }
  .line {
    @extend %line;
  }
  .description {
    text-align: justify;
    overflow: hidden;
    transition: max-height 2s ease-in;
    max-height: 200px;
    &.rolled-up {
      max-height: 0;
    }
  }
  .checkbox {
    &.add-switcher {
      margin-bottom: 18px;
      .input {
        left: 0;
      }
      .label {
        margin-top: 1px;
        margin-left: 18px;
      }
    }
  }
  .monit {
    margin-bottom: 24px;
  }
  .input-label {
    margin-bottom: 9px;
    color: #566573;
    font-size: 14px;
  }
  .go-to-announcement {
    text-align: center;
    margin-top: 48px;
    font-size: 14px;
    text-decoration: underline;
    color: #707b7c;
    cursor: pointer;
  }
  .info,
  .instructions,
  .hint {
    display: inline-block;
    margin-bottom: 24px;
    font-size: 12px;
    color: #1f618d;
  }
  .submit-button.create {
    @extend %button;
    margin-top: 24px;
    .input {
      width: 136px;
      background: #2E86C1;
      border-radius: 4px;
      height: 36px;
    }
  }
  @media #{$SMALL-TABLET} {
    margin: 0 auto;
    padding: 0;
    #listing-new-form {
      margin: 0 0 32px;
      border: none;
      border-radius: 0;
    }
  }
  .promotion-checkbox-container {
    display: flex;
    img {
      margin-left: 24px;
      position: relative;
      height: 18px;
    }
  }
  .promotion {
    margin-top: 18px;
    margin-bottom: 24px;

    .checkbox {
      margin-bottom: 12px;
    }
    .input {
      border: 1px solid #21618c;
      &.hover,
      &.focus {
        box-shadow: 0 0 0 1px #21618c;
      }
    }
    .tick {
      border-right: 2px solid #21618c;
      border-bottom: 2px solid #21618c;
    }
    .label {
      color: #21618c;
    }
    ul {
      list-style-type: none;
      padding-left: 30px;
      color: #21618c;
      font-size: 14px;
      li {
        position: relative;
        padding-left: 26px;
        margin-bottom: 6px;
        line-height: 18px;
        svg {
          position: absolute;
          left: 0;
          top: 0;
          height: 16px;
          fill: #f4d03f;
          margin-right: 8px;
        }
      }
    }
  }
}
