@import '../../../../../styles/themes';
@import '../../../../../styles/colors';
@import '../../../../../styles//dimensions.scss';
@import '../../../../../styles/inputs/form/text.scss';
@import '../../../../../styles/inputs/form/select.scss';
@import '../../../../../styles/inputs/form/svgs.scss';
@import '../../../../../styles/inputs/form/checkbox.scss';
@import '../../../../../styles/inputs/form/textarea.scss';
@import '../../../../../styles/inputs/form/button.scss';
@import '../components/pictures/styles/styles.scss';
@import '../components/additional/styles/styles.scss';
@import '../components/features/styles/styles.scss';
@import '../components/description/styles/styles.scss';
@import '../components/map/styles/styles.scss';
@import '../components/publishing/styles/styles.scss';
@import '../../../../../../../shared/app/styles/lined-heading.scss';
@import './category.scss';
@import '../../../../../styles/inputs/text.scss';
@import '../../../../../styles/inputs/select.scss';
@import '../../../../user/components/create/components/email/components/inputs/styles/country-code-phone-number-container.scss';

#listing-create {
  position: relative;
  padding-top: 38px;
  padding-bottom: 120px;
  background: #d7dbdd;

  #listing-create-user {
    padding: 0 24px 24px;
    #user-create-email {
      margin: 0;
    }
    .hint {
      max-width: 280px;
      line-height: 17px;
    }
  }

  #user-create-consents-container {
    margin-left: 0;
    padding-left: 0;
  }

  .text-input {
    @extend %text-input;
    &.area {
      .sqm {
        position: absolute;
        top: 26px;
        right: 12px;
        font-size: 16px;
      }
    }
  }
  .select-element {
    @extend %select-input;
  }
  .text-input,
  .select-element {
    max-width: 280px;
  }
  .country-code-phone-number-container {
    @extend %country-code-phone-number-container;
    .phone-number {
      max-width: 208px;
    }
  }

  #form-container {
    background: white;
    max-width: 640px;
    margin: 0 auto 128px;
    border-radius: 12px;
    overflow: hidden;
  }

  h1 {
    height: 34px;
    background: white;
    text-align: center;
    line-height: 34px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(80, 80, 80);
    text-transform: uppercase;
    color: #7b7d7d;
    letter-spacing: 0.5px;
  }
  h2 {
    margin: 24px 0 18px;
    background: white;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: rgb(88, 88, 88);
    text-transform: uppercase;
  }
  .category {
    @extend %category;
  }
  &.creating-user {
    border-bottom: none;
    padding-bottom: 6px;
  }
  .windmill-medium-spinner {
    display: block;
    position: relative;
    margin: 18px auto;
  }
  @media #{$SMALL-TABLET} {
    margin: 0 auto;
    padding: $FORM-PADDING-PHONE;
  }
  .confirmation,
  .success-container,
  .requesting {
    background: white;
    margin: 0;
    .inner {
      padding: 200px 0;
    }
  }
  .description-question {
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    color: #4d5656;
    margin-top: 4px;
    &:hover {
      color: gray;
    }
    p {
      color: #4d5656;
    }
  }
  .separation-line {
    height: 1px;
    background: #d7dbdd;
    margin: 0;
  }
  .description {
    text-align: justify;
    overflow: hidden;
    transition: max-height 2s ease-in;
    max-height: 200px;
    &.rolled-up {
      max-height: 0;
    }
  }

  .checkbox {
    &.add-switcher {
      margin-bottom: 18px;
      .input {
        left: 0;
      }
      .label {
        margin-top: 1px;
        margin-left: 18px;
      }
    }
  }
  .monit {
    margin-bottom: 24px;
  }
  .input-label {
    margin-bottom: 9px;
    color: #566573;
    font-size: 14px;
  }

  .reach-more {
    text-align: center;
    margin-top: 24px;
    color: #154360;
  }

  .go-to-announcement {
    text-align: center;
    margin-top: 48px;
    font-size: 14px;
    text-decoration: underline;
    color: #707b7c;
    cursor: pointer;
  }

  .info,
  .hint {
    display: inline-block;
    margin-bottom: 24px;
    font-size: 12px;
    color: #1f618d;
  }
}
