@import '../../../../../styles/themes';
@import '../../../../../styles/colors';
@import '../../../../../styles//dimensions.scss';
@import '../../../../../styles/inputs/form/text.scss';
@import '../../../../../styles/inputs/form/select.scss';
@import '../../../../../styles/inputs/form/svgs.scss';
@import '../../../../../styles/inputs/form/checkbox.scss';
@import '../../../../../styles/inputs/form/textarea.scss';
@import '../../../../../styles/inputs/form/button.scss';
@import '../components/pictures/styles/styles.scss';
@import '../components/additional/styles/styles.scss';
@import '../components/features/styles/styles.scss';
@import '../components/description/styles/styles.scss';
@import '../components/map/styles/styles.scss';
@import '../components/publishing/styles/styles.scss';
@import '../../../../../../../shared/app/styles/lined-heading.scss';
@import './category.scss';

#announcement-create {
  position: relative;
  max-width: 640px;
  margin: 64px auto 128px;
  h1 {
    @extend %lined-heading;
    font-size: 16px;
    margin-bottom: 36px;
  }
  h2 {
    @extend %lined-heading;
    text-align: left;
    margin-bottom: 24px;
    &:before {
      border-color: #f4f6f7;
    }
    span {
      padding: 0 12px 0 0;
    }
  }
  .category {
    @extend %category;
  }
  .hint {
    position: relative;
    color: #979a9a;
    margin: 4px 0 24px;
    font-size: 11px;
  }
  &.creating-user {
    border-bottom: none;
    padding-bottom: 6px;
  }
  .windmill-medium-spinner {
    display: block;
    position: relative;
    margin: 18px auto;
  }
  @media #{$SMALL-TABLET} {
    margin: 0 auto;
    padding: $FORM-PADDING-PHONE;
  }
  .confirmation,
  .success-container,
  .requesting {
    background: white;
    margin: 0;
    .input-explanation {
      font-size: 14px;
      margin-bottom: 24px;
      color: #2e4053;
      line-height: 20px;
    }
    .inner {
      padding: 200px 0;
    }
  }
  .success-container {
    .input-explanation {
      text-align: center;
    }
  }
  .input-explanation {
    position: relative;
    margin-bottom: 8px;
    font-size: 13px;
  }
  .description-question {
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    color: #4d5656;
    margin-top: 4px;
    &:hover {
      color: gray;
    }
    p {
      color: #4d5656;
    }
  }
  .separation-line {
    margin: 0 0 20px !important;
  }
  .description {
    text-align: justify;
    overflow: hidden;
    transition: max-height 2s ease-in;
    max-height: 200px;
    &.rolled-up {
      max-height: 0;
    }
  }

  .checkbox {
    &.add-switcher {
      margin-bottom: 18px;
      .input {
        left: 0;
      }
      .label {
        margin-top: 1px;
        margin-left: 18px;
      }
    }
  }
  .monit {
    margin-bottom: 24px;
  }
  .input-label {
    margin-bottom: 9px;
    color: #566573;
    font-size: 14px;
  }

  .reach-more {
    text-align: center;
    margin-top: 24px;
    color: #154360;
  }

  .go-to-announcement {
    text-align: center;
    margin-top: 48px;
    font-size: 14px;
    text-decoration: underline;
    color: #707b7c;
    cursor: pointer;
  }
  .form-input {
    max-width: 360px;
    &.button {
      width: 200px;
      margin: 40px auto 0;
    }
  }
  .area-input {
    .input {
      padding-right: 44px;
    }
    .sqm {
      position: absolute;
      bottom: 36px;
      right: 12px;
    }
  }
  .info {
    display: inline-block;
    margin-bottom: 32px;
    font-size: 12px;
    color: #1f618d;
    svg {
      display: inline-block;
      height: 14px;
      margin-right: 4px;
      fill: #1f618d;
      transform: translate(0, 2.5px);
    }
  }
}
