@import '../../../../../../../styles/themes.scss';

%google-map {
  position: relative;
  height: 584px;
  border: none;
  @media #{$small-pc} {
    height: 642px;
  }
  .gm-bundled-control {
    right: 48px!important;
  }
  @media #{$small-pc} {
    .gm-bundled-control {
      display: none;
    }
  }
  #google-map {
    width: 100%;
    height: 100%;
  }
}
  