@import '../../../../../../../styles/themes.scss';

%google-map {
  position: relative;
  height: 600px;
  @media #{$tablet} {
    .gm-bundled-control {
      display: none;
    }
  }
  padding-left: 300px;
  @media #{$tablet} {
    padding-left: 0;
  }
  #google-map {
    height: 100%;
  }
}
  