@import '../../../styles/simple-index-input';
@import '../../../styles/composite-index-input';

%panel {
  position: absolute;
  border: 1px solid gray;
  border-radius: 2.5px;
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    
  }
  .simple-index-input {
    @extend %simple-index-input;
    &.category, &.district {
      width: 100%;
    }
    margin-bottom: 0;
    border-bottom: 1px solid #CACFD2;
  }
  .composite-input-container {
    @extend %simple-index-input;
    @extend %composite-index-input;
    margin-bottom: 0;
    border-bottom: 1px solid #CACFD2;
    width: 100%;
    .sub-input {
      .options {
        z-index: 3!important;
        .option {
          z-index: 3!important;
        }
      }
    }
  }
}