@import '../../../../../../../styles/themes.scss';
@import '../../tile/styles/tile';

%map-tile {
  @extend %tile;
  z-index: 3;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 400px;
  .close {
    z-index: 1;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    top: 268px;
    right: 12px;
    left: 12px;
    width: 100%;
    max-width: 348px;
    margin: 0 auto;
    padding: 0;
  }
  .core {
    .picture {
      position: relative!important;
      $width: 400px;
      width: $width;
      height: 0;
      background-size: ($width * 1.17777) auto;
      padding-bottom: ($width / 1.7777);
      border-radius: 0;
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        $width: 348px;
        width: $width!important;
        height: 0;
        background-size: ($width * 1.3333) auto;
        padding-bottom: ($width / 1.3333);
        background-position: center; 
      }
    }
  }
}
