@import '../../../../../../../styles/themes.scss';
@import '../../../../../../../styles//inputs/templates/input';
@import '../../tile/styles/tile';

%map-tile {
  @extend %tile;
  z-index: 3;
  border-radius: 4px;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 400px;
  background: white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 3px 8px 3px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  .close {
    z-index: 1;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    top: 416px;
    right: -6px;
    left: -6px;
    max-width: 348px;
    margin: 0 auto;
    padding: 0;
  }
  .data {
    padding: 12px 0;
    .area {
      margin: 0 0 0 36px;
      line-height: 58px;
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        margin: 0 0 0 24px;
      }
    }
    .area, .rent {
      float: left;
    }
    .rent {
      float: right;
      .total, .per-sqm {
        float: left;
        margin: 0 36px 0 0;
        @media only screen and (max-width: $breakpoint-phone-large-max) {
          margin: 0 24px 0 0;
        }
      }
    }
  }
  .picture {
    position: relative!important;
    $width: 400px;
    width: $width;
    height: 0;
    background-size: ($width * 1.17777) auto;
    padding-bottom: ($width / 1.7777);
    border-radius: 0;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      $width: 348px;
      width: $width!important;
      height: 0;
      background-size: ($width * 1.3333) auto;
      padding-bottom: ($width / 1.3333);
      background-position: center; 
    }
    .primary-data {
      .announcement-id {
        position: absolute;
        top: 6px;
        left: 6px;
      }
      .category {
        position: absolute;
        bottom: 6px;
        left: 6px;
      }
      .district {
        position: absolute;
        bottom: 6px;
        left: 44px;
      }
    }
  }
  .bottom-data {
    font: 16px;
    padding: 12px;
    .rooms, .floor, .total-floors {
      float: left;
      margin-right: 24px;
    }
    .calendar {
      float: right;
    }
    .fas, .far {
      margin-right: 8px;
    }
  }
}