@import '../../../../../../../styles/themes.scss';
@import '../../tile/styles/tile';

%map-tile {
  @extend %tile;
  z-index: 3;
  position: absolute;
  top: 56px;
  right: 24px;
  width: 400px;
  @media #{$small-pc} {
    top: 87px;
    right: 8px;
    left: 8px;
    width: auto;
    max-width: 360px;
    margin: 0 auto;
    padding: 0;
  }
  .picture {
    position: relative!important;
    $width: 400px;
    width: $width;
    height: 0;
    background-size: ($width * 1.17777) auto;
    padding-bottom: ($width / 1.7777);
    @media #{$small-pc} {
      $width: 100%;
      width: $width!important;
      height: 0;
      background-size: ($width * 1.3333) auto;
      padding-bottom: ($width / 1.3333);
      background-position: center; 
    }
  }
}
