@import '../../../../../../../styles/themes.scss';
@import '../../tile/styles/tile';
@import './google-map';
@import './tile';
@import '../../../../../../../styles/media-breakpoints';
@import './pin';

#announcement-index-map {
  position: absolute;
  top: 168px;
  right: 0;
  left: 0;
  padding: 0px;
  @media #{$small-pc} {
    top: 328px;
    left: 0;
    right: 0;
  }
  #google-map-container {
    @extend %google-map;
    .announcement-index-tile {
      @extend %map-tile;
    }
    .pin {
      @extend %map-pin;
    }
  }
  &.hidden {
    opacity: 0;
  }
  transition: 0.16s ease-in;
}