@import '../../../../../../../styles/themes.scss';
@import '../../../../../../../styles/media-breakpoints';
@import './google-map';
@import './pin';
@import './tile.scss';
@import './mini_list.scss';

#announcement-index-map {
  max-width: 1214px;
  margin: 0 auto;
  top: 126px;
  position: absolute;  
  right: 0;
  left: 0;
  @media #{$SMALL-PC} {
    top: 164px;
  }
  #google-map-container {
    @extend %google-map;
    .pin {
      @extend %map-pin;
    }
  }
  &.hidden {
    opacity: 0;
  }
  transition: 0.16s ease-in;
}
