@import '../../../../../../../styles/themes.scss';
@import '../../tile/styles/tile';
@import './google-map';
@import './tile';
@import '../../../../../../../styles/media-breakpoints';
@import './panel-container';

#announcement-index-map {
  position: relative;
  width: 100%;
  padding: 0px;
  border: none;
  #google-map-container {
    @extend %google-map;
    h3 {
      position: absolute;
      color: #1B4F72;
      font-size: 16px;
      top: -28px;
      left: 0;
      font-weight: normal;
      .fas.fa-map-marker-alt {
        width: none;
        margin-right: 8px;
      }
    }
    .panel-container {
      @extend %panel-container;
    }
    .announcement-index-tile {
      @extend %map-tile;
    }
  }
  &.hidden {
    opacity: 0;
  }
  transition: 0.16s ease-in;
}