@import '../../../../../../../styles/container';
@import '../../../../../../../styles/headings/main-heading';
@import '../../../../../../../styles/inputs/text';
@import '../../../../../../../styles/inputs/select.scss';
@import '../../../../../../../styles/inputs/button';
@import '../../../../../../../styles/inputs/checkbox.scss';
@import '../../../../../../../styles/inputs/text.scss';
@import '../../../../../../../../../shared/app/styles/media-breakpoints';

%users-new-form {
  @extend %container;
  margin-top: 60px;
  padding: 40px;
  .main-heading {
    @extend %main-heading;
    svg {
      top: 2px;
    }
  }
  .text-input {
    @extend %text-input;
  }
  .select {
    @extend %select;
    label {
      svg {
        display: inline-block;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
      }
    }
  }
  .checkbox {
    @extend %checkbox;
  }
  fieldset {
    border: none;
    padding: 0;
  }
  .logo {
    margin-top: 22px;
  }
  .terms-of-service-consent {
    margin-top: 20px;
    .error {
      font-size: 14px;
      color: $ERROR-COLOR;
    }
  }
  .submit-button {
    @extend %button;
    margin-top: 20px;
  }
  @media #{$LARGE-PHONE} {
    margin-top: 0;
    border: none;
    border-radius: 0;
  }
}
