@import '../../../../../../../styles/headings/main-heading';
@import '../../../../../../../styles/inputs/text';
@import '../../../../../../../styles/inputs/select.scss';
@import '../../../../../../../styles/inputs/button';
@import '../../../../../../../styles/inputs/checkbox.scss';
@import '../../../../../../../styles/inputs/text.scss';

%users-new-form {
  .main-heading {
    @extend %main-heading;
    svg {
      top: 2px;
    }
  }
  fieldset {
    border: none;
    padding: 0;
  }
  .logo {
    margin-top: 22px;
  }

  .text-input {
    @extend %text-input;
  }
  .select {
    @extend %select;
  }
  .checkbox {
    @extend %checkbox;
  }
  .terms-of-service-consent {
    margin-top: 20px;
    .error {
      font-size: 14px;
      color: $ERROR-COLOR;
    }
  }
  .submit-button {
    @extend %button;
    margin-top: 20px;
  }
}
