@import '../../../styles/availability-date';
@import '../../../../../../../styles/media-breakpoints';
@import './inputs';

%panel {
  z-index: 3;
  position: relative;
  @extend %inputs;
  max-width: 1200px;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  @media #{$phone} {
    width: 100%;
    height: 268px;
  }
  .pane {
    float: left;
    width: 540px;
    margin: 0;
    @media #{$phone} {
      position: relative;
      float: none;
      width: 100%;
      &.primary {
        .simple-index-input {
          position: absolute;
          right: 12px;
          left: 12px;
          &.category {
            top: 0;
          }
          &.district {
            top: 54px;
          }
        }
        .composite-input-container {
          position: absolute;
          right: 12px;
          left: 12px;
          width: auto;
          &.area {
            top: 108px;
          }
          &.rent {
            top: 162px;
          }
        }
      }
      &.secondary {
        display: none;
      }
    }
  }
  .button {
    position: relative;
    float: left;
    width: 90px;
    height: 90px;
    margin: 0 10px;
    @media #{$phone} {
      position: absolute;
      float: none;
      top: 216px;
      left: 12px;
      right: 12px;
      width: auto;
      margin: 0;
      height: 42px;
      line-height: 42px;
    }
    .input {
      font-weight: normal;
      width: 100%;
      height: 100%;
      display: block;
      line-height: 96px;
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 2.5px;
      background: #DC7633;
      color: #F7F9F9;
      cursor: pointer;
      font-size: 16px;
      &.hover {
        background: transparentize(#5DADE2, 0.2)
      }
      .fa-search {
        margin-right: 8px;
      }
      @media #{$phone} {
        width: 100%;
        height: 42px;
        line-height: 42px;
      }
    }
  }
}