@import '../../../../../../../styles/media-breakpoints';

#announcement-index-panel {
  z-index: 2;
  position: relative;
  @media #{$small-pc} {
    padding-left: 10px;
    padding-right: 10px;
  }
}
