@import '../../../../../../../../shared/app/styles/media-breakpoints';

.article-link {
  float: left;
  width: 33%;
  padding: 0;
  border-radius: 5px;
  &:nth-of-type(3n-1) {
    margin-left: .5%;
    margin-right: .5%;
  }
  margin-bottom: .5%;
  .picture-and-title {
    position: relative;
    display: block;
    aspect-ratio: 16/10;
    border-radius: 5px;
    img {
      width: 100%;
      display: block;
      height: 100%;
      border-radius: 5px;

    }
    .title {
      position: absolute;
      font-size: 22px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      padding: 10px 15px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      min-height: 76px;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.5;
      text-shadow: 1px 1px 1px rgba(42,42,42,0.5);
    }
    color: white;
  }
  @media #{$LARGE-TABLET} {
    width: 48%;
    &:nth-of-type(3n-1) {
      margin-left: 0;
      margin-right: 0;
    }
    &:nth-of-type(2n) {
      margin-left: 2%;
      margin-right: 0;
    }
    margin-bottom: 2%;
    .picture-and-title {
      .title {
        font-size: 2vw;
      }
    }
  }
  @media #{$LARGE-PHONE} {
    float: none;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    &:nth-of-type(3n-1) {
      margin-left: 0;
      margin-right: 0;
    }
    &:nth-of-type(2n) {
      margin-left: 0;
      margin-right: 0;
    }
    margin-bottom: 20px;
    .picture-and-title {
      .title {
        font-size: 4.5vw;
      }
    }
  }
}
