@import '../../../../../../../../shared/app/styles/media-breakpoints';

.article-link {
  float: left;
  width: 33%;
  padding: 0;
  border-radius: 5px;
  &:nth-of-type(2) {
    margin-left: .5%;
    margin-right: .5%;
  }
  .picture-and-title {
    position: relative;
    display: block;
    aspect-ratio: 16/10;
    border-radius: 5px;
    img {
      display: block;
      height: 100%;
      border-radius: 5px;

    }
    .title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      padding: 10px 15px;
      background: rgba(0,0,0,0.5);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      min-height: 76px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    color: white;
    font-size: 17px;
  }
  @media #{$LARGE-TABLET} {
    width: 48%;
    margin-bottom: 50px;
    &:nth-of-type(2) {
      margin-left: 2%;
      margin-right: 0;
    }
  }
  @media #{$LARGE-PHONE} {
    float: non;
    width: 100%;
    padding: 0 20px;
    &:nth-of-type(2) {
      margin-left: 0;
    }
  }
}
