@import '../../../../../../../styles/themes.scss';

#announcement-show-features {
  margin: 24px 12px 12px;
  background: white;
  font-size: 14px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 12px;
  position: relative;
  @media #{$phone} {
    margin: 24px 14px 14px;
  }
  .item {
    float: left;
    margin-right: 12px;
    @media #{$phone} {
      float: none;
    }
    .icon, .text {
      float: left;
    }
    .icon {
      height: 12px;
      line-height: 19px;
      padding-right: 5px;
      @media #{$phone} {
        position: absolute;
      }
      .fa-circle {
        font-size: 6px;
      }
    }
    .text {
      height: 24px;
      line-height: 24px;
      @media #{$phone} {
        height: auto;
        margin-left: 14px;
      }
    }
  }
}
