@import '../../../../../../../styles/media-breakpoints';
@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/container';

#listing-index-panel {
  position: relative;
  padding: 12px;
  .filter {
    position: relative;
    float: left;
    width: 200px;
    height: 36px;
    margin-right: 10px;
    border-radius: 18px;
    background: white;
    line-height: 36px;
    font-size: 14px;
    cursor: pointer;
    > input {
      width: 100%;
      height: 100%;
      border: 1px solid #3498DB;
      border-radius: 18px;
      padding-left: 36px;
      background: none;
      color: #1A5276;
      caret-color: transparent;
      cursor: pointer;
      &::placeholder {
        color: #1A5276;
      }
    }
    > svg {
      height: 10px;
      position: absolute;
      top: 13px;
      left: 13px;
      fill: #2874A6;
    }
    @media #{$LARGE-PHONE} {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  @media #{$LARGE-PHONE} {
    margin: 0;
    padding: 10px 10px 0;
    border-radius: 0;
  }
}
