@import '../../../../../../../styles/media-breakpoints';
@import '../../../../../../../styles/colors.scss';
@import './categories.scss';
@import './map_catalogue_switch.scss';

#announcement-index-panel {
  z-index: 3;
  position: relative;
  padding: 17px 0;
  @media #{$LARGE-TABLET} {
    padding: 10px 10px 10px 20px;
  }
  @media #{$SMALL-TABLET} {
    padding: 10px;
  }
  .map-catalogue-switch {
    @extend %map-catalogue-switch;
  }
  .area {
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    height: 82px;
    justify-content: center;

    @media #{$SMALL-TABLET} {
      float: none;
    }

    .label {
      font-size: 13px;
      margin-bottom: 4px;
      color: #797D7F;
    }
    .presentation {
      font-size: 14px;
      font-weight: bold;
      color: #626567;
      cursor: pointer;
      svg {
        height: 15px;
        transform: scale(1.3) translateY(1.2px);
        margin-left: 6px;
      }
    }

    .area-panel {
      position: absolute;
      z-index: 999;
      height: 60px;
      width: 206px;
      background: white;
      top: 72px;
      left: -56px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
      border-radius: 4px;
      .panel-input {
        float: left;
        width: 80px;
        height: 100%;
        margin: 0;
        padding: 8px 5px 25px 10px;
        text-align: center;
        input {
          width: 100%;
          height: 100%;
          border-top: none;
          border-right: none;
          border-left: none;
          text-align: center;
          font-size: 16px;
        }
      }
      .sqm {
        float: left;
        font-size: 16px;
        padding-top: 28px;
        padding-left: 5px;
        .superscript {
          position: relative;
          top: -0.5em; 
          font-size: 80%;
          margin-left: 2px;
        }
      }
    }

    .area-panel-cover {
      z-index: 998;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .superscript {
    position: relative;
    top: -0.5em; 
    font-size: 80%;
    margin-left: 2px;
  }
}
