%pin {
  &.office {
    color: #2980B9;
  }
  &.usable-premises {
    color: #D35400;
  }
  // background: #ECF0F1;
  background: white;
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
  font-size: 20px;

  // box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  //             0px 3px 8px 3px rgba(0, 0, 0, 0.14),
  //             0px 3px 14px 2px rgba(0, 0, 0, 0.12);

}