%pin {
  &.office {
    background: #6C3483;
  }
  &.usable-premises {
    background: #CD5C5C;
  }
  border-radius: 3px;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  color: #F7F9F9;
}