%pin {
  &.office {
    color: #2980B9;
  }
  &.usable-premises {
    color: #D35400;
  }
  &.apartment {
    color: #1E8449;
  }
  background: linear-gradient(90deg, #ECF0F1 0%, #F8F9F9 100%);
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
}
