#announcement-create {
  .header {
    &.section {
      position: relative;
      margin: 0 0 20px;
      font-size: 15px;
      font-weight: normal;
      .required {
        position: relative;
        top: -1px;
        left: 5px;
        padding-left: 13px;
        font-size: 13px;
        font-weight: normal;
        color: #CB4335;
        span {
          position: absolute;
          top: -14px;
          left: 0;
          font-size: 42px!important;
        }
      }
    }   
  }
}
