@import '../../../../../styles/themes';
@import './headers';
@import '../../../../../styles/monits/blue-monit';

#announcement-create {
  box-shadow: none;
  margin: 96px auto 40px;
  background: white;
  padding: 36px;
  h1 {
    color: #566573;
    line-height: 24px;
    text-align: justify;
  }
  .description {
    max-width: 520px;
    text-align: justify;
    .blog-paragraph {
      position: relative;
      font-size: 15px;
      margin-bottom: 4px;
      color: #566573;
      .fa-check {
        left: 0;
        margin-right: 4px;
        font-size: 11px;
        position: absolute;
        top: 4px;
      }
      &.check {
        padding-left: 18px;
      }
    }
  }
  h2 {
    margin-top: 36px;
    color: #566573;
    text-align: justify;
    .number {
      float: left;
      line-height: 18px;
      font-size: 12px;
      height: 19px;
      width: 19px;
      text-align: center;
      border-radius: 12px;
      border: 1px solid #566573;
      margin-right: 6px;
    }
    .text {
      float: left;
      line-height: 22px;
    }
  }

  .checkbox {
    &.add-switcher {
      margin-bottom: 18px;
      .input {
        left: 0;
      }
      .label {
        margin-top: 1px;
        margin-left: 18px;
      }
    }
  }
  .hint {
    position: relative;
    margin-bottom: 12px;
    font-size: 13px;
    text-align: justify;
    line-height: 18px;
    color: #566573;
    .fas {
      display: none;
      position: absolute;
      left: 0;
      margin-right: 8px;
      font-size: 14px;
    }
  }
  @media #{$phone} {
    margin: 64px 8px 8px;
    padding: 12px;
  }
  .page-header, .section-header {
    color: #1B2631;
    &.additional-data {
      margin-top: 32px;
    }
  }
  .monit {
    margin-bottom: 24px;
  }
  .input-label {
    margin-bottom: 12px;
    color: #566573;
    font-size: 15px;
    .fas {
      color: #626567;
      font-size: 13px;
      line-height: 15px;
      margin-right: 2px;
    }
  }
  .form-input {
    &.radio {
      &.checked {
        background: #21618C;
      }
      &.hover {
        box-shadow: 0 0 0 2px #21618C;
      }
      .input {
        .tick {
          background: #21618C;
        }
      }
      .label {
        padding-left: 36px!important;
      }
    }
    &.text, &.select {
      $border-color: #AEB6BF;
      .input {
        border-color: $border-color;
        &.hover, &.focus {
          border-color: #5D6D7E;
          box-shadow: 0 0 0 1px #5D6D7E;
        }
      }
      .fas, .far {
        background: none;
        width: 42px;
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        font-size: 12px;
        color: #5D6D7E;
      }
      &.hover, &.focus {
        .fas, .far {
          border-top: 1px solid #5D6D7E;
          border-left: 1px solid #5D6D7E;
          border-bottom: 1px solid #5D6D7E;
        }
      }
    }
  }
}
