@import '../../../../../styles/themes';
@import './headers';
@import '../../../../../styles/monits/blue-monit';

#announcement-create {
  margin: 96px auto;
  .monit {
    margin-bottom: 24px;
  }
  .section {
    margin-bottom: 56px;
  }
}
