@import '../../../../../../../../../styles/inputs/select.scss';

%country-code-phone-number-container {
  position: relative;
  .country-code {
    @extend %select-element;
    position: absolute!important;
    top: 21px;
    width: 80px;
    .label {
      display: none;
    }
    .input {
      width: 100%;
      padding-left: 20px!important;
    }
    svg {
      top: 14px;
      right: 13px;
    }
  }
  .phone-number {
    margin-left: 88px;
  }
}
