@import '../../../../../../../../../styles/inputs/form/svgs.scss';

.user-create-email-inputs-container {
  h2 {
    font-size: 15px;
    color: $TEXT-HEADER-TIER-TWO-COLOR;
  }
  .form-input {
    max-width: 360px;
    &.phone-country-code {
      position: absolute;
      margin: 0;
      width: 80px;
      .input {
        padding-left: 15px;
        border-right: none;
      }
    }
    &.phone-body {
      max-width: 280px;
      &.text {
        margin-left: 80px;
        padding-left: 0;  
        .input {
          padding-left: 12px;
        }
        .label {
          position: relative;
          left: -80px!important;
        }
        .error-container {
          position: relative;
          left: -80px!important;
        }
      }
    }
  }
}
