@import '../../../../../../../../../styles/inputs/form/svgs.scss';
@import '../../../../../../../../../styles/colors';
@import '../../../../../../../../../styles/inputs/text.scss';
@import './country-code-phone-number-container.scss';

#user-create {
  .inputs {
    padding: 0 32px;
    padding-top: 24px;
    h2 {
      font-size: 15px;
      color: $TEXT-HEADER-TIER-TWO-COLOR;
    }
    .hint {
      color: #1f618d;
      line-height: 16px;
      font-size: 12px;
      margin-bottom: 12px;
    }
    .text-input {
      @extend %text-input;
    }
    .country-code-phone-number-container {
      @extend %country-code-phone-number-container;
    }
  }
}
