@import '../../../styles/container';
@import './provision';
@import '../../../../../shared/app/styles/media-breakpoints';

%administrative-document {
  @extend %container;
  padding: 32px;
  margin-top: 114px;
  margin-bottom: 64px;
  min-width: 768px;
  @media #{$LARGE-PHONE} {
    min-width: auto;
    width: 100%;
    margin: 0;
  }
  h1 {
    text-align: center;
    margin-bottom: 32px;
    font-size: 26px;
  }
  .provision {
    @extend %provision;
  }
}
