@import '../../../../../styles/themes.scss';
@import '../../../../../styles/inputs/form/form';
@import '../components/connecting/styles/styles.scss';
@import '../components/consents/styles/styles.scss';
@import '../components/email/components/inputs/styles/styles.scss';
@import '../components/email/components/submit/styles/styles.scss';
@import '../components/email/components/verify/styles/styles.scss';
@import '../components/email/styles/styles.scss';
@import '../../../../announcement/components/create/components/steps/styles/styles.scss';
@import '../../../../../styles/inputs/form/checkbox.scss';

#user-create-container {
  margin: 70px auto 0;
  padding: 0 !important;
  max-width: 640px;
  border: 1px solid #D0D3D4;
  h1 {
    font-size: 16px;
    color: #566573;
    margin: 0;
    padding: 18px;
  }
  .create-points {
    padding-bottom: 60px;
  }
  .input-explanation {
    color: #424949;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
