@import '../../../../../styles/themes.scss';
@import '../../../../../styles/inputs/form/form';

#user-create-container {
  @extend %narrow-container;
  padding: 48px;
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    padding: 12px;
  }
  .page-header {
    @extend %page-header;
  }
  .form-input {
    @extend %form-input;
    &.text, &.select {
      width: 100%;
      .input {
        width: 100%;
      }
    }
  }
  

}