@import '../../../../../styles/themes.scss';
@import '../../../../../styles/inputs/form/form';

#user-create-container {
  @extend %narrow-container;
  .page-header {
    @extend %page-header;
  }
  .input-container {
    @extend %form-input;
    &.select, &.text {
      height: 46px;
      margin-bottom: 22px;
      .error-container {
        padding-top: 2px;
      }
    }
  }
}
