.view {
  composes: view from '../../../../../../common/styles/view.module.css';
}

.container {
  max-width: 768px;
}

.congratulations {
  text-align: center;
}

.link {
  max-width: 100%;
  margin-top: 30px;
  display: block;
}

.image {
  width: 100%;
  border-radius: 4px;
}

.socialImageExplanation {
  margin-top: 30px;
  line-height: 1.5;
}

.promotionActions {
  margin-top: 30px;
}

.shareOnFacebook {

}

.shareOnFacebookButtonContainer {
  /* TODO */
}

.shareOnFacebookButtonContainer button {
  border: none;
  background: blue;
  width: 200px;
  height: 40px;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.shareOnFacebookButtonContainer svg {
  fill: white;
  height: 100%;
}
