@import '../../../../../../../styles/headings/h1';
@import '../../../../index/components/tile/styles/styles.scss';
@import '../../../../common/action-buttons/styles.scss';
@import '../../../../common/promotion-benefits/styles/styles.scss';

#listing-create {
  #success-container {
    max-width: 608px;
    margin: 0 auto;
    .congratulations {
      margin: 30px 0;
      text-align: center;
    }
    .listing-index-tile {
      @extend %listing-index-tile;
      margin-bottom: 36px;
      h2 {
        background: none;
      }
    }
    @extend %action-buttons;
    .promotion-actions {
      .promote,
      .share-on-facebook {
        display: inline-block;
        vertical-align: top;
        width: 284px;
        @media #{$LARGE-PHONE} {
          width: 100%;
        }
      }
      .promote {
        margin-right: 40px;
      }
    }
    .promotion-benefits {
      @extend %promotion-benefits;
    }
    .facebook-sharer-button {
      @extend %button-with-plaque;
      @extend %share-on-facebook-button;
    }
    @media #{$SMALL-TABLET} {
      padding: 60px 18px 60px;
    }
    &.promoted {
      .promotion-actions {
        text-align: center;
      }
    }
  }
}
