@import '../../shared/styles/announcement-tile.scss';
@import '../../../../../../../styles/dimensions.scss';

%list-tile {
  @extend %announcement-tile;
  .control {
    border-top: 1px solid $CONTAINER-BORDER-COLOR;
    padding: 20px;
    @media #{$LARGE-PHONE} {
      padding: 10px;
    }
    .info {
      margin-bottom: 5px;
    }
    .separation-line {
      max-width: 360px;
      margin: 10px 0;
    }
  }
}
