@import '../../../../../../../styles/themes.scss';
@import './list-tile';
@import './destroy_modal.scss';

#announcement-index-list {
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding-top: 28px;
  @media #{$LARGE-PHONE} {
    width: 100%;
  }
  .announcements {
    .announcement-tile {
      @extend %list-tile;
    }
  }
}
