@import '../../../../../../../styles/colors';
@import './destroy_modal';
@import '../../../../common/tile/styles/tile';
@import '../../../../../../../../../shared/app/styles/lined-heading';

#listing-index {
  &.user {
    background: $BACKGROUND-LIGHT-GRAYISH-COLOR;
  }
}

#listing-index-user {
  position: relative;
  width: 880px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  background: $BACKGROUND-LIGHT-GRAYISH-COLOR;
  @media #{$LARGE-PHONE} {
    width: 100%;
  }
  h1 {
    margin: 0px 0 32px 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 13px;
    color: #4d5656;
    font-weight: normal;
    text-transform: uppercase;
  }
  .announcements {
    @media #{$LARGE-PHONE} {
      padding: 0 18px 18px;
    }
  }
  .listing-tile {
    @extend %tile;
    float: left;
    width: 48%;
    border-radius: 8px;
    margin-right: 4%;
    margin-bottom: 4%;
    padding: 18px 0;
    background: white;
    h2 {
      margin: 0 18px 18px;
    }
    .primary-data {
      margin: 18px;
    }
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    @media #{$LARGE-PHONE} {
      float: none;
      width: auto;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
  .control {
    margin: 18px 18px 0;
    .info {
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
    }
    .edit-delete {
      margin-top: 24px;
      text-align: center;
    }
    .edit {
      margin-right: 24px;
      color: #2471a3;
    }
    .delete {
      color: #c0392b;
    }
    button {
      display: inline-block;
      background: none;
      border-radius: 5px;
      border: none;
      text-decoration: underline;
      font-size: inherit;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}
