#user-create-consents-container {
  margin: 0 32px;
  padding-bottom: 12px;
  .checkbox-container {
    .checkbox.form-input {
      .input {
        transform: scale(0.8)
      }
      .label {
        top: 2px;
        left: 8px;
        font-size: 12px;
      }
    }
  }
  .error {
    margin: 6px 0 0 0;
    color: $TEXT-ERROR-COLOR;
    line-height: 16px;
    font-size: 12px;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: #2a6098;
    &:hover {
      color: #5d6d7e;
    }
  }
}
