@import '../../../../../../shared/app/styles/media-breakpoints';

#header {
  z-index: 2048;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  color: rgb(50, 50, 50);
  border-bottom: 1px solid lightgray;
  background: white;
  .inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    @media #{$LARGE-PHONE} {
      padding: 0;
    }
    .logo {
      display: block;
      float: left;
    }
    .links {
      float: right;
      .header-link {
        float: left;
        margin-left: 25px;
        text-align: center;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
        &.hover {
          text-decoration: underline;
        }
        :hover {
          svg {
            fill: #EAF2F8;
          }
          color: #EAF2F8;
        }
      }
    }
  }
}
