@import '../../../../styles/colors.scss';

.icon {
  transform-origin: top left;
  .lens {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
    border: 20px solid $HEADER_TEXT_COLOR;
    border-radius: 100px;
    text-align: center;
    line-height: 168px;
    font-size: 80px;
    font-weight: 800;
  }
  .handle {
    position: absolute;
    top: 240px;
    left: 130px;
    height: 24px;
    width: 120px;
    background: $HEADER_TEXT_COLOR;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    transform: rotate(45deg);
    transform-origin: right;
  }
}
