@import '../../../../common/skills/styles/styles.scss';
@import '../../../../common/cooperation-mode-and-location/styles/styles.scss';
@import '../../../../common/remuneration/styles/styles.scss';
@import '../../../../../../../styles/colors.scss';
@import '../../../../../../../../../shared/app/styles/media-breakpoints.scss';

%postings-index-tile {
  display: block;
  float: none;
  position: relative;
  background: white;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  text-wrap: nowrap;
  padding: 0;
  .company {
    width: calc(45% - 40px);
    display: inline-block;
    margin: 20px 0 0 20px;
    vertical-align: top;
    .company-logo {
      vertical-align: top;
      display: inline-block;
      border-radius: 0;
      overflow: hidden;
      background: white;
      height: 36px;
      margin-right: 10px;
      position: relative;
      top: 2px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .business-name-and-industry {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      .business-name {
        margin: 0;
        vertical-align: top;
        display: inline-block;
        color: #424949;
        font-size: 17px;
        font-weight: 500;
        overflow: hidden;
        max-width: 160px;
        text-overflow: ellipsis;
      }
      .industry {
        color: #4d5656;
        font-size: 13px;
        margin: 0;
        svg {
          position: relative;
          height: 11px;
          top: 1px;
          margin-right: 6px;
          fill: #4d5656;
        }
      }
    }
  }
  .position-cooperation-mode-and-location {
    display: inline-block;
    vertical-align: top;
    width: calc(55% - 40px);
    margin: 20px 20px 0 0;
    .role {
      display: inline-block;
      font-size: 17px;
      font-weight: 500;
      color: #424949;
    }
    .cooperation-mode-and-location {
      @extend %cooperation-mode-and-location;
      margin: 0;
      .location {
        font-size: 13px;
        svg {
          height: 12px;
          top: 1px;
        }
      }
      svg {
        height: 13px;
        margin-right: 4px;
      }
      .cooperation-mode {
        margin-right: 12px;
        font-size: 13px;
        svg {
          height: 10px;
          top: 0px;
        }
      }
    }
  }
  .contract-and-remuneration {
    @extend %contract-and-remuneration;
    padding: 0;
    margin: 10px 0 0 20px;
    .b2b,
    .employment {
      display: inline-block;
      text-align: left;
      font-weight: 400;
      .contract {
        font-size: 10px;
        line-height: 10px;
      }
      .remuneration {
        line-height: 15px;
        font-size: 15px;
      }
      .per {
        font-size: 12px;
      }
    }
    .b2b {
      margin-right: 30px;
    }
  }
  .skills {
    @extend %skills;
    scale: .9;
    transform-origin: top left;
    text-wrap: nowrap;
    margin: 0 15px;
    .skill {
      display: inline-block;
      float: none;
      margin-right: 15px;
      scale: 0.9;
      transform-origin: top left;
      .name {
        margin: 0;
      }
      .levelNames {
        margin-top: 2px;
      }
    }
  }
  @media #{$LARGE-TABLET} {
    margin: 0;
    height: 370px;
    padding: 15px;
    .company {
      display: block;
      margin: 0;
    }
    .position-cooperation-mode-and-location {
      display: block;
      margin: 15px 0 0;
      .role {
        line-height: 10px;
      }
      .cooperation-mode-and-location {
        display: block;
        .location {
          display: inline-block;
          font-size: 15px;
        }
        .cooperation-mode {
          display: inline-block;
          font-size: 15px;
        }
      }
    }
    .contract-and-remuneration {
      margin: 15px 0 0;
      height: 32px;
      .b2b,
      .employment {
        text-align: left;
        display: inline-block;
        .contract {
          display: block;
          font-size: 12px;
        }
        .remuneration {
          display: block;
          .per {
            font-size: 12px;
          }
        }
      }
      .b2b {
        margin-right: 20px;
      }
    }
    .skills {
      scale: 1;
      padding: 0;
      margin: 0;
      text-wrap: wrap;
      .skill {
        margin-top: 15px;
        margin-right: 15px;
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        .level-name {
          display: none;
        }
      }
    }
  }
}
