// @import '../../../../common/skills/styles/styles.scss';
@import '../../../../common/cooperation-mode-and-location/styles/styles.scss';
@import '../../../../common/remuneration/styles/styles.scss';
@import '../../../../../../../styles/colors.scss';
@import '../../../../../../../../../shared/app/styles/media-breakpoints.scss';

%postings-index-tile {
  display: block;
  float: none;
  margin-top: 10px;
  border: none;
  // border-radius: 8px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0;
  background: white;
  position: relative;
  // border-radius: ;
  border: 1px solid lightgray;
  .company {
    width: 70px;
    float: left;
    margin: 15px 0 0 15px;
    color: #424949;
    .company-logo {
      float: left;
      height: 36px;
      width: 50px;
      margin-right: 20px;
      position: relative;
      top: 2px;
      position: relative;
      text-align: center;
      img {
        vertical-align: bottom;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        top: 4px;
        width: auto !important;
      }
    }
    .business-name-and-industry {
      display: none;
    }
  }
  .position-cooperation-mode-and-location {
    float: left;
    width: calc(50% - 20px);
    margin: 20px 20px 0 0;
    color: #424949;
    .role {
      max-width: 100%;
      overflow: hidden;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: 500;
      vertical-align: top;
      display: inline-block;
      line-height: 18px;
    }
    .cooperation-mode-and-location {
      @extend %cooperation-mode-and-location;
      margin: 0;
      font-size: 13px;
      .cooperation-mode {
        float: left;
        margin-right: 12px;
        svg {
          margin-right: 5px;
          height: 10px;
          top: 0px;
        }
      }
      .location {
        float: left;
        svg {
          margin-right: 5px;
          height: 12px;
          top: 1px;
        }
      }
    }
  }
  .contract-and-remuneration {
    @extend %contract-and-remuneration;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 140px;
    .b2b,
    .employment {
      font-weight: 400;
      padding: 0;
      margin: 0;
      height: auto;
      width: auto;
      .contract {
        font-size: 10px;
        line-height: 10px;
        font-variant: small-caps;
        text-align: left;
      }
      .remuneration {
        line-height: 14px;
        font-size: 14px;
        .amount {
          margin-right: 5px;
        }
        .currency {
          margin-right: 2px;
        }
      }
      .per {
        font-size: 12px;
      }
    }
    .employment {
      margin-top: 5px;
      height: auto;
    }
  }
  .skills {
    margin: 5px 0 15px 15px;
    padding-bottom: 15px;
    .skill {
      display: inline-block;
      margin-right: 20px;
      margin-top: 10px;
      .name {
        font-size: 13px;
        line-height: 14px;
      }
      .levels {
        margin-top: 6px;
        .level {
          line-height: 10px;
          width: 11px;
          height: 11px;
          margin-right: 6px;
        }
      }
    }
  }
  @media #{$LARGE-TABLET} {
    margin: 0;
    height: 370px;
    padding: 20px;
    .company {
      float: none;
      margin: 0;
      width: 100px;
      .company-logo {
        width: 100%;
      }
    }
    .position-cooperation-mode-and-location {
      float: none;
      width: 100%;
      margin: 15px 0 0;
      .cooperation-mode-and-location {
        .cooperation-mode {
          font-size: 15px;
          margin: 0;
          width: 80px;
        }
        .location {
          width: calc(100% - 110px);
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 15px;
        }
      }
    }
    .contract-and-remuneration {
      position: static;
      padding: 0;
      margin: 25px 0 0 0;
      .b2b,
      .employment {
        text-align: left;
        display: inline-block;
        .contract {
          display: block;
          font-size: 12px;
        }
        .remuneration {
          display: block;
          margin-top: 4px;
          .amount {
            font-size: 14px;
          }
          .per {
            font-size: 12px;
          }
        }
      }
      .b2b {
        margin-right: 20px;
      }
    }
    .skills {
      margin: 0;
      .skill {
        margin-top: 15px;
        width: 100px;
      }
    }
  }
}
