@import '../../../../../../../../../styles/inputs/form/svgs.scss';

.user-create-email-inputs-container {
  max-width: 400px;
  .form-input {
    &.text, &.select {
      margin-bottom: 30px;
      .label {
        padding-top: 6px;
        left: 35px;
      }
    }
    &.phone-country-code {
      position: absolute;
      width: 120px;
      .input {
        padding-left: 15px;
      }
    }
    &.phone-body {
      margin-left: 120px;
      margin-bottom: 0;
      .label {
        left: 2px;

      }
    }
  }
  .input-explanation-user {
    color: gray;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: justify;
    line-height: 20px;
    color: #5F6A6A;
  }
}
