.user-create-email-inputs-container {
  max-width: 360px;
  .form-input {
    &.phone-country-code {
      position: absolute!important;
      width: 84px;
    }
    &.phone-body {
      margin-left: 96px;
    }
  }
}