%contract-and-remuneration {
  padding: 20px;
  .contract {
    display: inline-block;
    font-size: 12px;
  }
  .remuneration {
    font-size: 20px;
    font-family: Oswald, sans-serif;
    .amount {
      display: inline-block;
      margin-right: 5px;
    }
    .currency {
      display: inline-block;
      margin-right: 4px;
    }
    .per {
      display: inline-block;
      font-size: 14px;
    }
  }
  .b2b {
    color: #ba4a00;
  }
  .employment {
    color: #2874a6;
  }
}
