@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');

.logo {
  font-family: 'Strait', system-ui;
  padding-left: 0;
  position: relative;
  top: 0;
  left: 0;
  .skillfind {
    font-size: 20px;
    line-height: 60px;
    display: inline-block;
  }
  .icon {
    display: inline-block;
    position: relative;
    top: -4px;
    left: 2px;
  }
  .tech {
    position: relative;
    font-size: 20px;
    line-height: 60px;
    display: inline-block;
    left: 10px;
    margin-left: 1px;
  }
}
