@import '../../../../../styles/themes.scss';
@import '../../../../../styles/inputs/form/form';
@import '../components/email-password/styles/styles.scss';

#user-authorize {
  max-width: 640px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 18px;
  border-radius: 4px;
  border: 1px solid lightgray;
  @media #{$phone} {
    margin: 58px 12px;
  }
  h1 {
    font-size: 16px;
    color: #566573;
  }
}
