@import '../../../../../styles/themes.scss';
@import '../../../../../styles/inputs/form/form';

#user-authorize {
  padding: 25px;
  max-width: 420px;
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    padding: 12px;
  }
  .form-input {
    width: 100%;
    width: 370px;
  }
}