.create-points {
  position: relative;
  max-width: 750px;
  margin: 10px auto 30px;
  @media #{$LARGE-PHONE} {
    margin: 10px 10px 30px;
  }
  .line {
    height: 22px;
    border-bottom: 2px solid $STEPS-LINE-COLOR;
    &.success {
      border-bottom: 2px solid $STEPS-SUCCESS-COLOR;
    }
  }
  .point {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: white;
    text-align: center;
    line-height: 32px;
    border: 1px solid $STEPS-FILL-COLOR;
    svg {
      fill: $STEPS-FILL-COLOR;
      height: 14px;
    }
    &.first {
      top: 6px;
      svg {
        margin-left: 2px;
      }
    }
    &.second {
      top: 6px;
      left: 0;
      right: 0;
      margin: 0 auto;
      svg {
        margin-left: 2px;
      }
    }
    &.last {
      top: 6px;
      right: 0;
      line-height: 34px;
    }
    &.current {
      border: 1px solid $STEPS-CURRENT-COLOR;
      svg {
        fill: $STEPS-CURRENT-COLOR;
      }
    }
    &.success {
      border: 1px solid $STEPS-SUCCESS-COLOR;
      svg {
        fill: $STEPS-SUCCESS-COLOR;
      }
    }
  }
}
