@import '../components/page/styles/styles';
@import '../components/page/styles/styles';
@import '../../../shared/app/components/page/styles/breadcrumbs.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  background: rgb(42, 42, 42);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.stretched-content {
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: color 0.16s ease-in;
  color: inherit;
}

.breadcrumbs {
  @extend %breadcrumbs;
  max-width: 640px;
  color: #F2F3F4;
  font-variant-caps: all-small-caps;
  width: 100%;
  text-align: left;
  font-size: 18px;
  padding-left: 4px;
  li {
    font-weight: bold;
  }

  position: relative;

  svg {
    position: relative;
    fill: white;
    top: 1px;
    height: 11px;
  }
  
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

strong {
  font-weight: 600;
}

code {
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
  font-family: 'Inconsolata', monospace;
}

// html,
// body {
//   // overflow-y: hidden;
//   // overflow-x: hidden;
//   overflow: hidden;
//   // overflow-wrap: break-word;
// }

#app {
  @extend %page;
  // min-height: 640px;
}

.float-clear {
  clear: both;
}

.form-input {
  &.checkbox {
    position: relative;
    margin-bottom: 12px;
    .input {
      width: 16px;
      height: 16px;
      border: 1px solid black;
      border-radius: 2px;
      outline: none;
      transition: 0.18s;
      cursor: pointer;
      &.hover,
      &.focus {
        box-shadow: 0 0 0 1px black;
      }
      .tick {
        width: 5px;
        height: 10px;
        margin-left: 5px;
        margin-top: 1px;
        transform: rotate(45deg);
        border-right: 2px solid black;
        border-bottom: 2px solid black;
      }
    }
    .label {
      position: absolute;
      top: 0;
      left: 15px;
      color: black;
      margin-left: 15px;
      cursor: pointer;
      font-size: 15px;
      &.focus,
      &.hover,
      &.value {
        color: black;
      }
      &.checked {
        font-weight: bold;
      }
    }
  }
}
