@import '../components/page/styles/styles';
@import '../components/page/styles/styles';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flexed-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .stretched-content {
    align-self: stretch;
    flex-grow: 1;
    padding-bottom: 128px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

strong {
  font-weight: 600;
}

code {
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
  font-family: 'Inconsolata', monospace;
}

html,
body {
  overflow-x: hidden;
  overflow-wrap: break-word;
}

#app {
  @extend %page;
  min-height: 640px;
}

a {
  display: block;
  color: inherit;
}

.float-clear {
  clear: both;
}

.form-input {
  &.checkbox {
    position: relative;
    margin-bottom: 12px;
    .input {
      width: 16px;
      height: 16px;
      border: 1px solid black;
      border-radius: 2px;
      outline: none;
      transition: 0.18s;
      cursor: pointer;
      &.hover,
      &.focus {
        box-shadow: 0 0 0 1px black;
      }
      .tick {
        width: 5px;
        height: 10px;
        margin-left: 5px;
        margin-top: 1px;
        transform: rotate(45deg);
        border-right: 2px solid black;
        border-bottom: 2px solid black;
      }
    }
    .label {
      position: absolute;
      top: 0;
      left: 15px;
      color: black;
      margin-left: 15px;
      cursor: pointer;
      font-size: 15px;
      &.focus,
      &.hover,
      &.value {
        color: black;
      }
      &.checked {
        font-weight: bold;
      }
    }
  }
}
