@import '../components/page/styles/styles';
@import '../../../shared/app/components/page/styles/breadcrumbs.scss';

@import './dimensions.scss';
@import './colors.scss';
@import '../components/page/styles/styles.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  background: $LIGHT_THEME_APP_BACKGROUND_COLOR;
  padding-top: $DESKTOP_HEADER_HEIGHT;
}

#content {
  @extend %page;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

// TODO: Move from here.

a {
  display: inline-block;
  text-decoration: none;
  transition: color 0.16s ease-in;
  color: inherit;
}

.breadcrumbs {
  @extend %breadcrumbs;
  max-width: 840px;
  font-variant-caps: all-small-caps;
  width: 100%;
  text-align: left;
  font-size: 20px;
  padding-left: 4px;
  li {
    font-weight: bold;
  }
  position: relative;
  svg {
    position: relative;
    // fill: white;
    top: 1px;
    height: 13px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

strong {
  font-weight: 600;
}

code {
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
  font-family: 'Inconsolata', monospace;
}

.float-clear {
  clear: both;
}

.form-input {
  &.checkbox {
    position: relative;
    margin-bottom: 12px;
    .input {
      width: 16px;
      height: 16px;
      border: 1px solid black;
      border-radius: 2px;
      outline: none;
      transition: 0.18s;
      cursor: pointer;
      &.hover,
      &.focus {
        box-shadow: 0 0 0 1px black;
      }
      .tick {
        width: 5px;
        height: 10px;
        margin-left: 5px;
        margin-top: 1px;
        transform: rotate(45deg);
        border-right: 2px solid black;
        border-bottom: 2px solid black;
      }
    }
    .label {
      position: absolute;
      top: 0;
      left: 15px;
      color: black;
      margin-left: 15px;
      cursor: pointer;
      font-size: 15px;
      &.focus,
      &.hover,
      &.value {
        color: black;
      }
      &.checked {
        font-weight: bold;
      }
    }
  }
}
