%link {
  float: right;
  margin-right: 30px;
  line-height: $DESKTOP_HEADER_HEIGHT;
  font-size: 16px;
  font-weight: 500;
  svg {
    display: none;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  &.add-posting {
    line-height: 32px;
    padding: 0 12px;
    margin-top: 14px;
  }
}
