@import '../../../../../styles/themes';

#visitor-about {
  // max-width: 432px;
  text-align: justify;
  line-height: 20px;
  .paragraph {
    margin-bottom: 12px;
    &.features {
      margin-bottom: 8px;
    }
  }
  .feature {
    position: relative;
    margin-bottom: 8px;
    padding-left: 28px;
  }
  overflow-y: scroll;
  @media #{$LARGE-PHONE} {
    max-height: none;
  }
}