@import '../../../../../../../styles/headings/h1';
@import '../../../../index/components/tile/styles/styles.scss';
@import '../components/styles/styles.scss';

#listing-create {
  #success-container {
    max-width: 608px;
    margin: 0 auto;
    h1 {
      @extend %h1;
      margin: 32px 0;
      font-size: 15px;
      border-bottom: none;
      text-align: center;
    }
    .listing-index-tile {
      @extend %listing-index-tile;
    }
    .congratulations {
      margin: 30px 0;
      text-align: center;
    }
    .action-button {
      float: left;
      position: relative;
      width: 292px;
      background: #2e86c1;
      color: white;
      border-radius: 4px;
      height: 56px;
      cursor: pointer;
      padding-left: 72px;
      line-height: 60px;
      font-size: 16px;
      @media #{$LARGE-PHONE} {
        width: 100%;
      }
      svg {
        position: absolute;
        fill: white;
        top: 12px;
        left: 16px;
        height: 50px;
      }
    }
    .bump-up-button {
      @extend %bump-up-button;
      float: left;
      margin-right: 24px;
    }
    .share-on-facebook {
      background: #2e86c1;
      &.hover {
        background: #2874a6;
      }
    }
    .share-on-facebook-text {
      margin: 24px 0;
      line-height: 22px;
    }
    @media #{$LARGE-PHONE} {
      padding: 0 18px;
    }
  }
}
