aside {
  position: fixed;
  right: 0;
  left: 0;
  width: 272px;
  margin: 0 auto;
  z-index: 100;

  &.right {
    transform: translateX(510px);
  }

  &.left {
    transform: translateX(-510px);
    height: 192px;
  }

  .cta {
    color: "#34495E";
    width: 192px;
    border: 1px solid #34495E;
    height: 96px;
    display: flex;
    font-size: 16px;
    background: white;
    text-align: center;
    align-items: center;
    line-height: 1.35;
    white-space: pre;
    border-radius: 10px;
    justify-content: center;
    font-weight: 500;
    &:hover {
      color: #2471A3;
      border: 1px solid #2471A3;
    }
  }
}
