@import '../../../../../../../../../styles/themes.scss';
@import '../../../../../../../../../styles/dimensions.scss';
@import '../../../../../../../../../styles/inputs/form/text.scss';
@import '../../../../../../../../../styles/inputs/form/svgs.scss';
@import '../../../../../../../../../styles/inputs//form//button.scss';

#user-edit-account-password {
  &.full {
    margin: 120px auto;
    max-width: 600px;
    border: 1px solid #D0D3D4;
    padding: $FORM-PADDING-PC;
    background: white;
    @media #{$LARGE-PHONE} {
      margin: 0 auto;
      border: none;
      padding: $FORM-PADDING-PHONE;
    }
    .page-header {
      .icon {
        padding-top: 5px;
        width: 20px;
      }
    }
  }
  .monit-and-text-inputs {
    max-width: 360px;
  }
  .monit {
    text-align: justify;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .separation-line {
    margin: 40px 0;
    @media #{$LARGE-PHONE} {
      margin: 25px 0;
    }
  }
  .form-input {
    &.button {
      margin: 0 auto;
      .very-small-windmill-spinner {
        top: -54px;
        left: -49px;
        div:after {
          background: gray;
        }
      }
    }
  }
}
