%main-heading {
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  margin-bottom: 40px;
  svg {
    position: relative;
    top: 2.5px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    fill: #1b2631;
  }
  h1 {
    display: inline-block;
    font-size: 16px;
    color: gray;
    font-family: 'Roboto';
    color: #1b2631;
  }
}
