@import '../../../../../../../../../styles/container';
@import '../../../../../../../../../styles/headings/main-heading';
@import '../../../../../../../../../styles/inputs/text';
@import '../../../../../../../../../styles/inputs/button.scss';

#user-auth-email {
  @extend %container;
  position: relative;
  padding: 20px 40px 40px;
  .main-heading {
    @extend %main-heading;
  }
  .text-input {
    @extend %text-input;
  }
  .submit-button {
    @extend %button;
  }
  .credentials-error {
    font-size: 14px;
    text-align: center;
    color: $ERROR-COLOR;
  }
  .link {
    margin-top: 40px;
    text-align: center;
    a {
      font-size: 14px;
      color: #424949;
      &:hover {
        color: gray;
      }
    }
  }
}
