%full-panel {
  @extend %panel;
  margin-bottom: 24px;
  .index-input {
    &.text, &.select {
      width: 185px;
      float: left;
      margin-right: 18.8px;
      border-bottom: 1px solid #B3B6B7;
      margin-bottom: 12px;
      transition: 0.1s ease-in;
      &.full-last, &.last {
        margin-right: 0;
      }
      .input {
        padding-left: 0;
        background: none;
      }
      .label {
        top: 24px;
        left: 0px;
      }
    }
    &.select {
      .input {
        padding-left: 0px;
      }
      .options {
        top: 48px;
        left: 0px;
        border: none;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0px 3px 8px 3px rgba(0, 0, 0, 0.14),
                    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        border-top-left-radius: 0;
      }
    }
  }
  .availability-date {
    position: relative;
    float: left;
    .react-calendar-container {
      position: absolute;
      top: 40px;
      left: -34px;
      width: 240px;
      .react-calendar {
        width: 280px;
        position: absolute;
        left: 0;
        z-index: 3;
        border-radius: 2.5px;
      }
    }
  }
  .button {
    @extend %button;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      height: 48px!important;
      padding: 0;
      margin: 0;
      width: 160px;
      margin: 24px auto 0;
      .input {
      display: block;
      width: 160px;
      height: 48px;
      margin: 0 auto!important;
      }
    }
  }
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    padding: 0;
    margin: 0;
    .index-input {
      &.text, &.select {
        width: 100%;
        height: 48px;
        margin: 0;
        .input {
          height: 48px;
          padding: 26px 0 0 12px;
        }
        .label {
          top: 18px;
          left: 12px;
          margin: 0;
          &.focus, &.value {
            top: 10px;
            font-weight: normal;
          }
        }
      }
      &.text {
        .input {
          padding-top: 22px!important;
        }
      }
      &.select {
        .options {
          width: 100%;
          .option {
            height: 36px;
            font-size: 16px;
            line-height: 36px;
            padding-left: 8px;
            cursor: pointer;
            &.preselected {
              background: lightgray;
            }
          }
        }
      }
    }
  }
}