%page-header {
  position: absolute;
  top: -118px;
  text-align: center;
  color: #17202A;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  .main {
    font-size: 24px;
    font-weight: bold;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      font-size: 20px;
    }
  }
  .add-on {
    margin-top: 6px;
    font-size: 15px;
    font-weight: normal;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      font-size: 13px;
    }
  }
}

%section-header {
  color: #1B4F72;
  font-size: 18px;
  position: absolute;
  width: 800px;
  top: -28px;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-weight: normal;
  .fas.fa-bars {
    width: 24px;
  }
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    top: -24px;
    font-size: 16px;
    width: 280px;
    
  }
}