@import './inputs_group';

%full-panel {
  @extend %panel;
  position: relative;
  margin: 0 0 24px;
  width: 100%;
  .gap {
    float: left;
    width: 2%;
    height: 1px;
  }
  .inputs-group {
    @extend %inputs-group;
  }
  .index-input {
    &.unit {
      width: 32%!important;
    }
    &.text, &.select {
      float: left;
      width: 100%;
      height: 48px;
      border-radius: 2.5px;
      margin: 0;
      transition: 0.1s ease-in;
      margin: 0 0 12px 0;
      &.full-last, &.last {
        margin-right: 0;
      }
      .input {
        height: 46px;
        padding-left: 10px;
        &.focus, &.value {
          background: white;
        }
      }
      .label {
        top: 18px;
        left: 10px;
      }
    }
    &.select {
      .options {
        background: #F7F9F9;
        width: 105%;
        top: 50px;
        left: -2.5%;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 3px 8px 3px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        border-top-left-radius: 0;
          .option {
            height: 36px;
            font-size: 16px;
            line-height: 36px;
            padding-left: 8px;
            cursor: pointer;
            &.preselected {
              background: lightgray;
            }
          }
      }
    }
  }
  .availability-date {
    position: relative;
    float: left;
    width: 32%;
    .react-calendar-container {
      position: absolute;
      top: 40px;
      left: -34px;
      width: 240px;
      .react-calendar {
        width: 280px;
        position: absolute;
        left: 0;
        z-index: 3;
        border-radius: 2.5px;
      }
    }
  }
  .button {
    @extend %button;
    width: 100%;
    margin: 24px 0 36px 0;
    .input {
      margin: 0;
      height: 42px;
      &:hover {
        opacity: 0.88;
      }
    }
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      height: 48px!important;
      padding: 0;
      margin: 0;
      width: 100%;
      margin: 24px auto 0;
      .input {
        display: block;
        width: 100%;
        height: 48px;
        margin: 0 auto!important;
      }
    }
  }
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    padding: 0;
    margin: 0;
    .index-input {
      &.text, &.select {
        width: 100%;
        height: 48px;
        margin: 0;
        .input {
          height: 48px;
          padding: 26px 0 0 12px;
        }
        .label {
          top: 18px;
          left: 12px;
          margin: 0;
          &.focus, &.value {
            top: 10px;
            font-weight: normal;
          }
        }
      }
      &.text {
        .input {
          padding-top: 22px!important;
        }
      }
      &.select {
        .options {
          width: 100%;
          .option {
            height: 36px;
            font-size: 16px;
            line-height: 36px;
            padding-left: 8px;
            cursor: pointer;
            &.preselected {
              background: lightgray;
            }
          }
        }
      }
    }
  }
}