@import '../../../styles/simple-index-input';
@import '../../../styles/composite-index-input';

%inputs {
  .simple-index-input {
    @extend %simple-index-input;
    &.category {
      margin-right: 6px;
    }
    @media only screen and (max-width: 744px)  {
      &.category, &.district {
        width: 207px;
      }
    }
    @media #{$phone} {
      &.category, &.district {
        width: 100%;
      }
    }
  }
  .composite-input-container {
    @extend %simple-index-input;
    @extend %composite-index-input;
    &.area, &.rent, &.floor, &.total-floors {
      margin-right: 6px;
    }
    @media only screen and (max-width: 744px)  {
      width: 207px;
      &.rent, &.floor {
        margin-right: 0;
      }
      &.area, &.rooms, &.total-floors {
        margin-right: 6px;
      }
    }
    @media #{$phone} {
      width: 100%;
    }
  }
}