@import '../../../styles/simple-index-input';

%inputs {
  .simple-index-input {
    @extend %simple-index-input;
    @media #{$phone} {
      width: auto;
    }
    &.category, &.district {
      margin-right: 12px;
    }
  }
  .composite-input-container {
    @extend %simple-index-input;
    position: relative;
    &.rooms, &.total-floors {
      margin-right: 12px;
    }
    @media #{$phone} {
      width: auto!important;
    }
    @media #{$phone} {
      width: 100%;
    }
  }
}