@import '../../../styles/availability-date';
@import './inputs';

%panel {
  z-index: 3;
  position: relative;
  @extend %inputs;
  max-width: 960px;
  height: 128px;
  width: 100%;
  margin: 0 auto;
  padding: 12px 12px 0;
  color: #17202A;
  @media #{$phone} {
    width: 100%;
    height: 232px;;
  }
  .gap {
    float: left;
    width: 6px;
    height: 42px;
  }
}