@import '../../../styles/availability-date';
@import './inputs';

%panel {
  .pane {
    float: left;
    width: 540px;
    margin: 0;
  }
  z-index: 3;
  position: relative;
  @extend %inputs;
  max-width: 1200px;
  height: 120px;
  width: 100%;
  margin: 0 auto;
  padding: 12px 0;
  @media #{$phone} {
    width: 100%;
    height: 232px;;
  }
  .gap {
    float: left;
    width: 6px;
    height: 42px;
  }
  .button {
    position: relative;
    float: left;
    width: 96px;
    height: 96px;
    margin: 0 12px;
    .input {
      font-weight: normal;
      width: 100%;
      height: 100%;
      display: block;
      line-height: 96px;
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 2.5px;
      background: #DC7633;
      color: #F7F9F9;
      cursor: pointer;
      font-size: 16px;
      &.hover {
        background: transparentize(#5DADE2, 0.2)
      }
      .fa-search {
        margin-right: 8px;
      }
      @media #{$phone} {
        width: 100%;
        margin-top: 12px;
      }
    }
  }
}