@import '../../tile/styles/tile';
@import './full-headers';
@import './panel';
@import './full-tile';
@import './full-pagination';
@import '../../../../../../../styles/colors';

#announcement-index-full {
  z-index: 2;
  position: relative;
  margin: 224px auto 0;
  h2 { @extend %page-header; }
  h3 { @extend %section-header; }
  .panel-container {
    background: white;
    padding: 12px;
    position: relative;
    border-radius: 2.5px;
    .panel {
      @extend %panel;
    }
    width: 720px;
    margin: 148px auto 36px;
    @media only screen and (max-width: 744px) {
      width: 456px;
    }
    @media #{$phone} {
      width: 280px;
      margin: 148px auto 36px;
    }
    .button {
      width: 100%;
      margin: 0;
      .input {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 2.5px;
        background: $button-index-background-color;
        color: $button-index-color;
        cursor: pointer;
        font-size: 16px;
        &.hover {
          background: transparentize($button-index-background-color, 0.2)
        }
        .fa-search {
          margin-right: 8px;
        }
      }
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        height: 40px;
        margin: 0 auto;
        .input {
          display: block;
          margin: 0 auto!important;
        }
      }
    }
  }
  .announcements {
    padding: 0;
    min-height: 640px;
    .announcement-index-tile {
      @extend %tile;
      @extend %full-tile;
    }
  }
  .pagination {
    @extend %full-pagination;
  }
  .connecting {
    .pagination {
      .input, .arrow {
        background: lightgray;
      }
    }
  }
}