@import './full-tile';
@import './full-pagination';
@import '../../../../../../../styles/colors';

#announcement-index-full {
  z-index: 3;
  position: relative;
  .announcements {
    min-height: 640px;
    width: 520px;
    margin: 0 auto;
    @media only screen and (max-width: 688px) {
      width: 100%;
      padding: 18px 24px;
    }
    @media #{$phone} {
      padding: 0 12px;
    }
    .announcement-show-tile {
      margin-bottom: 44px;
    }
  }
  .pagination {
    @extend %full-pagination;
  }
  .connecting {
    .pagination {
      .input, .arrow {
        background: lightgray;
      }
    }
  }
}
