@import '../../../../../styles/colors.scss';

.page-header {
  position: relative;
  font-size: 15px;
  line-height: 30px;
  .icon {
    position: absolute;
    svg {
      fill: $HEADER-COLOR;
    }
  }
  h1 {
    padding-left: 35px;
    color: $HEADER-COLOR;
    margin-bottom: 35px;
    font-size: 15px;
  }
}
