@import '../../../../styles/box_shadows.scss';
@import '../../../../styles/colors.scss';
@import '../../../../../../shared/app/styles/media-breakpoints.scss';

.tile {
  position: relative;
  max-width: 1400px;
  margin: 20px auto;
  border-radius: 4px;
  padding: 1px 0;
  line-height: 1.65;
  color: #424242;
  @media #{$LARGE-PHONE} {
    margin: 0 auto 20px;
  }
  .table-of-contents {
    display: inline-block;
    padding: 10px 20px;
    background: #F2F3F4;
    border-radius: 4px;
    font-size: 16px;
    ul {
      list-style-type: none;
      padding-left: 0!important;
    }
    h2 {
      padding: 0!important;
      margin: 0!important;
      font-size: 16px!important;
    }
    a {
      display: block;
      &:hover {
        color: #5D6D7E;
      }
    }
    @media #{$LARGE-PHONE} {
      margin: 0 20px;
    }
  }
  img {
    width: 100%;
  }
  button {
    &.edit {
      z-index: 999;
      position: fixed;
      right: 20px;
      top: 77px;
      width: 24px;
      height: 24px;
      border: none;
      background: none;
      cursor: pointer;
      svg {
        display: block;
        width: 24px;
        fill: gray;
        transition: 0.24s ease-out;
        &:hover {
          fill: black;
        }
      }
    }
  }
  a {
    display: inline;
    text-decoration: underline;
  }
  h1 {
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 17px;
    color: #565656;
  }
  h2 {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 16px;
    color: #565656;
  }
  h3 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #565656;
  }
  .body {
    p {
      margin-bottom: 10px;
      font-size: 15px;
      white-space: pre-wrap;
    }
  }

  &.article {
    max-width: 768px;
    font-size: 17px;
    line-height: 1.8;
    h2 {
      font-size: 19px;
      color: #212F3C;
      @media #{$LARGE-TABLET} {
        padding: 0 20px;
      }
    }
    p {
      font-size: 17px;
      color: #424949;
      @media #{$LARGE-TABLET} {
        padding: 0 20px;
      }
    }
    ul {
      padding-left: 18px;
      @media #{$LARGE-TABLET} {
        padding-left: 38px;
      }
      a {
        display: inline;
      }
    }
  }
}
