%heading {
  margin: 6px 18px 18px 0;
  text-transform: uppercase;
  font-size: 22px;
  color: rgb(42, 42, 42);
  text-align: left;
  padding: 0;
  letter-spacing: 0.25px;
  font-size: 18px;
  .name {
    margin-bottom: 18px;
    font-weight: bold;
    color: #1a5276;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .category {
    margin-bottom: 8px;
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .for-lease {
    font-size: 64%;
    color: rgb(128, 128, 128);
  }
  .locality-sublocality {
    font-size: 80%;
    color: rgb(96, 96, 96);
  }
}
