%categories {
  float: left;
  font-size: 15px;
  white-space: nowrap;
  background: white;
  margin: 20px;
  border-radius: 42px;
  padding: 0 21px;
  border: 1px solid #E5E7E9;

  @media #{$LARGE-TABLET} {
    float: none;
    margin: 20px auto 10px;
    max-width: 684px;
  }

  @media #{$SMALL-TABLET} {
    border-radius: 0;
    max-width: 360px;
    border-radius: 8px;
  }

  @media #{$MEDIUM-PHONE} {
    border-radius: 0;
    border-right: none;
    border-left: none;
  }

  .category {
    float: left;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    white-space: normal;

    @media #{$SMALL-TABLET} {
      width: 25%;
      margin: 0;
    }

    @media #{$SMALL-PHONE} {
      margin-right: 0px;
      margin-left: 0px;
    }

    .icon {
      display: flex;
      width: 70px;
      height: 80px;
      flex-direction: column;
      justify-content: center;
      border-radius: 120px;
      transition: .2s ease-in-out;

      svg {
        display: block;
        margin: 0 auto 6px;
        fill: #5F6A6A;
        height: 16px;
      }

      p {
        font-size: 13px;
        text-align: center;
        color: #5F6A6A;
      }
    }

    &.active {
      .icon {
        svg {
          fill: black;
        }
        
        p {
          color: black;
        }
      }
    }
  }
}