%map-catalogue-switch {
  float: right;
  position: relative;
  margin-top: 22px;
  padding-left: 28px;
  padding-right: 28px;
  @media #{$LARGE-TABLET} {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .switch {
    position: absolute;
    left: 0;
    width: 20px;
    height: 42px;
    border: 1px solid lightgray;
    background: white;
    border-radius: 10px;
    .ball {
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background: #707B7C;
      position: absolute;
      top: 3px;
      left: 3px;
      transition: 0.16s ease-in;
      &.catalogue {
        top: 25px;
      }
    }
  }

  .form-input {
    &.radio {
      .label {
        cursor: pointer;
        display: block;
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 6px;
        color: #707B7C;
        transition: 0.16s ease-in;
        &.checked {
          color: #424949;
        }
      }
    }
  }
}
