@import '../../../../../../../styles/media-breakpoints';
@import '../../../../../../../styles/colors.scss';
@import './categories.scss';
@import './map_catalogue_switch.scss';

#announcement-index-panel {
  z-index: 2;
  position: relative;
  padding: 17px 0;
  .categories {
    @extend %categories;
  }
  .map-catalogue-switch {
    @extend %map-catalogue-switch;
  }
  .area {
    position: relative;
    float: left;

    display: flex;
    flex-direction: column;

    height: 82px;

    justify-content: center;

    div:first-child {
      font-size: 13.5px;
      margin-bottom: 4px;
      color: #797D7F;
    }
    div:nth-child(2) {
      font-size: 15px;
      font-weight: bold;
      color: #626567;
      cursor: pointer;
      svg {
        height: 15px;
        transform: scale(1.3) translateY(1.2px);
        margin-left: 2px;
      }
    }

    .area-panel {
      position: absolute;
      z-index: 2;
      height: 60px;
      width: 224px;
      background: white;
      top: 72px;
      left: -56px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
      border-radius: 4px;
      .panel-input {
        width: 100px;
        height: 100%;
        margin: 0;
        padding: 8px 5px 25px 10px;
        .labek {
          display: none;
        }
        input {
          width: 100%;
          height: 100%;
          border-top: none;
          border-right: none;
          border-left: none;
          text-align: right;
          font-size: 16px;
        }
      }
    }

    .area-panel-cover {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

  }
}
