@import './editorial';
@import './table-of-contents';
@import '../../../../styles/colors';

$DESKTOP-MARGIN: 24px;
$MOBILE-MARGIN: 24px;
$PRE-MARGIN: 18px;

%standard-margins {
  margin: $PRE-MARGIN $DESKTOP-MARGIN 0;
  @media #{$LARGE-PHONE} {
    margin: $PRE-MARGIN $MOBILE-MARGIN 0;
  }
}

%article {
  max-width: 768px;
  background: none;
  overflow: hidden;
  line-height: 26px;
  font-size: 16px;
  color: rgb(42, 42, 42);
  background: white;
  border-radius: 4px;
  width: 100%;
  line-height: 1.5;
  padding: 0 0 $DESKTOP-MARGIN 0;
  > section {
    margin-top: 64px;
    &:first-of-type {
      margin-top: 0;
    }
    > section {
      margin-top: 48px;
    }
  }
  @media #{$LARGE-PHONE} {
    margin: 0 auto 32px;
  }
  h1 {
    @extend %standard-margins;
    margin-top: 24px;
    font-size: 36px;
    @media #{$LARGE-PHONE} {
      font-size: 28px;
    }
  }
  .description {
    margin: 18px $DESKTOP-MARGIN 0;
    @media #{$LARGE-PHONE} {
      margin: 18px $MOBILE-MARGIN 0;
    }
  }
  .editorial {
    @extend %editorial;
    margin-top: 48px;
  }
  .table-of-contents {
    @extend %table-of-contents;
    margin: 32px $DESKTOP-MARGIN;
    @media #{$LARGE-PHONE} {
      margin: 32px $MOBILE-MARGIN;
    }
  }
  .author {
    @extend %standard-margins;
    position: relative;
    margin-top: 12px;
    padding-left: 22px;
    line-height: 16px;
    font-size: 15px;
    svg {
      position: absolute;
      top: 2px;
      left: 0;
      height: 13px;
    }
  }
  .cover + h1 {
    margin-top: 36px;
  }
  h2 {
    @extend %standard-margins;
    margin-top: 0;
    line-height: 33px;
    font-size: 22px;
  }
  h3 {
    @extend %standard-margins;
    margin-top: 0;
    line-height: 29.25px;
    font-size: 16px;
  }
  h2 + h3 {
    margin-top: 0;
  }

  a {
    color: #2471a3;
    &:hover {
      color: #3498db;
    }
  }

  p {
    @extend %standard-margins;
    code {
      font-family: monospace;
      display: inline-block;
      color: #cb4335;
      border-radius: 4px;
      line-height: 22px;
      font-size: 15px;
      position: relative;
    }
  }
  img {
    @extend %standard-margins;
  }
  p + ul {
    margin-top: 0;
  }
  .editorial + ul {
    margin-top: 0;
  }
  ul {
    margin: 18px $DESKTOP-MARGIN 0 ($DESKTOP-MARGIN + 18px);
    @media #{$LARGE-PHONE} {
      margin: 18px $MOBILE-MARGIN 0 ($MOBILE-MARGIN + 18px);
    }
    li {
      margin-bottom: 0 !important; // TODO!
      h2 {
        margin: 0;
      }
      p {
        margin: 0;
        padding: 0;
      }
      ul {
        margin: 0 18px 6px;
      }
      &:last-of-type {
        ul {
          margin-bottom: 0;
        }
      }
    }
    &.index {
      margin-top: 18px; // TODO!
    }
  }
  header {
    > img {
      display: block;
      width: 100%;
      margin: 0;
    }
    .description {
      margin-top: 16px;
      font-size: 14px;
      font-style: italic;
    }
  }
  header + .definition, header + .table-of-contents {
    margin-top: 48px;
  }

  pre {
    @extend %standard-margins;
  }

  .definition {
    @extend %standard-margins;
    background: #ebf5fb;
    padding: 16px;
    border-radius: 3px;
    border-left: 3px solid #3498db;
    dfn {
      font-weight: bold;
    }
  }

  figure {
    @extend %standard-margins;
    span {
      display: block;
      background: #fef9e7;
      padding: 16px;
      border-radius: 3px;
      border-left: 3px solid #edbb99;
      color: rgb(64, 64, 64);
    }
    figcaption {
      color: rgb(88, 88, 88);
      font-size: 14px;
      font-style: italic;
    }
  }

  @media #{$LARGE-PHONE} {
    border-radius: 0;
  }
}
