@import './editorial';
@import './table-of-contents';
@import '../../../../styles/colors';

$DESKTOP-MARGIN: 0;
$MOBILE-MARGIN: 24px;
$PRE-MARGIN: 16px;

%standard-margins {
  margin: $PRE-MARGIN $DESKTOP-MARGIN 0;
  @media #{$LARGE-PHONE} {
    margin: $PRE-MARGIN $MOBILE-MARGIN 0;
  }
}

%article {
  max-width: 768px;
  margin: 0 auto;
  background: none;
  overflow: hidden;
  line-height: 26px;
  font-size: 16px;
  color: rgb(42, 42, 42);
  > section {
    margin-top: 64px;
    &:first-of-type {
      margin-top: 0;
    }
    > section {
      margin-top: 48px;
    }
  }
  @media #{$LARGE-PHONE} {
    margin: 0 auto 32px;
  }
  .editorial {
    @extend %editorial;
    margin-top: 24px;
  }
  .table-of-contents {
    @extend %table-of-contents;
    margin: 32px $DESKTOP-MARGIN;
    @media #{$LARGE-PHONE} {
      margin: 32px $MOBILE-MARGIN;
    }
  }
  h1 {
    line-height: 41.25px;
    font-size: 32px;
    margin-bottom: 32px;
    margin: 24px $DESKTOP-MARGIN 0;
    @media #{$LARGE-PHONE} {
      margin: 32px $MOBILE-MARGIN;
    }
  }
  .author {
    position: relative;
    margin-top: 16px;
    padding-left: 48px;
    line-height: 40px;
    img {
      display: inline;
      position: absolute;
      left: 0;
      border-radius: 50%;
      height: 40px;
      margin: 0;
    }
  }
  .cover + h1 {
    margin-top: 36px;
  }
  h2 {
    @extend %standard-margins;
    margin-top: 0;
    line-height: 33px;
    font-size: 22px;
  }
  h3 {
    @extend %standard-margins;
    margin-top: 0;
    line-height: 29.25px;
    font-size: 16px;
  }
  h2 + h3 {
    margin-top: 0;
  }
  p {
    @extend %standard-margins;
    code {
      display: inline-block;
      color: #cb4335;
      background: #F7F9F9;
      padding: 0 4px;
      border-radius: 4px;
      line-height: 22px;
      font-size: 15px;
      position: relative;
      top: -1px;
    }
    a {
      display: inline;
      color: rgb(42, 96, 152);
      &:hover {
        color: rgb(186, 42, 24);
      }
    }
  }
  img {
    @extend %standard-margins;
  }
  p + ul {
    margin-top: 0;
  }
  .editorial + ul {
    margin-top: 0;
  }
  ul {
    margin: 0 16px;
    @media #{$LARGE-PHONE} {
      margin: 0 42px 16px;
    }
    li {
      p {
        margin: 0;
        padding: 0;
      }
      ul {
        margin: 0 18px 6px;
      }
      &:last-of-type {
        ul {
          margin-bottom: 0;
        }
      }
    }
  }
  header {
    > img {
      display: block;
      width: 100%;
      margin: 0;
    }
  }

  pre {
    @extend %standard-margins;
  }

  .definition {
    @extend %standard-margins;
    background: #ebf5fb;
    padding: 16px;
    border-radius: 3px;
    border-left: 3px solid #3498db;
    dfn {
      font-weight: bold;
    }
  }

  figure {
    @extend %standard-margins;
    span {
      display: block;
      background: #fef9e7;
      padding: 16px;
      border-radius: 3px;
      border-left: 3px solid #edbb99;
      color: rgb(64, 64, 64);
    }
    figcaption {
      color: rgb(88, 88, 88);
      font-size: 14px;
      font-style: italic;
    }
  }
}
