@import '../../../../styles/colors';

$padding-mobile: 18px;

%table-of-contents {
  h2 {
    display: block;
    margin: 0 0 20px;
    padding: 0 0 10px;
    border-bottom: 1px solid gray;
    line-height: 14px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
  }
  .inner-container {
    margin: 40px;
    padding: 20px;
    background: rgb(255, 250, 250);
    border-radius: 4px;
    line-height: 1.25;
  }
  a {
    font-size: 16px;
    color: black;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      position: relative;
      margin: 4px 0 0;
      line-height: 22px;
      ul {
        margin: 0 0 8px 18px;
        list-style-type: disc;
        li {
          margin: 2px 0 0;
        }
      }
    }
  }
  @media #{$LARGE-PHONE} {
    .inner-container {
      margin: 40px 0;
    }
  }
}
