@import '../../../../styles/colors';

$padding-mobile: 18px;

%table-of-contents {
  margin-top: 56px;
  .inner-container {
    display: inline-block;
    width: auto;
    line-height: 1.25;
    color: #25746e;
  }
  h2 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 12px;
    color: $PRIMARY-GREEN-COLOR;
    border-bottom: 2px solid $PRIMARY-GREEN-COLOR;
    padding-bottom: 8px;
    @media #{$LARGE-PHONE} {
      margin: 0 0 16px;
    }
  }
  a {
    font-size: 15px;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      position: relative;
      margin-top: 2px;
      line-height: 22px;
      ul {
        margin-bottom: 8px;
        margin-left: 18px;
        list-style-type: disc;
        li {
          margin-bottom: 0;
        }
      }
    }
  }
}
