%css {
  .hljs-selector-id {
    // TODO
  }

  .hljs-selector-class {
    // TODO
  }

  .hljs-selector-tag {
    color: rgb(210, 180, 120);
  }

  .hljs-attribute {
    color: rgb(150, 220, 250);
  }

  .hljs-number {
    color: rgb(180, 210, 170);
  }

  .hljs-comment {
    color: rgb(142, 142, 142);
  }
}
