@import './css';
@import '../../../../../../styles/media-breakpoints.scss';

pre {
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 18px;
  overflow-x: auto;
  overflow-y: hidden;
  background: #283747;
  line-height: 1.4;
  font-size: 15px;
  code {
    padding: 0;
    color: #e5e7e9;

    &.pgsql {
      .hljs-keyword {
        color: rgb(80, 150, 210);
      }

      .hljs-type {
        color: #af7ac5;
      }

      .hljs-number {
        color: rgb(180, 200, 160);
      }

      .hljs-string {
        color: rgb(200, 140, 120);
      }

      .hljs-built_in {
        color: #45b39d;
      }
    }

    &.css {
      @extend %css;
    }

    &.xml {
      .hljs-meta {
        color: #b3b6b7;
      }

      .hljs-tag {
        color: rgb(120, 120, 120);
      }

      .hljs-name {
        color: rgb(90, 150, 215);
      }

      .hljs-attr {
        color: rgb(150, 220, 250);
      }

      .hljs-string {
        color: rgb(200, 140, 120);
      }

      .hljs-comment {
        color: rgb(142, 142, 142);
      }
    }

    &.javascript,
    &.typescript {
      .hljs-meta {
        color: rgb(180, 200, 240);
      }

      .hljs-comment {
        color: rgb(142, 142, 142);
      }

      .hljs-string {
        color: rgb(200, 140, 120);
      }

      // Keywords: var, let, const, class, etc.
      .hljs-keyword {
        color: rgb(80, 150, 210);
      }

      // TypeScript type
      .hljs-built_in {
        color: rgb(76, 200, 176);
      }

      // Object attribute declaration.
      .hljs-attr {
        color: rgb(140, 190, 230);
      }

      // Object property invocation.
      .hljs-property {
        color: rgb(100, 150, 180);
      }

      .hljs-function {
        color: rgb(100, 150, 180);
      }

      .hljs-number {
        color: rgb(180, 200, 160);
      }

      .hljs-title {
        &.function_ {
          color: rgb(250, 230, 180);
        }

        // Class name.
        &.class_ {
          color: rgb(80, 200, 180);
        }
      }

      .hljs-variable {
        // console, this, etc.
        &.language_ {
          color: rgb(80, 150, 210);
        }
      }

      // Function params.
      .hljs-params {
        color: rgb(150, 210, 240);
      }
    }

    &.ruby {
      .hljs-comment {
        color: rgb(142, 142, 142);
      }

      .hljs-string {
        color: rgb(200, 140, 120);
      }

      .hljs-keyword {
        color: rgb(200, 130, 190);
      }

      .hljs-symbol {
        color: rgb(140, 190, 230);
      }

      .hljs-function {
        .hljs-title {
          color: rgb(250, 230, 180);
        }
      }

      .hljs-number {
        color: rgb(180, 200, 160);
      }

      .hljs-class {
        .hljs-title {
          color: rgb(80, 200, 180);
        }
      }

      .hljs-variable {
        color: rgb(80, 150, 210);
      }

      // Function params.
      .hljs-params {
        color: rgb(150, 210, 240);
      }
    }
  }
  @media #{$LARGE-PHONE} {
    margin-right: 18px;
    margin-left: 18px;
  }
}
