#page-show {
  position: relative;
  max-width: 768px;
  margin: 40px auto;
  text-align: left;
  button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    padding: 2px;
    &:disabled {
      cursor: not-allowed;
    }
  }
  &.standalone {
    margin-top: 24px;
    
    h2 {
      font-size: 20px;
    }
    .post-container {
      padding: 20px;
      text-align: initial;
      border-radius: 0;
    }
  }
  &.attached {
    margin-top: 360px;
  }
}
