@import '../../../../../../../styles/themes.scss';

#announcement-create-additional {
  max-width: 360px;
  padding-top: 0!important;
  padding-bottom: 4px;

  .rent-inputs-container {
    position: relative;
    .form-input {
      &.rent-amount {
        margin-right: 72px;
      }
      &.rent-currency {
        position: absolute;
        top: 0;
        right: 0;
        width: 64px;
        .input {
          padding: 0;
          padding-left: 16px;
        }
      }
    }
  }

  .checkbox {
    &.availability-date {
      .input {
        left: 0;
      }
      .label {
        margin-top: 1px;
        margin-left: 18px;
      }
    }
  }

  .calendar {
    position: relative;
    margin-bottom: 12px;
    .react-calendar {
      z-index: 1;
      width: 100%;
      border: none;
      border-radius: 2.5px;
      box-shadow: none;
      border: 1px solid black;
      .react-calendar__navigation button {
        font-size: 16px;
      }
    }
  }
}