@import '../../../../../../shared/app/styles/media-breakpoints';

#footer {
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  z-index: 2;
  background: white;
  .social-pages,
  .administrative {
    float: left;
  }
  .social-pages {
    margin-right: 8px;
    a {
      display: inline-block;
      margin-right: 8px;
      fill: #626567;
      transition: fill 0.3s ease-in;
      cursor: pointer;
      &:hover {
        fill: black;
      }
      svg {
        position: relative;
        top: 8px;
        width: 24px;
        height: 24px;
      }
    }
  }
  .administrative {
    font-size: 14px;
    line-height: 40px;
    .link {
      float: left;
      margin-right: 12px;
    }
  }
  .copyright {
    float: right;
    padding-right: 12px;
    font-size: 12px;
  }
  @media #{$LARGE-TABLET} {
    .social-pages,
    .administrative,
    .copyright {
      float: none;
    }
    .social-pages {
      text-align: center;
    }
    .administrative {
      .link {
        float: none;
        text-align: center;
      }
    }
    .copyright {
      text-align: center;
    }
  }
}
