@import '../../../../../../shared/app/styles/media-breakpoints';

#footer {
  padding-top: 10px;
  height: 20px;
  background: white;
  .social-pages,
  .administrative {
    float: left;
  }
  .social-pages {
    padding-left: 12px;
    a {
      display: inline-block;
      width: 16px;
      margin-right: 12px;
      fill: #626567;
      transition: fill 0.3s ease-in;
      cursor: pointer;
      &:hover {
        fill: black;
      }
    }
  }
  .administrative {
    padding-top: 3px;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 12px;
    .link {
      float: left;
      margin-right: 12px;
    }
  }
  .copyright {
    float: right;
    padding-top: 3px;
    padding-right: 12px;
    font-size: 12px;
  }
  @media #{$LARGE-TABLET} {
    .social-pages,
    .administrative,
    .copyright {
      float: none;
    }
    .social-pages {
      text-align: center;
      margin-bottom: 12px;
    }
    .administrative {
      margin-bottom: 12px;
      .link {
        float: none;
        text-align: center;
        margin-bottom: 6px;
      }
    }
    .copyright {
      text-align: center;
      padding-bottom: 12px;
    }
  }
}
