@import '../../../../../shared/app/styles/media-breakpoints';
@import './article/article';

%page {
  #pages-show {
    @media #{$LARGE-PHONE} {
      width: 100%;
      background: white;
    }
    main {
      max-width: 840px;
      margin: 15px auto 0;
      article {
        @extend %article;
      }
      @media #{$LARGE-PHONE} {
        width: 100%;
        article {
          border: none;
          h1 {
            margin-top: 0;
          }
        }
      }
    }
  }
  .breadcrumbs {
    margin: 0 auto;
    padding: 15px 0 0;
    @media #{$LARGE-TABLET} {
      padding: 15px 20px 0;
    }
  }
  button.page-edit {
    position: fixed;
    background: none;
    top: 62px;
    right: 12px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    svg {
      position: relative;
      width: 20px;
      height: 20px;
    }
  }
}
