#header {
  z-index: 2048;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background: white;
  border-bottom: 1px solid lightgray;
  .inner {
    height: 60px;
    padding: 0 20px;
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    .links {
      float: right;
      font-weight: 500;
      .header-link {
        float: left;
        margin-right: 32px;
        font-size: 14px;
        line-height: 60px;
        &:hover {
          text-decoration: underline;
        }
        &.hover {
          text-decoration: underline;
          color: #34495e;
        }
        &.my-account {
          .input {
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            border: none;
            background: none;
            &.hover {
              color: #34495e;
            }
          }
        }
        &.add-announcement {
          height: 32px;
          margin-top: 14px;
          border-radius: 4px;
          padding-right: 9px;
          padding-left: 9px;
          background: #229954;
          line-height: 32px;
          color: white;
          font-weight: normal;
        }
      }
    }
  }
}
