#posting-index {
  margin-top: 100px;
  max-width: 768px;
  margin: 100px auto;
  .company-name {
    margin-bottom: 12px;
  }
  .tile {
    margin-bottom: 24px;
    border-radius: 4px;
    padding: 18px 18px 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .skill {
    float: left;
    margin-right: 24px;
  }
  .remuneration {
    color: rgb(50, 160, 150);
    margin-bottom: 12px;
    font-size: 22px;
  }
}
  