@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/media-breakpoints';

#announcement-show {
  #showcase {
    top: 0;
    left: 780px;
    width: 180px;
    padding: 15px;
    border: 1px solid $CONTAINER-BORDER-COLOR;
    position: absolute;
    background: white;
    border-radius: 4px;
    .phone-showcase {
      min-width: 50px;
      margin-top: 12px;
      line-height: 24px;
      height: 24px;
      .icon {
        position: relative;
        top: 6px;
        float: left;
        width: 14px;
        margin-right: 8px;
        line-height: 12px;
        svg {
          fill: $TEXT-DEFAULT-COLOR;
        }
      }
      .text {
        float: left;
        u {
          cursor: pointer;
          margin-left: 4px;
        }
      }
    }
    @media #{$LARGE-TABLET} {
      position: relative;
      top: 0;
      left: 0;
    }
  }
}
