@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');

$HOUSE_COLOR: #add2eb;
$PIN_COLOR: white;

#logo {
  position: relative;
  float: left;
  margin-top: 12px;
  margin-left: 18px;
  img {
    height: 18px;
    position: relative;
    top: 10px;
  }
  .name {
    position: absolute;
    line-height: 36px;
    top: 0;
    left: 20px;
    font-size: 18px;
    font-family: 'Nova Slim';
    color: #2e86c1;
    &:hover {
      color: #3498db;
    }
  }
}
