@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');

$HOUSE_COLOR: #add2eb;
$PIN_COLOR: white;

#logo {
  position: relative;
  float: left;
  margin-top: 12px;
  margin-left: 18px;
  img {
    height: 36px;
    position: relative;
    top: 0px;
  }
  .title {
    position: absolute;
    top: 0;
    left: 42px;
    font-size: 16px;
    font-family: 'Nova Slim';
    color: rgb(55, 129, 190);
    &:hover {
      color: #3498db;
    }
  }
}
