.menu-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .menu {
    position: absolute;
    background: rgba(253, 254, 254, 0.95);
    top: 70px;
    right: 10px;
    box-shadow: 0 1px 3px 1px #D0D3D4;
    padding: 20px 25px 0;
    .header-link {
      margin-bottom: 20px;
      padding-left: 40px;
      svg {
        position: absolute;
        width: 20px;
        left: 25px;
      }
      &.add-announcement {
        svg {
          transform: translate(0, -4px);
        }
      }
    }
  }
}
