@import '../../../../../../styles/themes.scss';
@import '../components/primary/styles/styles.scss';
@import '../components/pictures/styles/styles.scss';
@import '../components/features-furnishings/styles/styles.scss';
@import '../components/description/styles/styles.scss';
@import '../components/map/styles/styles.scss';
@import './headers.scss';
@import './contact.scss';
@import './area.scss';

.announcement-tile {
  position: relative;
  background: white;
}

.announcement-tile-anchor {
  min-height: 500px;
}
