@import '../../../../../../../../../styles/container';
@import '../../../../../../../../../styles/headings/h1';
@import '../../../../../../../../../styles/line';
@import '../../../../../../../../../styles/colors';
@import '../../../../../../../../../styles/inputs/form/checkbox';
@import './text-inputs';
@import './submit';
@import './links';

#visitor-users-auth-email {
  @extend %container;
  @extend %text-inputs;
  @extend %submit;
  padding: 32px;
  min-width: 360px;
  h1 {
    @extend %h1;
    margin-bottom: 24px;
  }
  .line {
    @extend %line;
    margin-bottom: 24px;
  }
  .links {
    @extend %links;
  }
  .credentials-error {
    font-size: 14px;
    text-align: center;
    color: $ERROR-COLOR;
  }
}
