@import '../../../../../../../../../../../shared/app/styles/media-breakpoints';

#listing-index-panel {
  .filter {
    &.location {
      width: 400px;
      > .text-input {
        border: 1px solid rgb(224, 224, 224);
      }
      .autocompletes {
        position: relative;
        background: white;
        z-index: 200;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        > div {
          padding: 0 12px;
        }
      }
      > .input,
      input {
        &::placeholder {
          color: rgba(26, 82, 118, 0.5);
        }
      }
      .current {
        background: #d6eaf8;
      }
      @media #{$LARGE-PHONE} {
        width: 100%;
      }
    }
  }
}
