@import '../../../../../../../../../styles/themes.scss';

.announcement-show-tile-features {
  background: white;
  font-size: 14px;
  padding: 0 24px 24px;
  position: relative;
  @media #{$phone} {
    padding: 0 12px 12px;
  }
  .item {
    float: left;
    margin-right: 12px;
    color: #626567;
    @media #{$phone} {
      float: none;
    }
    .icon, .text {
      float: left;
    }
    .icon {
      height: 12px;
      padding-right: 5px;
      @media #{$phone} {
        position: absolute;
      }
      svg {
        margin-top: 7px;
        width: 11px;
        fill: #626567;
      }
    }
    .text {
      height: 24px;
      line-height: 24px;
      @media #{$phone} {
        height: auto;
        margin-left: 14px;
      }
    }
  }
}
