%checkbox {
  position: relative;
  > .input {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid gray;
    border-radius: 2px;
    outline: none;
    transition: 0.18s;
    cursor: pointer;
    &.hover,
    &.focus {
      box-shadow: 0 0 0 1px gray;
    }
    .tick {
      width: 5px;
      height: 10px;
      margin-left: 5px;
      margin-top: 1px;
      transform: rotate(45deg);
      border-right: 2px solid black;
      border-bottom: 2px solid black;
    }
  }
  > .label {
    position: relative;
    top: -3px;
    left: 16px;
    color: gray;
    margin-left: 15px;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
    &.focus,
    &.hover,
    &.value {
      color: gray;
    }
    &.checked {
      font-weight: bold;
    }
    a {
      display: inline;
    }
  }
}
