%drag-and-drop-container {
  position: relative;
  .drag-and-drop {
    position: relative;
    height: 40px;
    border-radius: 4px;
    border: 1px dashed #424949;
    background: #f8f9f9;
    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: 2;
    }
    cursor: pointer !important;
    svg {
      width: 20px;
      height: 20px;
      top: 0;
      bottom: 0;
      left: 10px;
      margin: auto;
      position: absolute;
      color: gray;
    }
    &:hover {
      svg {
        fill: gray;
        cursor: pointer !important;
      }
    }
  }
  .instructions {
    position: absolute;
    top: 0;
    left: 40px;
    line-height: 40px;
    font-size: 14px;
  }
}
