%current {
  position: relative;
  border: 1px solid $primary-element-color;
  height: 96px;
  border-radius: 2px;
  .icon {
    position: absolute;
    width: 48px;
    height: 94px;
    padding-top: 30px;
    padding-left: 8px;
    background: #EBF5FB;
    color: $primary-icon-color;
  }
  .text {
    position: relative;
    padding: 8px 8px 8px 8px;
    margin-left: 48px;
    height: 96px;
    .title {
      font-size: 12px;
      color: $primary-text-transparentized-color;
    }
    .value {
      margin-top: 6px;
      font-size: 16px;
      overflow-x: auto;
      color: $primary-text-color;
    }
  }
}