%edit {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  height: 240px;
  margin: 0 auto;
  transition: 0.72s ease-out;
  &.closed {
    visibility: hidden;
    height: 0px;
  }
  &.closed-after-open {
    height: 0px;
  }
  &.opened {
    height: 240px;
  }
  .spinner {
    position: relative;
    padding-top: 64px;
    .windmill-medium-spinner {
      position: relative;
    }
  }
  .inputs-container {
    margin: 0 auto;
    padding: 20px;
    &.hidden {
      visibility: hidden;
    }
    &.hiding {
      visibility: hidden;
    }
    &.shown {
      visibility: visible;
    }
    .monit {
      width: 100%;
      text-align: justify;
      line-height: 1.2;
      margin-bottom: 20px;
      font-size: 15px;
    }
    .country-code {
      position: absolute!important;
      width: 96px;
    }
    .phone-body {
      margin-left: 108px;
    }
    .form-input {
      &.button {
        width: 50%;
        margin-left: auto;
      }
    }
  }
}
