@import '../../../../../../../../../styles/themes.scss';
@import './current';
@import './trigger';
@import './edit';

.user-edit-account-cell {
  position: relative;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 36px;
  .current {
    @extend %current;
  }
  .trigger {
    @extend %trigger;
  }
  .edit {
    @extend %edit;
  }
}
