.user-edit-account-cell {
  position: relative;
  width: 360px;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 36px;
  .current {
    position: relative;
    border: 1px solid #626567;
    height: 96px;
    z-index: 1;
    .icon {
      float: left;
      width: 48px;
      height: 94px;
      border-right: 1px solid lightgray;
      padding-top: 30px;
      padding-left: 8px;
      background: #F8F9F9;
      color: #626567;
      .fas {
        font-size: 26px;
        margin-top: 2px;
        &.fa-user-edit {
          margin-left: 2px;
        }
        &.fa-mobile {
          font-size: 32px;
          margin-left: 8px;
        }
        &.fa-file-alt {
          margin-left: 8px;
        }
        &.fa-envelope {
          margin-left: 3px;
        }
        &.fa-key {
          margin-left: 4px;
        }
        &.fa-user {
          margin-left: 8px;
        }
      }
    }
    .text {
      position: relative;
      float: left;
      padding: 8px;
      width: 296px;
      height: 96px;
      .title {
        font-size: 12px;
        color: gray;
      }
      .value {
        margin-top: 6px;
        font-size: 16px;
        overflow-x: auto;
      }
      // .button {
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   bottom: 0;
      //   left: 0;
      //   margin: auto;
      //   font-size: 14px;
      //   width: 120px;
      //   height: 32px;
      //   border-radius: 4px;
      //   border: 1px solid gray;
      //   color: #C0392B;
      //   background: #F7F9F9;
      // }
    }
  }

  .trigger {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 14px;
    padding: 4px 6px 4px 6px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid #626567;
    border-right: 1px solid #626567;
    color: #F4F6F7;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    background: #D7DBDD;
    background-image: linear-gradient(#FBFCFC,#D7DBDD);
    &.closed {
      // background: #F8F9F9;
      color: #154360;
    }
    &.opened {
      // background: #F8F9F9;
      animation-duration: 1s;
      // animation-name: open-trigger;
      // background: #A93226;
      color: #154360;
    }
    &.closed-after-open {
      // background: #F8F9F9;
      // background: #2471A3;
      animation-duration: 1s;
      // animation-name: close-trigger;
      color: #154360;
    }
    &.destroy {
      &.closed {
        // background: #F8F9F9;
        color: rgba(100, 30, 22, 0.72);
      }
      &.opened-after-close {
        // background: #F8F9F9;
        // color: gray;
        // animation: none;
        background: red;
      }
      &.opened {
        // background: #F8F9F9;
        color: gray;
      }
      &.closed-after-open {
        // background: #F8F9F9;
        color: gray;
        // animation: none;
      }
    }
    cursor: pointer;
    span {
      font-size: 12px;
      padding-left: 4px;
    }
  }
  .edit {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    height: 240px;
    width: 360px;
    margin: 0 auto;
    &.closed {
      height: 0px;
      display: none;
    }
    &.closed-after-open {
      height: 0px;
      animation-duration: 1s;
      animation-name: close-edit;
    }
    &.opened {
      height: 240px;
      display: block;
      animation-duration: 1s;
      animation-name: open-edit;
    }
    .spinner {
      position: relative;
      padding-top: 64px;
      .windmill-medium-spinner {
        position: relative;
      }
    }
    .input {
      margin: 0 auto;
      &.hidden {
        visibility: hidden;
      }
      &.hiding {
        visibility: hidden;
        animation-duration: .48s;
        animation-name: hide-input;
        padding: 20px;
      }
      &.shown {
        visibility: visible;
        animation-duration: .48s;
        animation-name: show-input;
        padding: 20px;
      }
      .monit {
        width: 320px;
        text-align: justify;
        line-height: 1.2;
        margin-bottom: 10px;
        font-size: 15px;
      }
    }
  }
}

@keyframes hide-input {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes show-input {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes open-trigger {
  from {
    background: #2471A3;
  }
  to {
    background: #A93226;
  }
}

@keyframes close-trigger {
  from {
    background: #A93226;
  }
  to {
    background: #2471A3;
  }
}

@keyframes open-edit {
  from {
    height: 0px;
  }
  to {
    height: 240px;
  }
}

@keyframes close-edit {
  from {
    height: 240px;
  }
  to {
    height: 0px;
  }
}