@import '../../../../../styles/themes';

#footer {
  background: $footer-background-color;
  color: white;
  padding: 0 24px;
  .inner {
    max-width: 1400px;
    height: 320px;
    margin: 0 auto;
    .links {
      max-width: 400px;
      padding: 24px 0 48px;
      .column {
        float: left;
        width: 50%;
        @media only screen and (max-width: $breakpoint-phone-large-max) {
          width: 100%;
        }
      }
      .link {
        width: 100%;
        height: 32px;
        .input {
          background: $footer-background-color;
          width: 100%;
          height: 100%;
          border: none;
          color: white;
          font-size: 16px;
          text-align: left;
          padding-left: 8px;
          &:hover {
            background: transparentize(white, .9)  
          }
        }
      }
    }
    .copyright {
      text-align: right;
    }
  }
}