@import '../../../styles/container';
@import './provision';
@import '../../../../../shared/app/styles/media-breakpoints';

%administrative-document {
  background: $BACKGROUND-LIGHT-GRAYISH-COLOR;
  padding: 120px 0 60px;
  @media #{$LARGE-PHONE} {
    padding-top: 60px;
    background: white;
  }
  .container {
    @extend %container;
    max-width: 768px;
    margin: 0 auto;
    padding: 32px;
    @media #{$LARGE-PHONE} {
      width: 100%;
      margin: 0;
      border: none;
      padding: 24px;
    }
    h1 {
      text-align: center;
      margin-bottom: 32px;
      font-size: 26px;
    }
    .provision {
      @extend %provision;
    }
  }

}
