%show-page-header {
  font-weight: normal;
  color: #2C3E50;
  font-size: 18px;
  padding: 24px;
  @media only screen and (min-width: $breakpoint-tablet-large-min) and (max-width: $breakpoint-tablet-large-max) {
    padding: 0;
  }
  @media only screen and (max-width: $breakpoint-tablet-small-max) {
    font-size: 16px;
    padding: 12px 12px 0;
  }
  .number, .pin, .district {
    display: inline-block;
    line-height: 36px;
    padding: 0;
    height: 36px;
    margin-right: 12px;
    @media only screen and (max-width: $breakpoint-tablet-small-max) {
      margin-bottom: 12px;
    }
  }
  .number, .pin {
    min-width: 36px;
    text-align: center;
    border-radius: 4px;
  }
  .number {
    border: 1px solid #D0D3D4;
    background: white;
    padding: 0 6px;
  }
  .pin {
    width: 36px;
    border: 1px solid #D0D3D4;
    background: white;
    color: #154360;
  }
  .pin {
    display: inline-block;
    font-size: 18px;
  }
}

