@import '../../../../../../../styles/themes';
@import './headers';
@import './contact';

.announcement-show-tile {
  position: relative;
  top: 24px;
  width: 100%;
  a {
    min-height: 32px;
  }
  background: white;
  text-align: left;
  .close-button {
    z-index: 3;
    top: 0;
    right: 0;
    position: absolute;
    height: 24px;
    width: 24px;
    right: 3px;
    border: none;
    line-height: 32px;
    font-size: 16px;
    background: white;
    &:hover {
      color: gray;
    }
  }
  &.show {
    padding-bottom: 24px;
    @media #{$phone} {
      padding-bottom: 12px;
    }
  }
  &.map {
    .area {
      margin-right: 8px;
    }
  }
  .area {
    .area-amount {
      float: left;
      margin-right: 4px;
    }
    .m, .sq {
      float: left;
    }
    .sq {
      margin-left: 1px;
      font-size: 12px;
    }
  }
  .header-container {
    h2 {
      position: relative;
      margin-top: 0;
      margin-bottom: 0;
      padding: 12px 0 12px 12px;
      .header-row {
        &.category {
          font-size: 18px;
          margin-bottom: 8px;
          color: rgba(34, 34, 34, 0.8);
          .for-lease {
            margin-left: 4px;
            font-size: 14px;
            color: rgba(34, 34, 34, 0.5);
          }
        }
        &.district {
          color: #566573;
          font-size: 16px;
        }
      }
      .area {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding-right: 23px;
        color: #21618C;
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        padding-top: 22px;
        .m, .sq {
          float: left;
        }
        .sq {
          margin-left: 2px;
          font-size: 10px;
        }
      }
    }
  }
  h3 {
    font-size: 16px;
    margin-bottom: 4px;
    color: #566573;
  }
}

#announcement-show {
  position: relative;
  width: 640px;
  margin: 0 auto;
  padding: 96px 0;

  @media only screen and (max-width: 688px) {
    width: 100%;
    padding: 96px 24px;
  }

  @media #{$phone} {
    padding: 96px 12px;
  }

  #showcase {
    margin: 0 0 0 auto;
    background: white;
    padding: 12px;
    width: 240px;
    margin-bottom: 24px;
    .phone-showcase {
      min-width: 50px;
      margin-top: 12px;
      line-height: 24px;
      height: 24px;
      .icon {
        float: left;
        color: #FBFCFC;
        background: #28B463;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 12px;
        font-size: 13px;
        padding: 1px 0 0 2px;
        margin-right: 8px;
      }
      .text {
        float: left;
        u {
          cursor: pointer;
          margin-left: 4px;
        }
      }
    }
    .contact {
      @extend %contact;
    }
  }  
}


