@import '../../../../../../../styles/themes';

.provision {
  margin-bottom: 8px;
  color: $primary-text-color;
  font-size: 16px;
  line-height: 22px;
  &.header {
    margin-top: 24px;
    font-weight: bold;
    position: relative;
    .mark {
      position: absolute;
      line-height: 20px;
    }
    .text {
      float: left;
      text-align: justify;
      line-height: 20px;
      padding-left: 48px;
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        padding-left: 36px;
      }
    }
  }
  &.point {
    .mark {
      position: absolute;
      line-height: 20px;
    }
    .text {
      float: left;
      text-align: justify;
      width: 100%;
      line-height: 20px;
      padding-left: 48px;
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        padding-left: 36px;
      }
    }
  }
  &.subpoint {
    .mark {
      position: absolute;
      padding-left: 48px;
      line-height: 20px;
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        padding-left: 36px;
      }
    }
    .text {
      float: left;
      padding-left: 86px;
      text-align: justify;
      line-height: 20px;
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        padding-left: 72px;
      }
    }
  }
}