@import '../../../../../../../styles/themes.scss';

#announcement-create-features, #announcement-create-furnishings {
  position: relative;
  max-width: 360px;
  color: $primary-text-color;
  .add-switcher {
    margin-bottom: 4px;
  }
  .box {
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 245px;
    padding: 12px 12px 0;
    border: 1px solid $FORM-BORDER;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
  }
  .box-with-scroll {
    position: relative;
    margin-bottom: 24px;
  }
}
