$BACKGROUND-COLOR-LIGHT-GRAYISH: rgb(236, 236, 236);



// DEPRECATED
// VARIOUS
$BACKGROUND-APP-COLOR: #fdfefe; //#F8F9F9;
$CONTAINER-BORDER-COLOR: #f2f3f4;
$TEXT-DEFAULT-COLOR: #1b2631;
$TEXT-HEADER-TIER-ONE-COLOR: #424949;
$TEXT-HEADER-TIER-TWO-COLOR: #424949;
$TEXT-ERROR-COLOR: #c0392b;
$BACKGROUND-ERROR-COLOR: rgba(253, 237, 236, 0.35);
$SUCCESS-ICON-COLOR: #16a085;
$FORM-INPUT-BORDER-COLOR: #909497;
$FORM-INPUT-ICON-COLOR: #b3b6b7;
$FORM-INPUT-CHEVRON-COLOR: #979a9a;
$LINKS-HEADER-COLOR: #34495e;
$primary-text-color: #2e4053;

// ACCOUNT
$primary-text-transparentized-color: transparentize($primary-text-color, 0.3);

// FORM RADIO
$button-index-color: #fbfcfc;

// FORM CHECKBOX
$untached-color: #2e4053;
$touched-color: #212f3d;
$border-color: $untached-color;
$touched-border-color: #34495e;
// END OF DEPRECATED
