$BACKGROUND-APP-COLOR: #fdfefe; //#F8F9F9;
$BACKGROUND-PHONE-COLOR: #e5e7e9;
$CONTAINER-BORDER-COLOR: #f2f3f4;
$TEXT-DEFAULT-COLOR: #1b2631;
$TEXT-GRAYED-OUT-COLOR: #999999;
$TEXT-HINT-COLOR: #7b7d7d;
$TEXT-HEADER-TIER-ONE-COLOR: #424949;
$TEXT-HEADER-TIER-TWO-COLOR: #424949;
$TEXT-ERROR-COLOR: #c0392b;
$BACKGROUND-ERROR-COLOR: rgba(253, 237, 236, 0.35);
$SUCCESS-ICON-COLOR: #16a085;
$FORM-INPUT-BORDER-COLOR: #909497;
$FORM-INPUT-ICON-COLOR: #b3b6b7;
$FORM-INPUT-CHEVRON-COLOR: #979a9a;
$LINKS-HEADER-COLOR: #34495e;
$HEADER-LINK-ADD-ANNOUNCEMENT: #229954;
$HEADER-LINK-ADD-ANNOUNCEMENT-HOVER: #27ae60;

// DEPRECATED
$primary-text-color: #2e4053;
$primary-text-transparentized-color: transparentize($primary-text-color, 0.3);
$primary-icon-color: #21618c;
$primary-error-color: #c0392b;
$form-input-hover-color: #34495e;
$form-input-border-color: #34495e;
$form-input-border-hover-color: #34495e;
$form-input-label-color: $primary-text-color;
$form-input-label-hover-color: $form-input-label-color;
$form-input-label-focus-color: $form-input-label-color;
$form-input-label-value-color: $form-input-label-color;
$form-input-error-color: $primary-error-color;
$form-input-icon-color: $primary-icon-color;
$footer-background-color: #1a5276;
$app-background-color: #f0f3f4;
$primary-text-color-hover: #7b7d7d;
$page-header-color: #2e86c1;
$section-header-color: #2471a3;
$theme-primary-color: #424949;
$theme-primary-color-inverted: #fbfcfc;
$theme-primary-color-inverted-hover: #d6eaf8;
$primary-error-color: #c0392b;
$input-border-color: #979a9a;
$button-index-color: #fbfcfc;
$untached-color: #2e4053;
$touched-color: #212f3d;
$border-color: $untached-color;
$touched-border-color: #34495e;
// END OF DEPRECATED
