$BACKGROUND-LIGHT-GRAYISH-COLOR: rgb(238, 239, 240);
$ERROR-COLOR: #e74c3c;
$LINK-COLOR: #21618c;
$LINK-COLOR-HOVER: #2e86c1;
$PRIMARY-BLUE-COLOR: #2e86c1;

// DEPRECATED
// VARIOUS
$TEXT-DEFAULT-COLOR: #1b2631;
$TEXT-HEADER-TIER-ONE-COLOR: #424949;
$TEXT-ERROR-COLOR: #c0392b;
$BACKGROUND-ERROR-COLOR: rgba(253, 237, 236, 0.35);
$SUCCESS-ICON-COLOR: #16a085;
$FORM-INPUT-BORDER-COLOR: #909497;
$FORM-INPUT-ICON-COLOR: #b3b6b7;
$FORM-INPUT-CHEVRON-COLOR: #979a9a;
$LINKS-HEADER-COLOR: #34495e;
$primary-text-color: #2e4053;

// FORM CHECKBOX
$untached-color: #2e4053;
$touched-color: #212f3d;
$border-color: $untached-color;
$touched-border-color: #34495e;
// END OF DEPRECATED
