@import './media-breakpoints';

.container {
  position: relative;
  background: #fdfefe;
  padding: 25px;
  &__legal {
    background: white;
    overflow-y: scroll;
    max-height: 72%;
    margin: 72px auto 0;
    max-width: 744px;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 18px;
    @media #{$SMALL-TABLET} {
      margin: 58px 12px;
    }
    @media #{$LARGE-PHONE} {
      margin: 46px 0;
      padding: 12px;
      border: none;
      border-radius: 0;
    }
  }
}

.wide-container {
  width: 1200px;
}

.medium-container {
  width: 720px;
  @media #{$SMALL-TABLET} {
    width: auto;
  }
  @media #{$LARGE-PHONE} {
    padding: 15px;
  }
}

.narrow-container {
  width: 456px;
  @media #{$LARGE-PHONE} {
    padding: 15px;
    width: 100%;
  }
}
