@import '../components/announcement/styles/pin';
@import './media-breakpoints';
@import './themes.scss';
@import './colors.scss';
@import '../components/support/components/spinner/components/windmill/styles/styles.scss';
@import './headers/headers';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  padding-top: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.transparent-cover {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cover {
  z-index: 200000000;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.separation-line {
  height: 1px;
  background: #EAEDED;
}

body {
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');
  font-family: 'Nunito Sans', 'Helvetica Neue', 'Arial', sans-serif;

  background: $BACKGROUND-APP-COLOR;
}

button {
  font-family: 'Nunito Sans';
}

.float-clear {
  clear: both;
}

.small-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 1;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:hover {
    color: inherit;
  }
  &:visible {
    color: inherit;
  }
}

.gm-style-pbc {
  opacity: 0 !important;
}

#not-found {
  position: relative;
  height: 700px;
  .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 300px;
    margin: auto;
    color: #7B7D7D;
    .number {
      text-align: center;
      font-size: 48px;
      margin-top: 48px;
    }
    .text {
      text-align: center;
      margin-top: 12px;
    }
  }
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}
