@import '../../../styles/section.scss';

.cooperation-mode {
  @extend %section;
  fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    min-inline-size: auto;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    font-size: 16px;
    margin-top: 20px;
    legend {
      padding: 0;
      display: table;
      margin-bottom: 12px;
    }
    div {
      margin-top: 8px;
    }
    label {
      margin-left: 8px;
    }
  }
}
