@import '../../../../../styles/themes';
@import '../../../../../styles/inputs/form/text.scss';
@import '../../../../../styles/inputs/form/textarea.scss';
@import '../../../../../styles/inputs/form/button.scss';

.post-create {
  max-width: 1214px;
  margin: 0 auto;
  background: white;
  border: 1px solid #E5E7E9;
  margin-top: 30px;
  padding: 15px;
  .form-input {
    &.textarea {
      height: 300px;
      .input {
        height: 300px;
      }
    }
    &.button {
      margin-top: 15px;
      margin-left: auto;
    }
  }
}
