@import '../../../../../../../../../styles/themes.scss';

#user-create-email-verify {
  position: relative;
  width: 100%;
  padding: 0 18px 18px;
  .monit {
    line-height: 19px;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 25px;
  }
  .form-input {
    &.text {
      margin-bottom: 25px;
      width: 50%;
      margin: 0 auto 24px;
    }
    &.button {
      position: relative;
      margin: 0 auto;
      width: 50%;
    }
  }
}
