@import '../../../../../../../../../styles/inputs/form/form';

#announcement-index-panel-user {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 6px;
  @media #{$small-pc} {
    padding: 8px;
  }
  .switches {
    position: relative;
    width: 487px;
    @media #{$small-pc} {
      width: auto;
      margin-bottom: 12px;
    }
    .switches-label {
      color: #ECF0F1;
      font-size: 15px;
      margin-bottom: 8px; 
    }
  }
  .form-input {
      &.checkbox {
        float: left;
        width: 180px;
        padding: 0;
        .label {
          color: #ECF0F1;
          margin-left: 24px;
          margin-bottom: 8px;
          &.checked, &.hover, &.focus {
            color: lightgray;
            font-weight: normal!important;
          }
          margin-right: 0;
          @media #{$small-pc} {
            width: auto;
          }
        }
        .input {
          background: #F7F9F9!important;
          padding-top: 1px;
          top: 3px;
          left: 0;
          .tick {
            border-bottom: 2px solid #2471A3;
            border-right: 2px solid #2471A3;
          }
        }
        @media #{$small-pc} {
          width: 50%!important;
        }
      }
      &.select {
        position: absolute!important;
        top: 8px;
        left: 426px;
        width: 201px;
        height: 68px;
        background: none;
        @media #{$small-pc} {
          position: relative!important;
          top: 0!important;
          left: 0!important;
          width: 100%!important;
          margin: 0!important;
        }
        .label {
          position: relative;
          top: 0!important;
          left: 0!important;
          font-size: 15px!important;
          color: #ECF0F1!important;
          background: none!important;
        }
        .input {
          position: relative;
          top: 8px;
          width: 201px!important;
          height: 40px!important;
          padding: 11px 0 0 32px!important;
          line-height: 15px;
          color: #2C3E50!important;
          @media #{$small-pc} {
            max-width: 201px;
            width: 100%!important;
          }
        }
        .fas {
          border: none;
        }
      }
    }
}