.view {
    composes: view from '../../../../../../common/styles/view.module.css';
    padding-top: 82px;
  }

  /* @import '../../../../../../common/styles/container.module.css'; */

.container {
  composes: container from '../../../../../../common/styles/container.module.css';
  position: relative;
}