.share {
  .facebook {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: #626567;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in;
    svg {
      position: absolute;
      bottom: 0;
      left: 12px;
      width: 18px;
      fill: white;
    }
    &:hover {
      background: #424949;
      transform: scale(1.2);
    }
  }
}
