@import '../../../../../../../styles/themes.scss';
@import '../../../../../styles/pin';

#announcement-create-map {
  position: relative;
  padding-bottom: 20px;
  .hint {
    color: #424949 !important;
  }
  #google-map-container {
    height: 400px;
    border-radius: 2.5px;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      width: 100%;
    }
    #google-map {
      width: 100%;
      height: 100%;
      border: 1px solid #abb2b9;
      &.map-error {
        border: 1px solid $TEXT-ERROR-COLOR;
      }
    }
    .pin {
      @extend %pin;
    }
  }
  .error {
    font-size: 14px;
    color: $TEXT-ERROR-COLOR;
    padding-top: 5px;
  }

  .hint {
    line-height: 24px !important;
  }

  .address-input {
    position: relative;
    .autocomplete-input-cover {
      z-index: 1;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    input {
      position: relative;
      z-index: 21;
      width: 100%;
      border-radius: 4px;
      border: 1px solid gray;
      height: 42px;
      line-height: 36px;
      font-size: 16px;
      padding: 0 10px;
    }
    .autocompletes {
      z-index: 21;
      position: absolute;
      top: 42px;
      right: 0;
      left: 0;
      background: white;
      padding: 12px 12px 0;
      z-index: 3;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 3px 8px 3px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      div {
        margin-bottom: 12px;
        cursor: pointer;
        &:hover {
          font-weight: bold;
        }
      }
    }
    margin-bottom: 20px;
  }
}
