// @import '../../../../../styles/themes';
// @import '../../../../../styles/inputs/form/text.scss';
// @import '../../../../../styles/inputs/form/textarea.scss';
// @import '../../../../../styles/inputs/form/button.scss';

#page-create {
  max-width: 500px;
  margin: 200px auto;
  border: 1px solid #E5E7E9;
  background: white;
  form {
    padding: 30px;
    .separation-line {
      margin: 20px 0;
    }
    .form-input {
      margin-bottom: 15px;
      &.textarea {
        height: 300px;
        .input {
          height: 300px;
        }
        &.slim {
          height: 100px;
          .input {
            height: 100px;
          } 
        }
      }
      &.button {
        margin-top: 50px;
        margin-left: auto;
      }
    }
  }
}
