#page-create {
  max-width: 500px;
  margin: 200px auto;
  border: 1px solid #E5E7E9;
  padding: 30px;
  background: white;
  form {
    width: 100%;
    .form-input {
      width: 300px;
      &.text {
        width: 100%;
        margin-bottom: 15px;
        .label {
          margin-bottom: 5px;
          font-size: 14px;
        }
        .input {
          width: 100%;
          height: 36px;
          font-size: 16px;
          padding-left: 10px;
        }
      }
      &.button {
        width: 100%;
        .input {
          display: block;
          width: 100px;
          height: 30px;
          margin: 30px auto 0;
        }
      }
    }
  }
  .names {
    height: 200px;
    background: #F8F9F9;
    border: 1px solid #E5E7E9;
    padding: 10px;
    line-height: 24px;
    font-size: 15px;
    overflow-y: scroll;
  }
}
