@import '../../../../../styles/themes.scss';
@import '../components/connecting/styles/styles.scss';
@import '../components/consents/styles/styles.scss';
@import '../components/email/components/inputs/styles/styles.scss';
@import '../components/email/components/submit/styles/styles.scss';
@import '../components/email/components/verify/styles/styles.scss';
@import '../components/email/styles/styles.scss';
@import '../../../../announcement/components/create/components/steps/styles/styles.scss';
@import '../../../../../styles/inputs/form/text.scss';
@import '../../../../../styles/inputs/form/select.scss';
@import '../../../../../styles/inputs/form/checkbox.scss';
@import '../../../../../styles/inputs/form/radio.scss';
@import '../../../../../styles/inputs/form/button.scss';
@import '../../../../../styles/box_shadows.scss';

#user-create {
  margin: 50px auto 150px;
  max-width: 600px;
  border: 1px solid #D7DBDD;
  padding: $FORM-PADDING-PC;
  border-radius: 4px;
  background: white;
  @media #{$LARGE-PHONE} {
    border: none;
    padding: $FORM-PADDING-PHONE;
  }
  .page-header {
    h1 {
      padding: 0;
      font-size: 18px;
    }
  }
  @media #{$SMALL-TABLET} {
    margin: 0 auto;
  }
  &.creating-announcement {
    max-width: 768px;
    margin-top: 0;
    border-top: none;
    padding: 0 36px 36px;
  }
}
