@import '../../../../../styles/themes.scss';
@import '../components/connecting/styles/styles.scss';
@import '../components/consents/styles/styles.scss';
@import '../components/email/components/inputs/styles/styles.scss';
@import '../components/email/components/submit/styles/styles.scss';
@import '../components/email/components/verify/styles/styles.scss';
@import '../components/email/styles/styles.scss';
@import '../../../../announcement/components/create/components/steps/styles/styles.scss';
@import '../../../../../styles/inputs/form/text.scss';
@import '../../../../../styles/inputs/form/select.scss';
@import '../../../../../styles/inputs/form/checkbox.scss';
@import '../../../../../styles/inputs/form/radio.scss';
@import '../../../../../styles/inputs/form/button.scss';

#user-create-container {
  margin: 0 auto;
  max-width: 600px;
  border: 1px solid #D0D3D4;

  padding: 50px;

  @media #{$SMALL-TABLET} {
    margin: 0 auto;
  }
  &.creating-announcement {
    max-width: 768px;
    margin-top: 0;
    border-top: none;
    padding: 0 36px 36px;
  }
}

.create-points {
  &.user {
    max-width: 580px;
    padding: 0 0 60px 0;
    .line {
      margin: 0;
    }
    .point {
      &.first {
        left: 0;
      }
      &.last {
        right: 0;
      }
    }
  }
}
