%top-links {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 50px;
  text-align: right;
  @media #{$SMALL-PC} {
    right: 52px;
  }
  .header-link {
    display: inline-block;
    margin-right: 20px;
    :hover {
      text-decoration: underline;
      cursor: pointer;
    }

    svg {
      display: block;
      width: 20px;
      margin: 3px auto 5px;
      // margin-
    }

    .input {
      border: none;
      background: none;
    }
    &.add-announcement {
      width: 200px;
      text-align: center;
      font-size: 14px;
      line-height: 15px;
      padding: 5px 12px;
    }
  }
}
