%links {
  float: right;
  .header-link {
    display: inline-block;
    margin-left: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    padding: 9px 0;
    cursor: pointer;
    svg {
      display: block;
      width: 20px;
      margin: 0 auto 4px;
    }
    &.hover {
      text-decoration: underline;
    }
    &.add-announcement {
      color: $HEADER-LINK-ADD-ANNOUNCEMENT;
      svg {
        fill: $HEADER-LINK-ADD-ANNOUNCEMENT;
      }
      :hover {
        color: $HEADER-LINK-ADD-ANNOUNCEMENT-HOVER;
        svg {
          fill: $HEADER-LINK-ADD-ANNOUNCEMENT-HOVER;
        }
      }
    }
    &.sign-in {
      svg {
        width: 24px;
        transform: translate(0, -1px);
      }
    }
    &.my-account {
      svg {
        width: 17px;
      }
    }
    :hover {
      svg {
        fill: #34495E;
      }
      color: #34495E;
    }
  }
}
