%page-header {
  float: left;
  margin-left: 20px;
  font-size: 14px;
  font-weight: normal;
  color: #34495E;
  line-height: 60px;
  @media #{$LARGE-TABLET} {
    position: absolute;
    visibility: hidden;
  }
}
