@import '../../../../../styles/themes.scss';
@import './logo.scss';
@import './page-header.scss';
@import './links.scss';
@import './menu-cover.scss';

#header {
  z-index: 2048;
  position: fixed;
  left: 0;
  right: 0;
  height: 60px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 3px 1px #D0D3D4;
  .inner {
    padding: 0 20px;
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    .logo { @extend %logo; }
    .page-header { @extend %page-header; }
    .links { @extend %links; }
  }
  .menu-cover { @extend %menu-cover; }
}
