@import '../../../../../../shared/app/styles/media-breakpoints';
@import '../../../../styles/z-index';

#header {
  z-index: $SCAFFOLD-HEADER-Z-INDEX;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 16px;
  background: #1B2631;
  color: #D0D3D4;
  
  .lang-switch {
    float: right;
    color: #D0D3D4;
    .current {
      line-height: 50px;
      color: #D0D3D4;
      svg {
        fill: #D0D3D4;;
      }
    }
    .all {
      top: 52px;
      border-radius: 3px;
    }
  }
  .header-link {
    float: right;
    margin-right: 32px;
    font-size: 14px;
    line-height: 50px;
    color: #D0D3D4;
    .input {
      font-size: 14px;
      color: #D0D3D4;
    }
    &:hover {
      text-decoration: underline;
    }
    &.hover {
      text-decoration: underline;
      // color: #34495e;
      // color: #D0D3D4;
    }

    &.add-announcement {
      height: 32px;
      margin-top: 14px;
      border-radius: 4px;
      padding-right: 9px;
      padding-left: 9px;
      background: #229954;
      line-height: 32px;
      color: white;
      font-weight: normal;
    }
  }

  .de-authorize {
    .input {
      width: 100%;
      text-align: left;
      border: none;
      background: none;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
