@import '../../../../../../shared/app/styles/media-breakpoints';

#header {
  z-index: 2048;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-bottom: 1px solid lightgray;
  padding: 0 16px;
  // .logo {
  //   float: left;
  //   a {
  //     height: 40px;
  //     width: 100px;
  //   }
  //   // height: 40px;
  //   // width: 100px;
  // }
  .lang-switch {
    float: right;
    .current {
      line-height: 50px;
    }
    .all {
      top: 52px;
      border-radius: 3px;
    }
  }
}
