@import '../../../../../../shared/app/styles/media-breakpoints';
@import '../../../../styles/z-index';
@import '../../../../styles/dimensions';
@import '../../../../styles/colors';
@import '../components/side-menu/styles/side_menu';
@import './link';
@import './account';
@import './lang_switch';

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $SCAFFOLD-HEADER-Z-INDEX;
  height: $DESKTOP_HEADER_HEIGHT;
  margin: 0 auto;
  border-bottom: 1px solid $LIGHT_THEME_HEADER_BORDER_COLOR;
  background: $LIGHT_THEME_HEADER_BACKGROUND_COLOR;
  .inner {
    position: relative;
    max-width: 1440px;
    height: 60px;
    margin: 0 auto;
    .logo {
      position: absolute;
    }
    .link,
    .account {
      @extend %link;
    }
    .account {
      @extend %account;
    }
    .lang-switch {
      @extend %lang-switch;
    }
    .side-menu-button {
      @extend %side-menu-button;
    }
    .side-menu-panel {
      @extend %side-menu-panel;
    }
  }
  @media #{$MEDIUM-PC} {
    .inner {
      margin: 0 30px;
    }
  }
  @media #{$LARGE-PHONE} {
    padding: 0 20px;
    .inner {
      margin: 0;
      .lang-switch {
        border-left: none;
      }
    }
  }
}
