@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/media-breakpoints';

#announcement-show {
  #showcase {
    width: 180px;
    margin: 0 0 20px auto;
    padding: 15px;
    border: 1px solid $CONTAINER-BORDER-COLOR;
    .phone-showcase {
      min-width: 50px;
      margin-top: 12px;
      line-height: 24px;
      height: 24px;
      .icon {
        position: relative;
        top: 6px;
        float: left;
        width: 14px;
        margin-right: 8px;
        line-height: 12px;
        svg {
          fill: $TEXT-COLOR;
        }
      }
      .text {
        float: left;
        u {
          cursor: pointer;
          margin-left: 4px;
        }
      }
    }
  }  
}