.skill {
  position: relative;
  height: 68px;
  .name {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .levels {
    display: inline-block;
  }
  .level {
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    border-radius: 2px;
    background: lightgray;
    cursor: pointer;
    &.novice {
      background: #F9E79F;
    }
    &.junior {
      background: #27AE60;
    }
    &.mid {
      background: #2874A6;
    }
    &.senior {
      background: #E74C3C;
    }
    &.expert {
      background: #6C3483;
    }
  }
  .level-name {
    margin-top: 4px;
    font-size: 13px;
    color: gray;
  }
  .delete {
    width: 24px;
    height: 24px;
    border: 1px solid gray;
    border-radius: 12px;
    position: absolute;
    top: 0;
    bottom: 36px;
    left: 150px;
    margin: auto;
    cursor: pointer;
  }
}
