@import '../../../../../styles/media-breakpoints';
@import '../../../../../../../shared/app/styles/lined-heading';

#listing-index {
  position: relative;
  max-width: 1440px;
  max-height: 960px;
  height: calc(100vh - 60px - 48px);
  margin: 24px auto;
  border: 1px solid #D7DBDD;
  border-radius: 12px;
  background: white;
  overflow: hidden;
  > h1 {
    @extend %lined-heading;
  }
  @media #{$LARGE-TABLET} {
    max-height: none;
    height: auto;
    margin: 0;
    border: none;
    border-radius: 0;
  }
}
