@import '../../../../../../../../../styles/inputs/form/svgs';
@import '../../../../../../../../../styles/colors';
@import '../../../../../../../../../styles/inputs/radio';
@import './country-code-phone-number-container';
@import './terms-of-service-consent';
@import '../../../../../../../../../styles/themes';

#users-new-form {
  padding: 32px;
  .account-type {
    @extend %radio;
    margin-bottom: 24px;
    .label {
      line-height: 15px;
      font-size: 15px;
    }
  }
  .hint {
    color: #1f618d;
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 12px;
  }
  .country-code-phone-number-container {
    @extend %country-code-phone-number-container;
  }
  .terms-of-service-consent {
    @extend %terms-of-service-consent;
  }
}
