@import '../../../../../../../styles/themes.scss';
@import '../../../../../../../styles/inputs/form/form';

#announcement-create-features, #announcement-create-furnishings {
  position: relative;
  max-width: 360px;
  color: $primary-text-color;
  padding-right: 24px;
  .box {
    position: relative;
    border: 1px solid $primary-element-color;
    background: white;
    height: 240px;
    overflow-y: scroll;
    border-radius: 2.5px;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    overflow-y: scroll;
    width: 100%;
    max-width: 360px;
    .form-input {
      @extend %form-input;
    }
  }
  .scroll {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    margin: auto;
    line-height: 240px;
    .fa-sort {
      color: $primary-element-color;
    }
  }
}