@import '../../../../../../../styles/media-breakpoints';
@import '../../../../../../../styles/colors';

#announcement-create-pictures {
  .drag-and-drop {
    position: relative;
    border: 1px solid #AEB6BF;
    width: 360px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 15px;
    border-radius: 2.5px;
    cursor: pointer;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      width: 100%;
    }
    &.error-drag-and-drop {
      border: 1px solid #E74C3C;
    }
    &:hover {
      background: #EBF5FB;
    }
    .input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }
  .error {
    width: 360px;
    padding-top: 4px;
    color: #E74C3C;
    text-align: center;
    font-size: 13px;
    margin-bottom: 12px;
  }
  svg {
    width: 18px;
  }
  .picture {
    position: relative;
    float: left;
    width: 240px;
    height: 153.6px;
    background-size: 100%;
    margin: 0 48px 24px 0;
    border-radius: 2.5px;
    text-align: center;
    .buttons {
      position: absolute;
      top: 0;
      right: -40px;
      bottom: 0;
      width: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .button {
        cursor: pointer;
        &.delete {
          svg {
            fill: #E74C3C;
            width: 20px;
            transform: translate(3px);
          }
        }
        &.up {
          svg {
            transform: rotate(90deg);
          }
        }
        &.down {
          svg {
            transform: rotate(270deg);
          }
        }
        &.rotate {
          svg {
            width: 14px;
          }
        }
      }
    }
  }
}
