@import '../../common/tile/styles/h1';
@import '../../common/tile/styles/go-to-link';

#announcement-show {
  .announcement-tile {
    @extend %h1;
    @extend %go-to-link;
    max-width: 768px;
    width: 100%;
    margin-top: 50px;
    h2 {
      font-size: 16px;
      color: $TEXT-HEADER-TIER-ONE-COLOR;
      margin-bottom: 5px;
    }
    @media #{$LARGE-TABLET} {
      max-width: 768px;
      margin: 0 auto;
      border: none;
      border-radius: 0;
    }
    @media #{$LARGE-PHONE} {
      border: none;
      border-radius: 0;
      .header-container {
        padding: $PADDING-PHONE;
        .area {
          right: 8px;
          height: 22px;
          font-size: 22px;
        }
      }
    }
    .announcement-tile-primary {
      .rent-container {
        &.total {
          font-size: 28px;
          margin-bottom: 15px;
          .decimal {
            font-size: 15px;
            top: 1px;
            right: -1px;
          }
          .per-month {
            margin-top: 15px;
            font-size: 12px;
          }
        }
        &.per-sqm {
          font-size: 18px;
          .sq {
            font-size: 12px;
          }
          .per-month {
            margin-top: 8px;
            font-size: 10px;
          }
        }
      }
    }
  }
}
