#announcement-show {
  .announcement-tile {
    max-width: 768px;
    width: 100%;
    border: 1px solid $CONTAINER-BORDER-COLOR;
    border-radius: 4px;
    margin-top: 50px;
    h2 {
      font-size: 16px;
      color: $TEXT-HEADER-TIER-ONE-COLOR;
      margin-bottom: 5px;
    }
    .header-container {
      padding: $PADDING-PC;
      .header-row {
        font-size: 18px;
        &.category {
          margin-bottom: 10px;
          color: $TEXT-HEADER-TIER-ONE-COLOR;
        }
        &.locality-sublocality {
          font-weight: normal;
          color: #566573;
        }
      }
      .area {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 30px;
        margin: auto;
        font-size: 30px;
      }
    }
    @media #{$LARGE-TABLET} {
      max-width: 768px;
      margin: 0 auto;
      border: none;
      border-radius: 0;
    }
    @media #{$LARGE-PHONE} {
      border: none;
      border-radius: 0;
      .header-container {
        padding: $PADDING-PHONE;
        .area {
          right: 8px;
          height: 22px;
          font-size: 22px;
        }
      }
    }
    .announcement-tile-primary {
      .rent-container {
        &.total {
          font-size: 28px;
          margin-bottom: 15px;
          .decimal {
            font-size: 15px;
            top: 1px;
            right: -1px;
          }
          .per-month {
            margin-top: 15px;
            font-size: 12px;
          }
        }
        &.per-sqm {
          font-size: 18px;
          .sq {
            font-size: 12px;
          }
          .per-month {
            margin-top: 8px;
            font-size: 10px;
          }
        }
      }
    }
  }
}
