@import '../../common/tile/styles/h1';
@import '../../common/tile/styles/go-to-link';

#announcement-show {
  padding-top: 18px;
  .announcement-tile {
    @extend %h1;
    @extend %go-to-link;
    max-width: 768px;
    width: 100%;
    h2 {
      font-size: 16px;
      color: $TEXT-HEADER-TIER-ONE-COLOR;
      margin-bottom: 5px;
    }
    @media #{$LARGE-TABLET} {
      max-width: 768px;
      margin: 0 auto;
      border: none;
      border-radius: 0;
    }
    @media #{$LARGE-PHONE} {
      border: none;
      border-radius: 0;
      .header-container {
        padding: $PADDING-PHONE;
        .area {
          right: 8px;
          height: 22px;
          font-size: 22px;
        }
      }
      h1 {
        padding: 0 18px;
      }
      #showcase {
        padding: 0 18px;
      }
      .go-to-link {
        padding: 0 18px;
      }
      .announcement-tile-primary {
        padding: 0 18px;
      }
      .announcement-tile-features {
        padding: 0 18px;
      }
      .announcement-tile-description {
        padding: 0 18px;
      }
    }
  }
}
