@import '../../../../../styles/colors.scss';
@import '../../../../../styles/media-breakpoints.scss';
@import './dimensions.scss';
@import './tile.scss';

#announcement-show {
  position: relative;
  max-width: 768px;
  margin: 0 auto 128px;
  @media #{$LARGE-TABLET} {
    background: white;
    width: 100%;
  }
}
