@import '../../../../../styles/colors.scss';
@import '../../../../../styles/media-breakpoints.scss';
@import '../../common/tile/styles/tile';

#announcement-show {
  position: relative;
  max-width: 768px;
  margin: 48px auto;
  @media #{$LARGE-TABLET} {
    background: white;
    width: 100%;
  }
  .listing-tile {
    @extend %tile;
  }
}
