@import '../../../../../../../../../shared/app/styles/media-breakpoints';
@import '../../../../support/heading/styles/styles.scss';
@import '../../../../common/area/styles/styles.scss';
@import '../../../../common/rent/styles/styles.scss';
@import '../../../../show/components/tile/styles/pictures'; // TODO!

%listing-index-tile {
  max-width: 608px;
  position: relative;
  height: 230px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
  background: white;
  transition: box-shadow 0.15s ease-in;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 14px;
  }
  &.promoted {
    background: #fef5e7;
  }
  @media #{$LARGE-TABLET} {
    height: auto;
    padding: 0;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
  }
  .pictures {
    @extend %pictures;
    width: 360px;
    @media #{$LARGE-TABLET} {
      width: 100%;
      float: none;
    }
  }
  .primary {
    position: absolute;
    top: 0;
    left: 360px;
    width: 244px;
    height: 230px;
    padding: 0 18px;
    @media #{$LARGE-TABLET} {
      position: static;
      margin-bottom: 18px;
    }
  }
  h2 {
    @extend %heading;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 16px;
  }
  .area {
    @extend %area;
    margin-bottom: 18px;
    @media #{$LARGE-TABLET} {
      display: inline-block;
      margin-right: 18px;
      margin-bottom: 0;
    }
  }
  .rent {
    @extend %rent;
    @media #{$LARGE-TABLET} {
      display: inline-block;
    }
  }
}
