@import '../../../../../../../../../shared/app/styles/media-breakpoints';
@import '../../../../support/heading/styles/styles.scss';
@import '../../../../common/area/styles/styles.scss';
@import '../../../../common/rent/styles/styles.scss';
@import '../../../../show/components/tile/styles/pictures'; // TODO!
@import '../../../../../styles/themes';

%listing-index-tile {
  max-width: 608px;
  position: relative;
  height: 230px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
  background: white;
  transition: box-shadow 0.15s ease-in;

  .show-on-map {
    display: block;
    position: absolute;
    right: 18px;
    bottom: 18px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #3498db;
    color: red;
    background: white;
    svg {
      height: 27px;
      position: relative;
      top: 1px;
      fill: #2874a6;
    }
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 14px;
  }
  &.promoted {
    background: $PROMOTED_COLOR;
  }
  @media #{$LARGE-TABLET} {
    height: auto;
    padding: 0;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
  }
  .pictures {
    @extend %pictures;
    width: 360px;
    @media #{$LARGE-TABLET} {
      width: 100%;
      float: none;
    }
  }
  .primary {
    position: absolute;
    top: 0;
    left: 360px;
    width: 244px;
    height: 230px;
    padding: 0 18px;
    @media #{$LARGE-TABLET} {
      position: static;
      height: auto;
      margin-bottom: 18px;
    }
  }
  h2 {
    @extend %heading;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 16px;
  }
  .area {
    @extend %area;
    margin-bottom: 18px;
    @media #{$LARGE-TABLET} {
      display: inline-block;
      margin-right: 18px;
      margin-bottom: 0;
    }
  }
  .rent {
    @extend %rent;
    @media #{$LARGE-TABLET} {
      display: inline-block;
    }
  }
  // .show-on-map {
  //   display: block;
  //   position: absolute;
  //   right: 12px;
  //   bottom: 12px;
  //   width: 20px;
  //   height: 20px;
  //   border: 50%;
  //   border: 1px solid gray;
  //   color: red;
  // }
}
