@import '../../../../../../../../../../styles/media-breakpoints.scss';

.lang-switch {
  float: left;
  position: relative;
  margin-left: 25px;
  height: 60px;
  line-height: 60px;
  width: 50px;
  text-align: center;
  font-size: 16px;
  svg {
    display: inline-block;
    margin-left: 2px;
    height: 12px;
  }

  .current {
    text-transform: uppercase;
    cursor: pointer;
  }

  .all {
    position: absolute;
    top: 66px;
    background: white;
    line-height: 32px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(black, .2);
    height: 0;
    width: 50px;
    overflow: hidden;
    transition: all .2s;
    a {
      &:hover {
        background-color: #F8F9F9;
      }
    }
    &.show {
      height: 64px;
    }
  }
}
