@import '../../../../../../../../../styles/themes.scss';

#user-create-email-submit {
  .separation-line {
    margin-bottom: 30px;
  }
  .form-input {
    &.button {
      margin: 0 auto;
      .very-small-windmill-spinner {
        top: -54px;
        left: -49px;
        div:after {
          background: gray;
        }
      }
    }
  }
}
