pre {
  padding: 10px 20px;
  background: #1C2833;
  font-size: 15px;
  line-height: 1.55;

  code {
    font-family: monospace;
    padding: 0;
    white-space: pre-wrap;
    color: #E5E7E9;

    &.javascript {
      .hljs-comment {
        color: rgb(130, 150, 130);
      }

      .hljs-string {
        color: rgb(200, 140, 120);
      }

      // Keywords: var, let, const, class, etc.
      .hljs-keyword {
        color: rgb(80, 150, 210);
      }

      // Object attribute declaration.
      .hljs-attr {
        color: rgb(140, 190, 230);
      }

      // Object property invocation.
      .hljs-property {
        color: rgb(100, 150, 180);
      }

      .hljs-function {
        color: rgb(100, 150, 180);
      }

      .hljs-number {
        color: 180, 200, 160;
      }

      .hljs-title {
        &.function_ {
          color: rgb(240, 220, 170);
        }

        // Class name.
        &.class_ {
          color: rgb(80, 200, 180)
        }
      }

      .hljs-variable {
        // console, this, etc.
        &.language_ {
          color: rgb(80, 150, 210);
        }
      }

      // Function params.
      .hljs-params {
        color: rgb(150, 210, 240);
      }
    }

    &.ruby {
      .hljs-comment {
        color: rgb(130, 150, 130);
      }

      .hljs-string {
        color: rgb(200, 140, 120);
      }

      .hljs-keyword {
        // color: rgb(80, 150, 210);
      }

      // Object attribute declaration.
      .hljs-attr {
        // color: rgb(140, 190, 230);
      }

      // Object property invocation.
      .hljs-property {
        // color: rgb(100, 150, 180);
      }

      .hljs-function {
        // color: rgb(100, 150, 180);
      }

      .hljs-number {
        // color: 180, 200, 160;
      }

      .hljs-title {
        &.function_ {
          // color: rgb(220, 220, 170);
        }

        &.class_ {
          // color: rgb(80, 200, 180)
        }
      }

      .hljs-variable {
        &.language_ {
          // color: rgb(80, 150, 210);
        }
      }
    }
  }
}
