@import '../../../shared/app/styles/media-breakpoints';
@import './colors';

%container {
  max-width: 400px;
  border-radius: 5px;
  background: white;
  border: 1px solid #e5e7e9;
  @media #{$LARGE-PHONE} {
    max-width: none;
    width: 100%;
    box-shadow: none;
    margin: none;
    border: 1px solid $CONTAINER-BORDER-COLOR;
  }
}
