%button {
  position: relative;
  height: 36px;
  width: 144px;
  .input {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 2.5px;
    outline: none;
    background: #D35400;
    color: #FBFCFC;
    cursor: pointer;
    font-size: 15px;
    &.hover, &.focus {
      background: #BA4A00;
    }
    transition: .2s ease-in-out;
  }
}