%checkbox {
  padding: 6px 12px;
  margin: 0;
  transition: .24s;
  position: relative;
  .input {
    position: absolute;
    cursor: pointer;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 2px;
    background: #2471A3;
    top: 8px;
    right: 0;
    bottom: 0;
    left: 12px;
    .tick {
      transform: rotate(45deg);
      width: 5px;
      height: 11px;
      margin-left: 5px;
    }
  }
  .label {
    margin-left: 28px;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    &.checked {
      font-weight: bold;
    }
  }
}