%checkbox {
  .input {
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    cursor: pointer;
    border-radius: 2px;
    .tick {
      transform: rotate(45deg);
      width: 6px;
      height: 11px;
      margin-left: 5px;
    }
  }
  .label {
    width: 304px;
    margin-left: 28px;
    cursor: pointer;
    font-size: 15px;
    line-height: 16px;
    text-align: justify;
  }
}