@import '../../themes.scss';
@import './select';
@import './radio';
@import './checkbox';
@import './textarea';
@import './button';

$untached-color: #2E4053;
$touched-color: #212F3D;
$border-color: $untached-color;
$touched-border-color: #34495E;

%form-input {
  &.text, &.select, &.textarea {
    position: relative;
    background: $color-background;
    .input {
      width: 100%;
      padding-left: 8px;
      border: 1px solid $border-color;
      border-radius: 2px;
      background: $color-background;
      color: #374049;
      &.error {
        border: 1px solid $primary-error-color;
        color: $primary-error-color;
      }
    }
    .label {
      display: inline-block;
      position: absolute;
      background: $color-background;
      color: #374049;
      cursor: pointer;
      background: none;
      &.hover {
        color: $form-input-label-hover-color;
      }
      &.focus {
        color: $form-input-label-focus-color;
      }
      &.error {
        color: $primary-error-color!important;
      }
      &.focus, &.value {
        background: white;
      }
    }
    .error-container {
      padding-top: 4px;
      text-align: center;
      font-size: 12px;
    }
  }
  &.text, &.select {
    height: 42px;
    margin-bottom: 24px;
    .input {
      color: $touched-color;
      width: 100%;
      height: 100%;
      font-size: 16px;
      padding-left: 42px;
      transition: .2s ease-in-out;
      &.hover, &.focus {
        border-color: $touched-border-color;
        box-shadow: 0 0 0 1px $touched-border-color;
      }
    }
    .fas, .far {
      position: absolute;
      cursor: pointer;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      line-height: 42px;
      color: $untached-color;
      background: #F2F3F4;
      width: 32px;
      text-align: center;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      border-top: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      font-size: 12px;
    }
    .label {
      top: 14px;
      left: 42px;
      font-size: 15px;
      transition: 0.18s;
      text-align: left;
      color: $untached-color;
      padding: 0 2px;
      &.value, &.focus {
        top: -6px;
        font-size: 12px;
      }
    }
    .error-container {
      opacity: 0;
      transition: 0.18s;
      color: $primary-error-color;
      &.error {
        opacity: 1;
        color: $primary-error-color;
      }
    }
  }
  &.select {
    @extend %select;
  }
  &.textarea {
    @extend %textarea;
  }
  &.radio {
    @extend %radio;
  }
  &.checkbox {
    @extend %checkbox;
    .input {
      transition: .2s ease-in-out;
      border: 1px solid $border-color;
      outline: none;
      transition: 0.18s;
      &.hover, &.focus {
        box-shadow: 0 0 0 1px $touched-border-color;
      }
      .tick {
        border-bottom: 1px solid $touched-color;
        border-right: 1px solid $touched-color;
      }
    }
    .label {
      color: $untached-color;
      &.focus, &.hover, &.value {
        color: $touched-color;
      }
    }
  }
  &.button {
    @extend %button;
  }
  .fas, .far {
    width: 26px;
    font-size: 14px;
    color: $form-input-icon-color;
    transition: 0.18s;
  }
  .focus, .value {
    .fas, .far {
      width: 20px;
      font-size: 12px;
      transition: 0.18s;
    }
  }
  &.error {
    .fas, .far {
      color: $form-input-error-color;
      border-top: 1px solid $primary-error-color;
      border-left: 1px solid $primary-error-color;
      border-bottom: 1px solid $primary-error-color;
    }
  }

  &.hover, &.focus {
    .fas, .far {
      border-top: 1px solid $touched-border-color;
      border-left: 1px solid $touched-border-color;
      border-bottom: 1px solid $touched-border-color;
    }
  }
}
