@import '../../themes.scss';
@import './select';
@import './radio';
@import './checkbox';
@import './textarea';
@import './button';

%form-input {
  &.text, &.select, &.textarea {
    position: relative;
    background: $color-background;
    .input {
      width: 100%;
      padding-left: 8px;
      border: 1px solid #374049;
      border-radius: 2px;
      background: $color-background;
      color: #374049;
      &.hover {
        border: 1px solid transparentize($form-input-border-color, 0.3);
        background: #EBF5FB;
      }
      &.error {
        border-right: 2px solid $primary-error-color;
        color: $primary-error-color!important;
      }
    }
    .label {
      display: inline-block;
      position: absolute;
      background: $color-background;
      color: #374049;
      cursor: pointer;
      background: none;
      &.hover {
        color: $form-input-label-hover-color;
      }
      &.focus {
        color: $form-input-label-focus-color;
      }
      &.error {
        color: $primary-error-color!important;
      }
      &.focus, &.value {
        background: white;
      }
      &.error {
        .fas, .far {
          color: $form-input-error-color;
        }
      }
    }
    .error-container {
      padding-top: 4px;
      text-align: center;
      font-size: 12px;
    }
  }
  &.text, &.select {
    height: 42px;
    margin-bottom: 24px;
    .input {
      width: 100%;
      height: 42px;
      font-size: 15px;
      padding-left: 42px;
      font-weight: bold;
    }
    .fas, .far {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      line-height: 42px;
      color: #374049;
      background: #D7DBDD;
      width: 32px;
      text-align: center;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      border-top: 1px solid #374049;
      border-left: 1px solid #374049;
      border-bottom: 1px solid #374049;
      font-size: 12px;
    }
    .label {
      top: 14px;
      left: 42px;
      font-size: 15px;
      transition: 0.18s;
      text-align: left;
      &.value, &.focus {
        top: -5px;
        font-size: 12px;
      }
    }
    .error-container {
      opacity: 0;
      transition: 0.18s;
      color: $primary-error-color;
      &.error {
        opacity: 1;
        color: $primary-error-color;
      }
    }
  }
  &.select {
    @extend %select;
  }
  &.textarea {
    @extend %textarea;
  }
  &.radio {
    @extend %radio;
  }
  &.checkbox {
    @extend %checkbox;
    .input {
      outline: none;
      background: #D0D3D4;
      transition: 0.18s;
      &.hover, &.focus {
        background: #909497;
      }
      &.value, &.checked {
        background: #2471A3;
      }
      .tick {
        border-bottom: 1px solid white;
        border-right: 1px solid white;
      }
    }
    .label {
      color: $input-color;
      &.focus {
        color: $form-input-hover-color
      }
      &.hover {
        color: $form-input-hover-color
      }
    }
  }
  &.button {
    @extend %button;
  }
  .fas, .far {
    width: 26px;
    font-size: 14px;
    color: $form-input-icon-color;
    transition: 0.18s;
  }
  .focus, .value {
    .fas, .far {
      width: 20px;
      font-size: 12px;
      transition: 0.18s;
    }
  }
  &.error {
    .fas, .far {
      color: $form-input-error-color;
    }
  }

}
