.form-input {
  &.checkbox {
    position: relative;
    margin: 0;
    padding: 6px 12px;
    transition: .24s;
    .input {
      &.hover, &.focus {
        box-shadow: 0 0 0 1px $touched-border-color;
      }
      transition: .2s ease-in-out;
      border: 1px solid $border-color;
      outline: none;
      transition: 0.18s;
      position: absolute;
      cursor: pointer;
      width: 16px;
      height: 16px;
      cursor: pointer;
      border-radius: 2px;
      top: 8px;
      right: 0;
      bottom: 0;
      left: 12px;
      .tick {
        width: 5px;
        height: 10px;
        margin-left: 5px;
        margin-top: 1px;
        transform: rotate(45deg);
        border-right: 2px solid black;
        border-bottom: 2px solid black;
      }
    }
    .label {
      color: $untached-color;
      &.focus, &.hover, &.value {
        color: $touched-color;
      }
      margin-left: 28px;
      cursor: pointer;
      font-size: 15px;
      line-height: 20px;
      text-align: justify;
      &.checked {
        font-weight: bold;
      }
    }
  }
}
