@import './select-options.scss';

.form-input {
  &.select {
    position: relative;
    background: $color-background;
    height: 45px;
    margin-bottom: 24px;
    .input {
      width: 100%;
      border: 1px solid #4D5656;
      border-radius: 2px;
      background: $color-background;
      z-index: 2;
      line-height: 45px;
      cursor: pointer;
      color: $touched-color;
      height: 45px;
      font-size: 15px;
      padding-left: 15px;
      transition: .2s ease-in-out;
      &.hover, &.focus {
        box-shadow: 0 0 0 1px #4D5656;
      }
      &.error {
        border: 1px solid $primary-error-color;
        color: $primary-error-color;
      }
    }
    .label {
      position: absolute;
      background: $color-background;
      color: #374049;
      cursor: pointer;
      background: none;
      top: 15px;
      left: 15px;
      font-size: 15px;
      transition: 0.18s;
      text-align: left;
      color: $untached-color;
      padding: 0 2px;
      &.value, &.focus {
        top: -6px;
        font-size: 12px;
      }
      &.hover {
        color: $form-input-label-hover-color;
      }
      &.focus {
        color: $form-input-label-focus-color;
      }
      &.error {
        color: $primary-error-color!important;
      }
      &.focus, &.value {
        background: white;
      }
    }
    .error-container {
      padding-top: 4px;
      text-align: center;
      font-size: 12px;
      opacity: 0;
      transition: 0.18s;
      color: $primary-error-color;
      &.error {
        opacity: 1;
        color: $primary-error-color;
      }
    }
    svg {
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      height: 15px;
      margin: auto;
      fill: #979A9A;
      cursor: pointer;
      transition: .2s ease-in-out;
      transform: rotate(270deg);
    }
    &.focus {
      svg {
        top: 3px;
        transform: rotate(90deg);
      }
    }
    &.error {
      svg {
        fill: $primary-error-color;
      }
    }
  }
}
