.form-input {
  &.with-icon {
    svg {
      transition: .2s ease-in-out;
    }
    &.text, &.select {
      padding-left: 35px;  
      .label {
        left: 40px;
      }
    }
    &.text {
      svg {
        fill: #CACFD2;
        position: absolute;
        height: 16px;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
      }
      &.value {
        svg {
          fill: green;
        }
      }
      &.error {
        svg {
          fill: $primary-error-color;
        }
      }
    }
  }
  &.select {
    svg:last-of-type {
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      height: 15px;
      margin: auto;
      fill: #979A9A;
      cursor: pointer;
      transform: rotate(270deg);
    }
    &.with-icon {
      svg:nth-last-of-type(2) {
        fill: #CACFD2;
        position: absolute;
        height: 16px;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
      }
      &.value {
        svg:nth-last-of-type(2) {
          fill: green;
        }
      }
      &.error {
        svg:nth-last-of-type(2) {
          fill: $primary-error-color;
        }
      }
    }
    &.focus {
      svg:last-of-type {
        top: 3px;
        transform: rotate(90deg);
      }
    }
  }
}
