.form-input {
  &.text {
    position: relative;
    background: $color-background;
    height: 50px;
    margin-bottom: 35px;
    input {
      -webkit-appearance: none;
    }
    .input {
      width: 100%;
      height: 50px;
      padding-top: 10px;
      padding-left: 5px;
      border: none;
      border-bottom: 1px solid #979A9A;
      border-radius: 2px;
      color: $touched-color;
      font-size: 15px;
      transition: .2s ease-in-out;
      &.error {
        border-bottom: 1px solid $primary-error-color;
        color: $primary-error-color;
      }
    }
    .label {
      display: inline-block;
      position: absolute;
      background: $color-background;
      color: #374049;
      background: none;
      top: 15px;
      left: 5px;
      font-size: 15px;
      transition: 0.18s;
      text-align: left;
      color: $untached-color;
      padding: 0 2px;
      &.value, &.focus {
        top: -7px;
        font-size: 13px;
      }
      &.hover {
        color: $form-input-label-hover-color;
      }
      &.focus {
        color: $form-input-label-focus-color;
      }
      &.error {
        color: $primary-error-color!important;
      }
      &.focus, &.value {
        background: white;
      }
    }
    .error-container {
      padding-top: 4px;
      text-align: center;
      font-size: 12px;
      opacity: 0;
      transition: 0.18s;
      color: $primary-error-color;
      &.error {
        opacity: 1;
        color: $primary-error-color;
      }
    }
    svg:last-of-type {
      position: absolute;
      top: 0;
      right: 15px;
      bottom: 0;
      height: 15px;
      margin: auto;
      fill: #979A9A;
      transition: .2s ease-in-out;
    }
    &.error {
      svg {
        fill: $primary-error-color;
      }
    }
  }
}
