@import '../../../../../../../../../styles/themes.scss';
@import '../../../../../../../../../styles/inputs/button.scss';

#user-create-email-verify {
  position: relative;
  width: 100%;
  .monit {
    line-height: 19px;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 25px;
  }
  .form-input {
    &.text {
      width: 240px;
      margin: 30px auto;
      .input {
        height: 60px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 15px;
        color: #424949;
      }
    }
  }
  .monit {
    padding: 15px 32px 0;
    font-size: 12px;
  }
  .button {
    @extend %button;
    padding: 18px 0;
    border-top: 2px solid #d7dbdd;
  }
}
