@import '../../../../../../../../../styles/themes.scss';
@import '../../../../../../../../../styles/inputs/text.scss';
@import '../../../../../../../../../styles/inputs/button.scss';

#user-create-email-verify {
  position: relative;
  width: 100%;
  .monit {
    line-height: 19px;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 25px;
  }
  .text-input {
    @extend %text-input;
    width: 160px;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
    .label {
      margin-bottom: 10px;
    }
    .input {
      height: 48px;
      text-align: center;
      font-size: 32px;
      letter-spacing: 12px;
      color: rgb(64, 64, 64);
    }
  }
  .monit {
    padding: 15px 32px 0;
    font-size: 12px;
  }
  .button {
    @extend %button;
    padding: 18px 0;
    border-top: 2px solid #d7dbdd;
  }
}
