.skill {
  position: relative;
  height: 68px;
  .name {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .level {
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    border-radius: 2px;
    background: lightgray;
    cursor: pointer;
    &.filled {
      background: red;
    }
  }
  .level-name {
    margin-top: 4px;
    font-size: 13px;
    color: gray;
  }
  .delete {
    width: 24px;
    height: 24px;
    border: 1px solid gray;
    border-radius: 12px;
    position: absolute;
    top: 0;
    bottom: 36px;
    left: 150px;
    margin: auto;
    cursor: pointer;
  }
}
