%company {
  display: flex;
  .company-logo {
    position: relative;
    background: white;
    height: 100px;
    border-radius: 6px;
    padding: 0;
    margin-right: 30px;
    img {
      height: 100%;
    }
  }
  .business-name-and-industry {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 20px;
    height: 100px;
    flex-grow: 1;
    .business-name {
      font-size: 22px;
      color: white;
    }
    .industry {
      margin-top: 6px;
      color: white;
      font-size: 16px;
      svg {
        position: relative;
        top: 2px;
        height: 16px;
        margin-right: 8px;
        fill: white;
      }
    }
  }
}
