@import '../../common/skills/styles/styles.scss';
@import '../../common/location-and-cooperation-mode/styles/styles.scss';
@import '../../common/remuneration/styles/styles.scss';
@import '../../../../../styles/inputs/text.scss';
@import '../../../../../styles/inputs/drag-and-drop.scss';
@import '../../../../../styles/inputs/button.scss';
@import './company.scss';

#postings-show {
  position: relative;
  background: white;
  border-radius: 6px;
  padding-bottom: 20px;
  .location-and-cooperation-mode {
    @extend %location-and-cooperation-mode;
    position: absolute;
    left: 185px;
    top: 135px;
  }
  .go-back {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .company {
    @extend %company;
  }
  .b2b-remuneration {
    display: block;
    @extend %b2b-remuneration;
    position: static;
    padding: 0;
    padding: 0 25px;
    margin-top: 25px;
    text-align: left;
  }
  .skills {
    @extend %skills;
    padding: 0 25px;
    margin-bottom: 0;
  }
  .description {
    margin-top: 50px;
    padding: 0 25px;
    ul,
    ol {
      padding-left: 20px;
    }
  }
  .application {
    padding: 0 20px;
    margin-top: 20px;
    border-top: 1px solid lightgray;
    padding-top: 20px;
    h2 {
      font-size: 18px;
      margin-bottom: 0;
    }
    form {
      margin-top: 8px;
    }
    .text-input {
      @extend %text-input;
      width: 48%;
      float: left;
      margin-bottom: 0;
      margin-top: 16px;
      margin-right: 4%;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
      label {
        display: block;
        margin-bottom: 6px !important;
        font-weight: bold;
        font-size: 14px;
      }
    }
    .submit-button {
      @extend %button;
      margin-top: 20px;
    }
  }

  .file-input {
    width: 48%;
    margin-top: 24px;
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 8px;
      font-size: 14px;
    }
  }

  .drag-and-drop-container {
    @extend %drag-and-drop-container;
  }

  ul {
    list-style-type: none;
    margin-top: 8px;
    width: 100%;
    li {
      white-space: nowrap;
      overflow: hidden;
      width: calc(100% - 40px);
      text-overflow: ellipsis;
    }
  }
}
