@import '../../../../../../../shared/app/styles/styles';

#privacy-monit-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  #privacy-monit {
    position: relative;
    max-width: 400px;
    margin: auto;
    box-shadow: $CONTAINER_BOX_SHADOW_TYPE_THIN;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 20px;
    font-size: 16px;
    p {
      margin-bottom: 20px;
      line-height: 22px;
    }
    .buttons {
      width: 100%;
      .button {
        float: left;
        width: 50%;
        button {
          width: 100%;
          font-size: 16px;
        }
        &.settings {
          button {
            border: none;
            background: none;
            height: 40px;
          }
        }
        &.agree {
          button {
            height: 40px;
            background: black;
            color: white;
            border: none;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
