@import '../../../../../styles/simple-index-input';
@import '../../../../../../../styles/pin.scss';

%inputs {
  .simple-index-input {
    @extend %simple-index-input;
    @media #{$phone} {
      width: auto;
    }
    &.category, &.district {
      margin-right: 10px;
      @media #{$phone} {
        margin: 0;
      }
    }
  }
  .composite-input-container {
    @extend %simple-index-input;
    position: relative;
    &.rooms, &.total-floors {
      margin-right: 10px;
    }
  }
}
