@import '../../../../../styles/availability-date';
@import '../../../../../../../../../styles/media-breakpoints';
@import './inputs';

%panel {
  z-index: 2;
  position: relative;
  @extend %inputs;
  background: white;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  @media #{$small-pc} {
    width: 100%;
    height: 260px;
    max-width: 456px;
    padding: 0;
    padding-top: 10px;
    margin-right: 10px;
    .simple-index-input.select {
      margin-right: 0;
    }
  }
  .pane {
    float: left;
    width: 542px;
    margin: 0;
    @media #{$small-pc} {
      position: relative;
      float: none;
      width: 100%;
      &.primary {
        .simple-index-input {
          position: absolute;
          right: 12px;
          left: 12px;
          &.category {
            top: 0;
          }
          &.district {
            top: 50px;
          }
        }
        .composite-input-container {
          position: absolute;
          right: 12px;
          left: 12px;
          width: auto;
          &.area {
            top: 100px;
          }
          &.rent {
            top: 150px;
          }
        }
      }
      &.secondary {
        display: none;
      }
    }
  }
  .button {
    position: relative;
    float: left;
    width: 90px;
    height: 90px;
    margin: 0 10px;
    border: none;
    @media #{$small-pc} {
      position: absolute;
      float: none;
      top: 210px;
      left: 12px;
      right: 12px;
      width: auto;
      margin: 0;
      height: 40px;
      line-height: 40px;
    }
    .input {
      text-align: center;
      transition: .2s ease-in-out;
      font-weight: normal;
      width: 100%;
      height: 100%;
      display: block;
      line-height: 90px;
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 2.5px;
      background: #DC7633;
      
      color: #F7F9F9;
      cursor: pointer;
      font-size: 16px;
      &.hover {
        background: #EB984E;
      }
      .fa-search {
        margin-right: 8px;
      }
      @media #{$small-pc} {
        width: 100%;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}