@import './panel';
@import '../../../../../../../../../styles/colors';
@import '../../../../../../../../../styles/media-breakpoints';
@import '../../../../../../../../../styles/inputs/form/select-options.scss';

#announcement-index-panel-visitor {
  @extend %panel;
  margin: 0 auto;
  text-align: left;
  max-width: 1214px;
  background: none;
}
