@import './panel';
@import '../../../../../../../../../styles/colors';
@import '../../../../../../../../../styles/media-breakpoints';

#announcement-index-panel-visitor {
  @extend %panel;
  margin: 0 auto;
  text-align: left;
  max-width: 1214px;
  background: none;
  @media #{$small-pc} {
    max-width: 456px;
    .simple-index-input.select {
      margin-right: 0;
      &.category, &.district, &.area, &.rent {
        right: 0;
        left: 0;
      }
    }
    .composite-input-container {
      left: 0 !important;
    }
  }
  .fa-chevron-down {
    background: none;
    border: none !important;
    width: 13px;
    border: none;
    position: absolute;
    top: 14px;
    right: 12px;
    font-size: 12px;
    margin: auto;
    width: 13px !important;
    color: #909497;
  }
  .fa-times {
    color: #797D7F;
    margin-right: 13px;
  }
}
