@import '../../../../../styles/container';
@import '../../../../../styles/headings/main-heading';
@import '../../../../../styles/inputs/text.scss';
@import '../../../../../styles/inputs/select.scss';
@import '../../../../../styles/inputs/picture-input.scss';
@import '../../common/components/industry/styles/styles.scss';

#user-users-edit {
  @extend %container;
  margin-top: 120px;
  padding: 30px;
  .logo {
    @extend %picture-input;
  }
  .main-heading {
    @extend %main-heading;
  }
  .text-input {
    @extend %text-input;
  }
  .select {
    @extend %select;
    @extend %text-input;
    ul {
      max-width: 100%;
    }
  }
  .industry {
    @extend %industry;
  }
  .attribute-editor,
  .logo {
    .buttons {
      margin-top: 8px;
      height: 20px;
    }
    .cancel,
    .save,
    .edit {
      border: none;
      background: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .cancel,
    .save {
      float: left;
    }
    .cancel {
      margin-right: 12px;
      color: red;
    }
    .save {
      color: green;
    }
    .edit {
      float: right;
    }
  }
  > .delete {
    margin-top: 60px;
    text-align: center;
    button {
      display: inline-block;
      background: none;
      border: none;
      color: #c0392b;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .delete-modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
    .delete-modal {
      height: 140px;
      width: 240px;
      background: white;
      border-radius: 6px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      padding: 20px;
      font-size: 15px;
      line-height: 22px;
      text-align: left;
    }
    .buttons {
      position: absolute;
      right: 10px;
      bottom: 10px;
      left: 10px;
      height: 24px;
    }
    .cancel-container,
    .confirm-container {
      display: inline-block;
      width: 50%;
      text-align: center;
    }
    .cancel {
      color: green;
    }
    button {
      font-size: 15px;
    }
  }
}
