.page-header {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  line-height: 30px;
  .icon {
    margin-right: 10px;
    background: #A6ACAF;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    svg {
      position: relative;
      top: 1px;
      left: 9px;
      fill: white;
      height: 15px;
    }
  }
  h1 {
    color: #626567;
    margin-bottom: 35px;
    font-size: 15px;
    font-weight: normal;
  }
}
