#warsaw-lease-logo {
  @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
  float: left;
  font-weight: bold;
  height: 60px;
  padding-top: 14px;
  #warsaw {
    width: 100%;
    font-family: 'Mukta', sans-serif;
    line-height: 1;
    letter-spacing: 0.3px;
  }
  #lease {
    letter-spacing: 0.5px;
    text-align: justify; 
    font-family: 'Mukta', sans-serif;
    line-height: 1;
  }
}