#warsaw-lease-logo {
  float: left;
  margin-top: 14px;
  border-left: 3px solid #154360;
  height: 32px;
  padding-top: 1px;
  padding-left: 5px;
  @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  color: #154360;
  #warsaw {
    letter-spacing: 0.5px;
  }
  #lease {
    letter-spacing: 0.6px;
  }
}
