@import '../../../../../styles/containers';
@import '../../../../../styles/themes';

#user-show {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.3);
  #user-show-account {
    position: absolute;
    background: white;
    top: 60px;
    right: 100px;
    padding: 20px;
    width: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .line {
    height: 1px;
    margin: 15px 0;
    background: lightgray;
  }
  a, button {
    &:hover {
      text-decoration: underline;
    }
  }
  button {
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    font-size: 15px;
  }
}
