@import '../../../../../../../styles/container';
@import '../../../../../../../styles/headings/main-heading';
@import '../../../../../../../styles/colors.scss';

%visitor-users-new-verify {
  @extend %container;
  .main-heading {
    @extend %main-heading;
    font-size: 20px;
    svg {
      height: 18px;
    }
  }
  padding: 30px;
  margin: 200px auto 0;
  .loader {
    text-align: center;
    margin-top: 30px;
  }
  .vi__container {
    margin: 30px auto;
    .vi__character {
      border-radius: 6px;
      border: 1px solid #626567;
      color: #e5e7e9;
    }
    .vi__character--selected {
      outline: 2px solid black;
      color: black;
    }
    .vi__character--filled {
      color: black;
      background: #d7dbdd;
    }
    .vi__character--inactive {
      outline: none;
      background: #d7dbdd;
    }
  }
  .error {
    margin-top: 30px;
    color: $ERROR-COLOR;
  }
}
