%checkbox {
  .input {
    cursor: pointer;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    cursor: pointer;
    border: 1px solid $input-color;
    border-radius: 2px;
    .tick {
      transform: rotate(45deg);
      width: 6px;
      height: 10px;
      margin-left: 4px;
      border-bottom: 1px solid $input-color;
      border-right: 1px solid $input-color;
    }
  }
  .label {
    cursor: pointer;
    float: left;
    color: $input-color;
    font-size: 15px;
    line-height: 16px;
    text-align: justify;
    &.focus {
      color: blue;
    }
    &.hover {
      color: blue;
    }
  }
}