%select {
  &.select {
    .input {
      line-height: 36px;
      cursor: pointer;
    }
    .options {
      position: absolute;
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 4px;
      top: 36px;
      background: white;
      overflow-y: auto;
      max-height: 146px;
      .option {
        font-size: 16px;
        line-height: 24px;
        height: 24px;
        padding-left: 8px;
        cursor: pointer;
        &.preselected {
          background: lightgray;
        }
      }
    }
  }
}