#announcement-create {
  max-width: 768px;
  min-height: 1200px;
  margin: 100px auto;
  padding: 32px;
  background: white;
  border-radius: 5px;
  h1 {
    font-size: 26px;
    margin-bottom: 18px;
  }
  h2 {
    font-size: 22px;
    margin-bottom: 9px;
  }
}
