#announcement-create {
  max-width: 800px;
  min-height: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  h1 {
    font-size: 18px;
    margin-bottom: 18px;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 9px;
  }
}