@import '../../../../../../shared/app/styles/media-breakpoints.scss';

#page-container {
  position: relative;
  max-width: 1440px;
  margin: 0px auto 60px;

  @media #{$LARGE-PHONE} {
    margin: 0;
    padding: 0;
  }

  &.article {
    padding: 20px 0;
    @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
    font-family: 'Titillium Web', sans-serif;
    @media #{$LARGE-TABLET} {
      padding: 20px;
    }
  }

  .table-of-contents-container {
    max-width: 1360px;
    width: 100%;
    position: fixed;
    top: 80px;
    .table-of-contents {
      margin: 0 20px;
      padding-bottom: 12px;
      width: 250px;
      line-height: 15px;
      overflow-x: scroll;
      border-bottom: 1px solid #D7DBDD;
      .title {
        margin-bottom: 10px;
        padding-bottom: 5px;
        line-height: 14px;
        font-size: 14px;
        color: gray;
        border-bottom: 1px solid lightgray;
      }
      .h2 {
        margin-bottom: 9px;
        cursor: pointer;
        color: rgb(100, 100, 100);
        font-size: 14.5px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .tile {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
    background: none;
    color: rgb(30, 30, 30);
    font-size: 17px;
    line-height: 30px;

    button {
      position: fixed;
      cursor: pointer;
      bottom: 0px;
      right: 20px;
      height: 30px;
      width: 60px;
      background: #E5E7E9;
      border: 1px solid #D7DBDD;
      border-bottom: none;
      border-radius: 0;
      outline: none;
      color: #626567;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      &.fetching {
        color: lightgray;
      }
      &:hover {
        background: #F8F9F9;
        border: 1px solid #E5E7E9;
      }
    }

    h1, h2, h3 {
      color: rgb(60, 60, 60);
    }
  
    h1 {
      margin: 0;
      padding: 0;
      font-size: 24px;
      font-weight: 600;
    }
  
    h2 {
      margin: 0;
      padding: 0;
      font-size: 21px;
      margin-top: 50px;
      margin-bottom: 20px;
      font-weight: 600;
    }

    h1 + h2 {
      margin-top: 25px;
    }
  
    h3 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      margin-top: 40px;
      margin-bottom: 10px;
      font-weight: 600;
    }

    h2 + h3 {
      margin-top: 0px;
    }
  
    p {
      margin: 5px 0;
      padding: 0;
      white-space: pre-wrap;
    }

    ul {
      padding-left: 28px;
    }
  
    &.root {
      position: relative;
      max-width: 1440px;
      margin: 0 auto;
      padding-top: 40px;

      .body {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-between;
        padding: 0 20px;
      }

      .picture {
        position: relative;
        img {
          display: block;
          margin: 0;
          width: 100%;
          aspect-ratio: 3/2; // TODO: MOVE TO JS
        }
      }

      .code-link {
        float: left;
        width: 22.5%;
        margin-bottom: 50px;
        padding: 0;
        .picture-and-title {
          position: relative;
          aspect-ratio: 3/2; // TODO: MOVE TO JS
          img {
            display: block;
            width: 100%;
            aspect-ratio: 3/2;
          }
          .title {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            padding: 10px 15px;
            background: rgba(0,0,0,0.5);
            text-align: center;
            color: #F0F3F4;
            font-size: 17px;
          }
        }
        .description {
          padding-top: 10px;
          font-size: 14px;
          text-align: justify;
          line-height: 1.6;
          color: #626567;
        }
        &:hover {
          .picture-and-title {
            .title {
              color: #FBFCFC;
            }
          }
          .description {
            color: black;
          }
        }
        @media #{$LARGE-TABLET} {
          width: 48%;
        }
        @media #{$LARGE-PHONE} {
          width: 100%;
        }
      }

      @media #{$LARGE-PHONE} {
        .body {
          &.article {
            padding: 0;
          }
        }
        .code-link {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}
