.tile {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
  background: none;
  color: #424242;
  padding: 25px 25px 15px;
  font-size: 17px;
  line-height: 24px;
  color: #424949;

  button {
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border: none;
    outline: none;
    color: #626567;
    &.fetching {
      color: lightgray;
    }
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    margin-bottom: 30px;
    color: #1B2631;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #212F3C;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #283747;
  }

  p {
    margin: 0 0 10px;
    padding: 0;
    white-space: pre-wrap;
  }

  &.root {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    img {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 240px;
      border-radius: 4px;
    }

    .code-link {
      float: left;
      margin-right: 20px;
      a {
        display: block;
        position: relative;
        width: 320px;
        height: 100px;
        margin: 0;
        padding: 20px;
        box-shadow: rgba(128, 128, 128, 0.3) 0px 7px 30px 0px;
        border-radius: 4px;
        &.hover {
          box-shadow: rgba(128, 128, 128, 0.5) 0px 7px 30px 0px;
        }
        .category {
          position: absolute;
          top: 20px;
          font-size: 18px;
          font-family: 'Ubuntu', sans-serif;
        }
        .title {
          position: absolute;
          bottom: 20px;
          font-size: 20px;
          color: #424949;
          font-weight: bold;
          font-family: 'Ubuntu', sans-serif;
        }
        .description {
          left: 20px;
          right: 20px;
          bottom: 20px;
          font-size: 16px;
        }
      }
      &.ruby {
        color: #922B21;
        svg {
          fill: #922B21;
          width: 15px;
        }
      }
      &.js {
        color: #D4AC0D;
        svg {
          fill: #D4AC0D;
          width: 15px;
          transform: translate(0, 2px);
        }
      }
      &.python {
        color: #1F618D;
        svg {
          fill: #1F618D;
          width: 15px;
          transform: translate(0, 2px);
        }
      }
    }
  }

  &.ruby-cheat-sheet {
    padding: 25px;
    box-shadow: rgba(128, 128, 128, 0.3) 0px 7px 30px 0px;
    background: white;
    border-radius: 4px;
  }
}
