#logo-image {
  .marker {
    position: absolute;
    top: 21px;
    left: 27px;
    transform: perspective(45px) rotateX(20deg) rotateZ(-45deg);
    transform-origin: 50% 50%;
    border-radius: 50% 50% 50% 10%;
    padding: 0 3px 3px 0;
    width: 100px;
    height: 100px;
    background: #2E86C1;
    margin: -2.2em 0 0 -1.3em;
  }

  .dot {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
  }
}
