@import '../../../../../../shared/app/components/support/render-node/components/code/styles/styles.scss';

#questions-show {
  width: 768px;
  margin: 80px auto;
  padding-left: 256px;
  padding-right: 32px;
  padding-bottom: 32px;

  font-size: 16px;

  h1 {
    margin-top: 32px;
  }
  .question-body {
    margin-top: 32px;
    line-height: 1.5;
    font-size: 16px;
    pre {
      margin-top: 16px;
    }
  }
  .answers {
    margin-top: 32px;
    ul {
      list-style-type: none;
      li {
        margin-top: 24px;
        padding: 12px;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        
        &:hover {
          background: lightgray;
        }

        &.selected {
          background: #7FB3D5;
        }

        &.correct-selected {
          background: green;
        }

        &.correctly-omitted {
          background: lightgray;
        }

        &.incorrectly-selected {
          background: gray;
        }

        &.incorrectly-omitted {
          background: lightgray;
        }

        &.answered {
          cursor: not-allowed;
        }
      }
    }
  }


  .result {
    margin-top: 32px;
    text-align: center;
    // font-weight: bold;

  }

  
  .hint {
    margin-top: 32px;
    h2 {
      font-size: 14px;
    }
    a {
      text-decoration: underline;
      margin-top: 4px;
      font-size: 14px;
    }
  }
  .explanation {
    margin-top: 32px;
    h2 {
      font-size: 14px;
    }
    .explanation-body {
      margin-top: 8px;
      line-height: 1.5;
      font-size: 16px;
    }
  }

  .buttons {
    margin-top: 32px;
    text-align: center;
    button {
      border: none;
      cursor: pointer;
      &.show-answer {
        background: none;
        text-decoration: underline;
      }
      &.submit {
        background: #2E4053;

        color: white;
        padding: 14px;
        border-radius: 4px;
        margin-left: 12px;
        width: 144px;
        &:hover {
          background: #566573;
        }
      }
    }

  }

}
