@import '../../../../../../shared/app/components/support/render-node/components/code/styles/styles.scss';
@import '../../../../../../shared/app/styles/media-breakpoints';

#questions-show {
  padding: 120px 0;
  .container {
    margin: 0 auto;
    border-radius: 4px;
    max-width: 640px;
    padding: 32px;
    font-size: 16px;
    background: white;
    @media #{$LARGE-PHONE} {
      width: 100%;
      margin: 50px 0;
      padding: 24px;
    }
  }

  .question-body {
    margin-top: 32px;
    line-height: 1.5;
    font-size: 16px;
    pre {
      margin-top: 16px;
    }
  }
  .answers {
    margin-top: 32px;
    ul {
      list-style-type: none;
      li {
        margin-top: 24px;



        .body {
          // position: relative;/
          display: flex;
          // align-items: stretch;
          position: relative;
          .markdown {
            // float: left;
            padding: 10px 16px;
            border-radius: 8px;
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            font-size: 15px;
            line-height: 1.5;
            flex-grow: 1;
          }
          .hint-container {
            height: 100%;
            overflow-y: auto;
            width: 32px;
            flex-shrink: 0;
            display: block;
            background: red;
            .question-mark {
              position: relative;
              width: 20px;
              height: 20px;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              .hint {
                position: absolute;
                font-size: 14px;
                right: 24px;
                bottom: 24px;
                width: 360px;
                background: gray;
                background: white;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 12px;
                transform: scale(0);
                border-radius: 4px;
                line-height: 1.5;
              }
              &:hover {
                .hint {
                  transition: all .2s ease-in-out;
                  transform: scale(1);
                  transform-origin: right;
                }
              }
            }
            svg {
              fill: #5D6D7E;
            }
          }
        }
        .explanation {
          font-size: 13px;
          margin-top: 12px;
          margin-right: 20px;
          padding: 0 16px;
          line-height: 1.5;
        }
        &:hover {
          .markdown {
            background: lightgray;
          }
        }
        &.selected {
          .markdown {
            background: #7FB3D5;
          }
        }
        &.correct-selected {
          .markdown {
            background: #A9DFBF;
          }
          .explanation {
            color: #1E8449;
          }
        }
        &.correctly-omitted {
          .markdown {
            background: #EAEDED;
          }
          .explanation {
            color: gray;
          }
        }
        &.answered {
          .markdown {
            cursor: not-allowed;
          }
          &.incorrectly-selected {
            .markdown {
              background: gray;
            }
          }
          &.incorrectly-omitted {
            .markdown {
              background: lightgray;
            }
          }
        }
      }
    }
  }

  .result {
    margin-top: 32px;
    text-align: center;
    > div {
      display: inline-block;
    }

    .icon {
      width: 30px;
      height: 30px;

      position: relative;
      top: 3px;
      margin-right: 8px;
      border-radius: 50%;
      line-height: 30px;
      &.correct {
        background: green;
      }
  
      &.incorrect {
        background: red;
      }
      svg {
        fill: white;
        height: 16px;
        margin-top: 8px;

      }
    }
    .message {
      line-height: 30px;
      &.correct {
        color: green;
      }
      &.incorrect {
        color: red;
      }
    }
  }

  
  .general-hint {
    margin-top: 32px;
    line-height: 1.5;
    h2 {
      font-size: 16px;
      margin-bottom: 12px;
    }
    a {
      text-decoration: underline;
      display: inline-block;
    }
  }
  // .explanation {
  //   margin-top: 32px;
  //   h2 {
  //     font-size: 14px;
  //   }
  //   .explanation-body {
  //     margin-top: 8px;
  //     line-height: 1.5;
  //     font-size: 16px;
  //   }
  // }

  .buttons {
    margin-top: 32px;
    text-align: center;
    button {
      border: none;
      cursor: pointer;

      svg {
        position: relative;
        top: 3px;
        height: 18px;
        fill: white;
        margin-right: 8px;
      }

      &.show-answer {
        background: none;
        text-decoration: underline;
      }
      height: 42px;
      line-height: 42px;
      &.submit, &.next, &.retry {
        background: #2E4053;
        color: white;
        border-radius: 4px;
        margin-left: 12px;
        width: 144px;
        &:hover {
          background: #566573;
        }
      }
      &.submit {

        &:disabled {
          cursor: not-allowed;
          background: gray;
        }

        svg {
          height: 16px;
        }
      }


      &.retry {
        svg {
          top: 3px;
          height: 16px;
        }
      }
    }
  }
}
