@import '../../../../../../../styles/colors';
@import './destroy_modal';
@import '../../../../../../../../../shared/app/styles/lined-heading';
@import '../../tile/styles/styles.scss';
@import '../../../../common/action-buttons/styles.scss';

#listing-index {
  &.user {
    background: $BACKGROUND-LIGHT-GRAYISH-COLOR;
  }
}

#listing-index-user {
  position: relative;
  max-width: 608px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  @media #{$LARGE-PHONE} {
    width: 100%;
  }
  h1 {
    margin: 0px 0 32px 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 13px;
    color: #4d5656;
    font-weight: normal;
    text-transform: uppercase;
  }
  .announcements {
    @media #{$LARGE-PHONE} {
      padding: 0 18px 18px;
    }
  }
  .listing-index-tile-container {
    border-bottom: 1px solid #abb2b9;
    padding-bottom: 24px;
    margin-bottom: 36px;
    &:last-of-type {
      border-bottom: none;
    }
    .listing-id {
      border: 2px solid #abb2b9;
      color: #808b96;
      display: inline-block;
      padding: 0 12px;
      border-radius: 22px;
      min-width: 44px;
      height: 44px;
      text-align: center;
      line-height: 40px;
      margin-bottom: 24px;
      font-weight: bold;
    }
  }
  .listing-index-tile {
    @extend %listing-index-tile;
    margin-bottom: 24px;
  }
  @extend %action-buttons;
  .promotion-button,
  .facebook-sharer-button {
    width: 292px;
    @media #{$LARGE-PHONE} {
      width: 100%;
    }
  }
  .promotion-button {
    margin-right: 24px;
    @media #{$LARGE-PHONE} {
      margin-right: 0;
      margin-bottom: 18px;
    }
  }
  .control {
    margin: 18px 0;
    .info {
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
    }
    .edit-delete {
      margin-top: 24px;
      text-align: center;
    }
    .edit {
      margin-right: 24px;
      color: #2471a3;
    }
    .delete {
      color: #c0392b;
    }
    button {
      display: inline-block;
      background: none;
      border-radius: 5px;
      border: none;
      text-decoration: underline;
      font-size: inherit;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}
