@import '../../../../../shared/app/styles/media-breakpoints.scss';
@use "./cde" as *;

@mixin categories {
  .tutorials {
    color: #935116;
  }
  .insights {
    color: #6C3483;
  }
  .javascript {
    color: #D4AC0D;
  }
  .ruby {
    color: #CB4335;
  }
  .html {
    color: #D35400;
  }
  .postgres {
    color: rgb(64, 102, 143);
  }
  .css {
    color: rgb(48, 81, 223);
  }
}

%root {
  position: relative;
  width: 100%;
  padding-top: 20px;
  @media #{$LARGE-TABLET} {
    padding: 0 10px;
  }
  @media #{$LARGE-TABLET} {
    padding: 20px;
  }
  h1 {
    margin-bottom: 20px;
    border-bottom: 1px solid #979A9A;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: normal;
    color: #7B7D7D;
  }
  .page-indexer {
    margin-bottom: 36px;
  }
  .index-link {
    @include categories;
    position: relative;
    float: left;
    transition: .2s ease-in;
    .link-data {
      position: relative;
      padding-top: 10px;
      height: 88px;
    }
    .category-and-subcategory {
      margin-bottom: 5px;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      span {
        display: inline-block;
        margin-right: 10px;
      }
    }
    .title {
      line-height: 1.5;
      font-size: 16px;
      font-weight: 500;
      color: #363636;
      transition: .2s ease-in;      
    }
    .modified-on {
      top: 10px;
      right: 0;
      position: absolute;
      font-size: 10px;
      text-transform: uppercase;
      color: rgb(64, 64, 64);
    }
    img {
      display: block;
      width: 100%;
      aspect-ratio: 2;
      border-radius: 4px;
      box-shadow: lightgray 0px 0px 1px;
      transition: .2s ease-in;
    }
    &:hover {
      img {
        position: relative;
        box-shadow: lightgray 0px 1px 4px;
        transform: scale(1.02);
      }
      .title {
        color: #D35400;
      }
    }
    width: 32.5%;
    margin-right: 1.25%;
    margin-bottom: 1.25%;
    &:nth-of-type(3n) {
      margin-right: 0;
    }
    @media #{$SMALL-PC} {
      width: 49%;
      margin-right: 2%;
      margin-bottom: 2%;
      &:nth-of-type(3n) {
        margin-right: 2%;
      }
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    @media #{$LARGE-TABLET} {
      width: 100%;
      margin-right: 0;
      margin-bottom: 5%;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}
