%root {
  position: relative;
  width: 100%;
  .code-link {
    position: relative;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 23%;
    aspect-ratio: 1;
    background: lightgray;
    border-radius: 8px;
    img {
      display: block;
      width: 100%;
      aspect-ratio: 1;
      overflow: hidden;
      border-radius: 8px;
    }
    .title {
      position: absolute;
      bottom: 20px;
      color: white;
      font-size: 14px;
      left: 20px;
      right: 20px;
    }
  }
}
