@import '../../../../../shared/app/styles/media-breakpoints.scss';

%root {
  position: relative;
  width: 100%;
  padding-top: 20px;
  @media #{$LARGE-TABLET} {
    padding: 0 10px;
  }
  @media #{$LARGE-TABLET} {
    padding: 20px;
  }
  h1 {
    margin-bottom: 20px;
    border-bottom: 1px solid #979A9A;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: normal;
    color: #7B7D7D;
  }
  .page-indexer {
    margin-bottom: 36px;
  }
  .index-link {
    $BORDER-COLOR: #E5E7E9;
    position: relative;
    float: left;
    background: white;
    img {
      display: block;
      max-width: 100%;
      aspect-ratio: 1.7777;
    }
    border: 1px solid $BORDER-COLOR;
    // &.learning {
    //   &.javascript {
    //     border-left: 2px solid #D4AC0D;
    //   }
    //   &.ruby {
    //     border-left: 2px solid #CB4335;
    //   }
    //   &.html {
    //     border-left: 2px solid #D35400;
    //   }
    //   &.postgres {
    //     border-left: 2px solid rgb(64, 102, 143);
    //   }
    //   &.css {
    //     border-left: 2px solid rgb(48, 81, 223);
    //   }
    // }
    &:hover {
      background: #FBFCFC;
    }
    .link-data {
      position: relative;
      padding: 15px;
      .category-and-subcategory {
        font-weight: bold;
        font-size: 10px;
        margin-bottom: 8px;
        text-transform: uppercase;
        span {
          display: inline-block;
          margin-right: 6px;
        }
        .tutorials {
          color: #935116;
        }
        .insights {
          color: #6C3483;
        }
        .javascript {
          color: #D4AC0D;
        }
        .ruby {
          color: #CB4335;
        }
        .html {
          color: #D35400;
        }
        .postgres {
          color: rgb(64, 102, 143);
        }
        .css {
          color: rgb(48, 81, 223);
        }
      }
      .title-and-description {
        max-height: 93px;
        overflow: hidden;
      }
      .title {
        margin-bottom: 2px;
        line-height: 1.5;
        font-size: 18px;
        color: #363636;
        
      }
      .description {
        height: 64px;
        font-size: 14px;
        // color: #7B7D7D;
        line-height: 1.4;
        color: #979A9A;
      }
      .modified-on {
        top: 15px;
        right: 15px;
        position: absolute;
        font-size: 10px;
        color: #979A9A;
        text-transform: uppercase;
        // colo
      }
    }
    width: 32.5%;
    margin-right: 1.25%;
    margin-bottom: 1.25%;
    &:nth-of-type(3n) {
      margin-right: 0;
    }
    @media #{$SMALL-PC} {
      width: 49%;
      margin-right: 2%;
      margin-bottom: 2%;
      &:nth-of-type(3n) {
        margin-right: 2%;
      }
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    @media #{$LARGE-TABLET} {
      width: 100%;
      margin-right: 0;
      margin-bottom: 5%;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}
