@import '../../../../../shared/app/styles/media-breakpoints.scss';
@import './root.scss';

$padding-desktop: 36px;
$padding-mobile: 18px;

%page {
  #page {
    min-height: 640px;
    .root {
      @extend %root;
    }
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    button {
      &.edit {
        position: fixed;
        top: 80px;
        right: 20px;
      }
    }
    &.edit {
      padding-bottom: 320px;
    }
  }
  #page {
    padding-top: 80px;
    @media #{$LARGE-PHONE} {
      padding-top: 60px;
    }
    button.edit {
      position: fixed;
      top: 80px;
      right: 20px;
      width: 20px;
      border: none;
      background: none;
      cursor: pointer;
      svg {
        fill: #626567;
      }
      &:hover {
        svg {
          fill: black;
        }
      }
    }
    .article {
      @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
      font-family: 'Titillium Web', sans-serif;
      max-width: 800px;
      margin: 0 auto;
      margin-bottom: 20px;
      line-height: 1.8;
      color: #212F3C;
      h1 {
        font-size: 42px;
        padding-bottom: 16px;
      }
      .editorial {
        padding: 0 $padding-desktop;
        font-size: 18px;
        line-height: 1.5;
        border-left: 1px solid #F2F3F4;
        border-right: 1px solid #F2F3F4;
        background: white;
        @media #{$LARGE-PHONE} {
          padding: 10px $padding-mobile;
        }
      }
      .table-of-contents {
        padding: 24px $padding-desktop;
        @media #{$LARGE-PHONE} {
          padding: 24px $padding-mobile;
        }
        background: white;
        .inner-container {
          display: inline-block;
          width: auto;
          border: 1px solid #34495E;
          border-radius: 5px;
          padding: 18px 18px 8px;
          line-height: 1;
          color: #34495E;
        }
        a {
          font-size: 14px;
          margin-bottom: 9px;
          &:hover {
            color: #873600;
          }
        }
        h2 {
          font-size: 14px;
          text-align: center;
          margin-bottom: 18px;
        }
        ul {
          list-style-type: none;
          font-size: 14px;
          li {
            position: relative;
            span:first-of-type {
              display: inline-block;
              width: 30px;
              text-align: center;
              margin-right: 8px;
            }
          }
        }
      }
      main {
        border-right: 1px solid #F2F3F4;
        border-bottom: 1px solid #F2F3F4;
        border-left: 1px solid #F2F3F4;
        background: white;
        padding: 0 $padding-desktop 26px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 18px;
        @media #{$LARGE-PHONE} {
          padding: 0 $padding-mobile 26px;
        }
        .header-container {
          .number, h2, h3, h4 {
            display: inline;
          }
          .number {
            font-weight: bold;
            margin-right: 12px;
          }
          &.h2 {
            padding: 72px 0 18px;
            .number, h2 {
              font-size: 24px;
            }
          }
          &.h3 {
            padding: 18px 0 18px;
            .number, h3 {
              font-size: 20px;
            }
          }
          &.h4 {
            padding: 36px 0 12px;
          }
          &.h2 + .h3 {
            padding: 0 0 18px;
          }
          &.h3 + .h4 {
            padding: 12px 0 12px;
          }
        }
        .header-container:first-child {
          &.h2 {
            padding: 0 0 12px;
          }  
        }
        ul {
          margin-bottom: 18px;
          padding-left: 20px;
        }
        p {
          margin: 0 0 18px;
          > code {
            border-radius: 3px;
            padding: 2px 5px;
            background: #F8F9F9;
            color: #922B21;
          }
          > a {
            display: inline;
            text-decoration: underline;
            color: #D35400;
            &:hover {
              color: #A04000;
            }
          }
        }
        pre {
          margin: 0 0 18px;
          padding: 12px;
        }
        p + ul {
          margin-top: -9px;
        }
        ul {
          li {
            p {
              margin-bottom: 9px;
            }
          }
        }
      }
    }
  }
}
