@import '../../../../../shared/app/styles/media-breakpoints.scss';
@import './article.scss';
@import './root.scss';

#page {
  padding-top: 80px;
  article {
    @extend %article;
  }
  .root {
    @extend %root;
  }
  max-width: 800px;
  margin: 0 auto;
  button {
    &.edit {
      position: fixed;
      top: 80px;
      right: 20px;
    }
  }
}
