@import '../../../../posting/components/index/components/tile/styles/styles.scss';

#user-postings-index {
  ul {
    max-width: 600px;
    margin: 0 auto;
    list-style-type: none;
    li.posting-tile {
      margin: 50px 20px 0;
      .id {
        background: #f8f9f9;
        display: inline-block;
        padding: 5px;
        border-radius: 4px;
        font-size: 14px;
        border: 1px solid gray;
        font-family: monospace;
      }
      .postings-index-tile {
        @extend %postings-index-tile;
        margin-top: 10px;
        border: 1px solid #b3b6b7;
        box-shadow: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .panel {
        background: #f8f9f9;
        border: 1px solid #b3b6b7;
        border-top: none;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 20px;
        .edit {
          display: inline-block;
          margin-right: 20px;
          a {
            font-size: 14px;
            color: #21618c;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .delete {
          display: inline-block;
          border: none;
          background: none;
          color: red;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .image {
        max-width: 100%;
        margin-top: 20px;
        position: relative;
        .heading-and-download {
          h3,
          a {
            font-size: 14px;
            font-weight: 500;
            color: #2c3e50;
          }
          h3 {
            float: left;
          }
          a {
            float: right;
            svg {
              height: 12px;
              margin-right: 4px;
              position: relative;
              top: 1px;
              fill: #2c3e50;
            }
            &:hover {
              color: #85929e;
              svg {
                fill: #85929e;
              }
            }
          }
        }
        img {
          display: block;
          margin-top: 5px;
          width: 100%;
          border: 1px solid #d0d3d4;
        }
      }
      .applications {
        background: white;
        border: 1px solid #b3b6b7;
        border-radius: 6px;
        font-size: 12px;
        margin-top: 10px;
        .header {
          padding: 10px;
          background: #f2f3f4;
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
          vertical-align: middle;
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
        .name {
          width: 160px;
        }
        .email {
          width: 60px;
        }
        .cv {
          width: 60px;
        }
        ul {
          li {
            border-top: 1px solid gray;
            padding: 10px;
            svg {
              position: relative;
              top: 2px;
              fill: black;
              height: 14px;
              &.disabled {
                fill: #d0d3d4;
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }
  .deleted-posting-modal-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
    .deleted-posting-modal {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 100px;
      overflow: hidden;
      margin: auto;
      background: white;
      border-radius: 6px;
      box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
      .monit {
        padding: 20px;
        text-align: center;
      }
      .buttons {
        height: 30px;
        font-size: 15px;
        button {
          border: none;
          background: none;
          width: 50%;
          line-height: 30px;
          cursor: pointer;
          &.cancel {
            color: green;
          }
          &.confirm {
            color: red;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
