$current-color: #3498DB;
.create-points {
  background: white;
  position: relative;
  height: 32px;
  height: 44px;
  .line {
    height: 22px;
    border-bottom: 2px solid #D7DBDD;
    margin: 0 18px;
    &.success {
      border-bottom: 2px solid #27AE60;
    }
  }
  .point {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: $current-color;
    text-align: center;
    line-height: 32px;
    svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      fill: #FDFEFE;
      height: 16px;
    }
    &.first {
      top: 6px;
      left: 18px;
      svg {
        left: -1px;
      }
    }
    &.second {
      top: 6px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: #D7DBDD;
      &.current {
        background: $current-color;
      }
      svg {
        left: 0.75px;
      }
    }
    &.last {
      top: 6px;
      right: 18px;
      background: #D7DBDD;
      line-height: 34px;
      &.current {
        background: $current-color;
      }
    }
    &.success {
      background: #27AE60;
    }
  }
}
