@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

#logo {
  position: relative;
  float: left;
  height: 28px;
  margin-top: 22px;
  margin-left: 18px;
  .pin {
    width: 14px;
    height: 14px;
    border-radius: 100% 100% 0 100%;
    border: 2px solid #21618C;
    transform: scale(0.9, 1) rotate(45deg);
    &::before {
      content: '';
      position: absolute;
      top: 2.25px;
      left: 2.25px;
      width: 5.5px;
      height: 5.5px;
      border-radius: 50%;
      background: #CB4335;
    }
  }
  .name {
    position: absolute;
    top: -2px;
    left: 17px;
    font-size: 18px;
    font-family: 'Nova Flat';
    color: #21618C;
  }  
}
