@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

#logo {
  position: relative;
  float: left;
  height: 28px;
  margin-top: 22px;
  margin-left: 18px;
  .pin {
    position: relative;
    width: 14px;
    height: 14px;
    border: 2px solid #21618c;
    border-radius: 100% 100% 0 100%;
    transform: rotate(45deg);
    &::before {
      content: '';
      position: absolute;
      top: 2.25px;
      left: 2.25px;
      width: 5.5px;
      height: 5.5px;
      border-radius: 50%;
      background: #ba4a00;
    }
  }
  .name {
    position: absolute;
    top: -3px;
    left: 18px;
    font-size: 19px;
    font-family: 'Nova Flat';
    color: #21618c;
    .lease {
      margin-left: 1px;
      color: #ba4a00;
    }
  }
}
