@import '../../../../../../../styles/colors';
@import '../../../../../../../../../shared/app/styles/media-breakpoints';
@import '../../../../../../../../../shared/app/components/support/splide/styles/styles.scss';

#visitor-page-index {
  position: relative;
  margin: 60px auto 0;
  > h2 {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .splide__arrow {
    scale: 2;
    &--prev {
      transform-origin: left;
    }
    &--next {
      transform-origin: right;
    }
  }
  .skill {
    position: relative;
    background: white;
    overflow: hidden;
    line-height: 1.5;
    border: 1px solid $LIGHT_THEME_CONTAINER_BORDER_COLOR;
    border-radius: 12px;
    a {
      width: 100%;
    }
    .image {
      width: 100%;
      background: lightgray;
      aspect-ratio: 1;
      img {
        width: 100%;
        aspect-ratio: 1;
      }
    }
    .title {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      font-family: 'IBM Plex Mono', monospace;
      height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .description {
      padding: 0 20px;
      font-size: 12px;
      font-style: italic;
      line-height: 1.4;
      height: 60px;
      overflow: hidden;
      background: none;
    }
  }
}
