#user-create-consents-container {
  margin: 10px 0 20px;
  .checkbox-container {
    .checkbox.form-input {
      .input {
        top: 8px;
        left: 0;
      }
      .label {
        font-size: 14px;
      }
    }
  }
  .error {
    margin: 6px 0 0 0;
    color: $TEXT-ERROR-COLOR;
    font-size: 14px;
  }
  a {
    display: inline-block;
    text-decoration: underline;
    color: #34495E;
    &:hover {
      color: #5D6D7E;
    }
  }
}
