@import '../../../../../styles/pin';

%primary {
  height: 42px;
    .id, .category-icon, .category, .district {
      float: left;
      min-width: 36px;
      height: 36px;
      margin-right: 6px;
      padding: 0 8px;
      background: white;
      text-align: center;
      line-height: 36px;
      font-size: 15px;
      color: #1F618D;
    }
    .id {
      background: #1F618D;
      color: #F7F9F9;
      border-radius: 3px;
    }
    .category-icon {
      &.office, &.usable-premises {
        @extend %pin;
        padding: 0;
        margin: 0 6px 0 0;
      }
    }
  &.map {
    .id, .category, .district {
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0px 3px 8px 3px rgba(0, 0, 0, 0.14),
                  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  }
}