@import '../../../../../styles/pin';

%primary {
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 60px;
  background: #F8F9F9;
  .id {
    position: absolute;
    top: -32px;
    background: white;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    padding: 0 4px;
    border-radius: 2.5px;
  }
  .left-container {
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
  }
  .right-container {
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
  }
  .data-tile {
    &.category, &.district {
      height: 36px;
      line-height: 36px;
      text-align: center;
      top: 12px;
    }
  }
}
