%secondary-data {
  position: relative;
  background: #F8F9F9;
  padding-bottom: 12px;
  .data-container {
    float: left;
    height: 47px;
    width: 50%;
    position: relative;
    &.rent {
      height: 108px;
      @media #{$phone} {
        height: 104px;
      }
    }
  }
}
