%tertiary {
  position: relative;
  height: 36px;
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 14px;
  color: #2E4053;
  .rooms-container, .floor-container {
    position: absolute;
    top: 0;
    width: 50%;
    height: 36px;
    text-align: center;
    line-height: 36px;
    .rooms, .floor {
      background: white;
    }
  }
  .rooms-container {
    left: 0;
    padding-right: 3px;
    @media #{$phone} {
      padding-right: 1px;
    }
  }
  .floor-container {
    right: 0;
    padding-left: 3px;
    @media #{$phone} {
      padding-left: 1px;
    }
  }
  &.full {
    width: 536px;
    @media #{$phone} {
      width: 100%;
    }
  }
  @media #{$phone} {
    margin-top: 2px;
  }
  &.map {
    margin-top: 2px;
    .rooms-container {
      padding-right: 1px;
    }
    .floor-container {
      padding-left: 1px;
    }
  }
}