@import '../../../../../../../styles/media-breakpoints';
@import './data';
@import './picture';
@import './bottom_data';

%tile {
  position: relative;
  .core {
    position: relative;
    background: white;
    &.loader {
      opacity: 0;
      background: none;
    }
    .data {
      @extend %data;
    }
    .picture {
      @extend %picture;
    }
    .bottom-data {
      @extend %bottom-data;
    }
  }

}