@import '../../../../../../../../../../styles/media-breakpoints.scss';

.lang-switch {
  float: left;
  height: 60px;
  line-height: 60px;
  width: 60px;
  text-align: center;

  .cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: none;
  }

  .current {
    cursor: pointer;
    font-size: 14px;
    color: #17202a;
    text-transform: uppercase;
    svg {
      display: inline-block;
      fill: #17202a;
      height: 10px;
      transform: rotate(-90deg);
      margin-left: 3px;
      transition: ease-in .2s;
    }
    &.open {
      svg {
        transform: rotate(90deg);
      }
    }
  }

  .all {
    position: absolute;
    top: 60px;
    background: white;
    line-height: 36px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(black, 0.2);
    height: 0;
    width: 58px;
    overflow: hidden;
    transition: all 0.2s;
    z-index: 2;
    font-size: 14px;
    a {
      &:hover {
        background-color: #f8f9f9;
      }
    }
    &.show {
      height: 72px;
    }
  }
}
