@import '../../../../../../styles/z-index';

%side-menu-button {
  float: right;
  margin: 0 6px;
  margin-top: 16px;
  margin-left: 32px;
  button {
    border: none;
    background: none;
  }
  .bar {
    width: 30px;
    height: 2px;
    background: $HEADER_TEXT_COLOR;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .cover {
    position: fixed;
    z-index: $SCAFFOLD_HEADER_SIDE_MENU_COVER_Z_INDEX;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

%side-menu-panel {
  position: fixed;
  z-index: $SCAFFOLD_HEADER_SIDE_MENU_Z_INDEX;
  top: 70px;
  right: -280px;
  width: 280px;
  padding: 30px!important;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: $HEADER_BACKGROUND_COLOR;
  text-wrap: nowrap;
  transition: right 0.3s ease-out;
  overflow: hidden;
  &.open {
    right: 0;
  }
  svg {
    height: 16px;
  }
  .link,
  .sign-out {
    position: relative;
    float: none;
    border-bottom: 1px solid $LIGHT_THEME_BREAKING_LINE_COLOR;
    line-height: 19px !important;
    font-size: 19px !important;
    text-align: left !important;
    font-weight: 500;
    margin: 30px 0;
    padding: 0 0 30px!important;
    &:first-of-type {
      margin-top: 0 !important;
    }
    &:last-of-type {
      border-bottom: none;
      margin: 0 !important;
      padding: 0 !important;
    }
    svg {
      display: none;
      position: absolute;
      top: 0px;
      left: 0;
      height: 18px;
    }
  }
  .sign-out {
    button {
      line-height: 19px;
      font-size: 19px;
      svg {
        top: 0.5px;
      }
    }
  }
}
