@import '../../../../../../shared/app/styles/media-breakpoints';

#footer {
  z-index: 2;
  width: 1024px;
  color: white;
  margin: 96px auto 0;
  padding: 0 18px;
  line-height: 40px;
  font-size: 12px;
  .social-pages {
    float: left;
    a {
      display: inline-block;
      position: relative;
      height: 20px;
      width: 20px;
      fill: white;
      transition: fill 0.3s ease-in;
      cursor: pointer;
      margin-right: 12px;
      &:hover {
        fill: lightgray;
      }
      svg {
        position: relative;
        top: 7px;
      }
    }
  }
  .links {
    float: left;
    .link {
      float: left;
      margin-right: 10px;
    }
  }
  .copyright {
    float: right;
  }
  @media #{$LARGE-TABLET} {
    width: auto;
    margin: 0;
    padding: 18px;
    .social-pages {
      float: none;
    }
    .links {
      float: none;
    }
    .copyright {
      float: none;
    }
  }
}
