#footer {
  .inner {
    padding: 0 20px;
    max-width: 1440px;
    margin: 0 auto 20px;
    font-size: 13px;
    .link {
      float: left;
      margin: 0 20px 10px 0;
    }
    .copyright {
      border-top: 1px solid gray;
      padding-top: 10px;
    }
  }
  .warsaw-digital {
    margin-right: 12px;
  }
}
