@import '../components/cell/styles/styles.scss';
@import '../components/password/styles/styles.scss';

#user-edit-account {
  margin: 50px auto;
  max-width: 768px;
  border: 1px solid #D0D3D4;
  padding: $FORM-PADDING-PC;
  background: white;
  @media #{$LARGE-PHONE} {
    border: none;
    padding: $FORM-PADDING-PHONE;
  }
  .page-header {
    .icon {
      padding-top: 3px;
      width: 24px;
    }
  }
  .separation-line {
    margin: 35px 0;
  }
}
