.post-container {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
  background: white;
  border: 1px solid #E5E7E9;
  border-radius: 3px;
  line-height: 1.65;
  button {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 25px;
    width: 25px;
    padding: 3px;
    &:disabled {
      cursor: not-allowed;
    }
  }

  color: #424242;

  h2 {
    margin-top: 20px;
    margin-bottom: 16px;
    padding: 0 20px;
    font-size: 17px;
    color: #565656;
  }
  h3 {
    padding: 0 20px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #565656;
  }
  .body {
    p {
      margin-bottom: 10px;
      padding: 0 20px;
      font-size: 15px;
      white-space: pre-wrap;
    }
  }
}
