%links {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 216px;
  line-height: 56px;
  text-align: right;
  .link {
    display: inline-block;
    margin-right: 12px;
    .input {
      border: none;
      font-size: 15px;
      color: #4D5656;
      background: none;
      .fas, .far {
        margin-right: 8px;
      }
    }
  }
}