%top-links {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 50px;
  text-align: right;
  @media #{$small-pc} {
    right: 52px;
  }
  .header-link {
    display: inline-block;
    margin-right: 20px;
    :hover {
      text-decoration: underline;
      cursor: pointer;
    }
    .input {
      border: none;
      background: none;
    }
    &.add-announcement {
      color: #F2F3F4;
      font-size: 14px;
      background: #229954;
      display: inline-block;
      font-weight: normal !important;
      border-radius: 2px;
      margin-bottom: 10px;
      height: 24px;
      line-height: 15px;
      padding: 5px 12px;
      border-radius: 12px;
      background: #17A589;
      :hover {
        text-decoration: none;
      }
      &.hover {
        background: #28B463;
      }
    }
  }
}
