%top-links-icon-container {
  position: relative;
  width: 100%;
  height: 46px;
  position: absolute;
  top: 0;
  right: 0;
  .links-icon {
    position: absolute;
    top: 9px;
    right: 9px;
    bottom: 0;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    padding: 1px 4px 0;
    cursor: pointer;
    .link-icon {
      height: 1px;
      background: gray;
      margin: 6px 0;
    }
  }
}
