%top-links {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 46px;
  text-align: right;
  @media #{$small-pc} {
    right: 52px;
  }
  .header-link {
    display: inline-block;
    margin-right: 20px;
    :hover {
      text-decoration: underline;
      cursor: pointer;
    }
    .input {
      border: none;
      background: none;
      .fas, .far {
        margin-right: 8px;
      }
    }
    &.add-announcement {
      color: #F0B27A;
    }
  }
}
