%site-title {
  position: absolute;
  top: 0;
  left: 12px;
  width: 150px;
  height: 100%;
  &.shifted {
    left: 64px;
  }
  cursor: pointer;
  line-height: 46px;
  text-align: left;
  font-variant: small-caps;
  font-weight: bold!important;
  font-size: 12px!important;
}
