@import '../../../../../styles/themes';
@import './site-title';
@import './links_icon-container';
@import './links';

#header {
  z-index: 9;
  position: fixed;
  left: 0;
  right: 0;
  height: 64px;
  background: #FDFEFE;
  box-shadow: 0px 6px 8px -9px black;
  opacity: 0.88;
  .inner {
    max-width: 1376px;
    height: 64px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    h1 {
      @extend %site-title;
    }
    .links-icon-container {
      @extend %links-icon-container;
    }
    .links {
      @extend %links;
    }
  }



  .map-marker {
    transition: 0.1s ease-in;
    &.visible {
      opacity: 1;
    }
    &.hidden {
      opacity: 0;
    }
  }









  .language {
    float: right;
    height: 64px;
    width: 72px;
    position: relative;
    line-height: 64px;
    text-align: right;
    .button {
      .input {
        font-size: 18px;
        color: $theme-primary-color;
        background: none;
        border: none;
        .fas {
          color: $button-index-background-color;
          margin-right: 5px;
        }
      }
    }
  }
}




