@import '../../../../../styles/themes';
@import './site-title';
@import './links_icon-container';
@import './links';

#header {
  .logo-and-title {
    .logo, .title {
      float: left;
      text-align: left;
      padding-top: 1px;
    }
    .title {
      padding-left: 8px;
      line-height: 36px;
      font-size: 14px;
      font-family: 'Oxanium';
    }
  }
  z-index: 2048;
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  background: rgba(251, 252, 252, 1);
  border-bottom: 1px solid gray;
  color: #4D5656;
  font-size: 14px;
  .side-links-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .side-links {
      z-index: 9999;
      position: absolute;
      top: 58px;
      right: 12px;
      background: rgba(251, 252, 252, .9);
      padding: 12px 12px 0 12px;
      border-radius: 4px;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0px 3px 8px 3px rgba(0, 0, 0, 0.14),
                  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      width: 240px;
      .header-link {
        position: relative;
        margin-bottom: 12px;
        border-bottom: 1px solid lightgray;
        padding-bottom: 12px;
        &.sign-in {
          margin-bottom: 0;
          border-bottom: none;
          padding-bottom: none;
        }
        .input {
          height: 100%;
          width: 100%;
          border: none;
          border-radius: 4px;
          text-align: left;
        }
      }
    }
  }
  .inner {
    position: relative;
    max-width: 1226px;
    width: 100%;
    margin: 0 auto;
    text-align: right;
    #warsaw-lease {
      font-size: 12px;
      font-weight: normal;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 7px;
      padding-left: 8px;
      @media #{$phone} {
        left: 8px;
        padding-left: 0;
      }
    }
    .top-links {
      @extend %top-links;
    }
  }
  .links-icon-container {
    @extend %top-links-icon-container;
  }
  .button.language {
    display: inline-block;
    text-align: center;
    padding-right: 6px;
    :hover {
      text-decoration: underline;
      cursor: pointer;
    }
    .input {
      height: 52px;
      border: none;
      color: #4D5656;
      background: none;
    }
  }
}
