.fas, .far {
    padding-right: 2px;
  }
.fa-clone, .fa-city, .fa-calendar-alt {
    color: #1F618D;
  }
  .fa-coins {
    color: #E59866;
  }
  .fa-layer-group {
    color: #3498DB;
  }
  .fa-door-closed {
    color: #1E8449;
  }
 .fa-building {
    color: #5D6D7E;
  }