@import '../../../../../styles/themes';
@import './headers';
@import './contact';

#announcement-show {
  width: 640px;
  margin: 88px auto;
  padding: 0 8px;
  @media only screen and (max-width: 848px) {
    width: 100%;
  }
  #showcase {
    position: relative;
    margin: 0 0 24px auto;
    background: #F7F9F9;
    border-radius: 2.5px;
    padding: 12px;
    width: 240px;
    .phone-showcase {
      min-width: 50px;
      margin-top: 12px;
      line-height: 24px;
      height: 24px;
      .icon {
        float: left;
        color: #FBFCFC;
        background: #28B463;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 12px;
        font-size: 13px;
        padding: 1px 0 0 2px;
        margin-right: 8px;
      }
      .text {
        float: left;
        u {
          cursor: pointer;
          margin-left: 4px;
        }
      }
    }
    .contact {
      @extend %contact;
    }
  }
  .announcement {
    padding-bottom: 12px;
    background: #F8F9F9;
    position: relative;
    border-radius: 4px;
    .primary-map {
      width: 694px;
      margin: 0 auto;
    }
    .section {
      margin-top: 36px;
      padding-top: 8px;
      border-top: 1px solid #3498DB;
      position: relative;
      .attached-header {
        padding-left: 4px;
        padding-right: 4px;
        top: -19px;
        border-top: 1px solid #3498DB;
        border-bottom: none;
      }
    }
  }
  .left-container, .right-container {
    float: left;
    width: 50%;
    position: relative;
    height: 48px;
    &.category, &.district {
      height: 59px;
      font-weight: bold;
    }
    &.rent {
      height: 108px;
      .data-tile {
        text-align: left;
        line-height: normal;
        height: 96px;
      }
    }
    .data-tile {
      border-radius: 4px;
      bottom: 0;
      width: 200px;
      top: 12px;
      height: 36px;
      line-height: 36px;
      @media #{$phone} {
        width: auto;
        left: 14px;
        right: 14px;
        font-size: 13px;
      }
    }
  }
  h3 {
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: absolute;
    font-size: 13px;
    height: 20px;
    .fas, .far {
      font-size: 13px;
      width: 18px;
    }
    font-weight: normal;
    padding: 4px;
    border-radius: 3px;
    top: -10px;
    left: 10px;
  }
}
