@import './editorial';
@import './table-of-contents';

$padding-desktop: 36px;
$padding-mobile: 18px;
$horizontal-margin-mobile: 18px;

%article {
  max-width: 704px;
  margin: 36px auto;
  line-height: 1.8;
  color: rgb(42, 42, 42);
  overflow: hidden;
  h1 {
    margin: 24px 0;
    font-size: 36px;
  }
  .editorial {
    @extend %editorial;
  }
  .table-of-contents {
    @extend %table-of-contents;
  }
  .heading-container {
    display: flex;
    .number {
      flex: none;
      font-weight: bold;
      margin-right: 12px;
    }
    &.h2 {
      margin: 42px 0 12px;
      border-top: 2px solid #E5E7E9;
      padding-top: 36px;
      .number, h2 {
        font-size: 19px;
      }
      @media #{$LARGE-PHONE} {
        margin: 42px $horizontal-margin-mobile 12px;
      }
    }
    &.h3 {
      margin: 36px 0 12px;
      .number, h3 {
        font-size: 18px;
      }
      @media #{$LARGE-PHONE} {
        margin: 36px $horizontal-margin-mobile 12px;
      }
    }
    &.h4 {
      margin: 24px 0 12px;
      .number, h4 {
        font-size: 17px;
      }
      @media #{$LARGE-PHONE} {
        margin: 24px $horizontal-margin-mobile 12px;
      }
    }
    &.h2 + .h3 {
      margin: 0 0 12px;
      @media #{$LARGE-PHONE} {
        margin: 0 $horizontal-margin-mobile 12px;
      }
    }
    &.h3 + .h4 {
      margin: 0 0 12px;
      @media #{$LARGE-PHONE} {
        margin: 0 $horizontal-margin-mobile 12px;
      }
    }
  }
  .heading-container:first-of-type {
    &.h2 {
      border-top: none;
      margin: 0 18px 12px;
    }  
  }
  p {
    margin: 0 0 12px;
    code {
      font-family: monospace;
      display: inline-block;
      padding: 0px 6px;
      background: #F8F9F9;
      color: #922B21;
      font-size: 15px;
      line-height: 1.4;
    }
    a {
      display: inline;
      text-decoration: underline;
      color: rgb(42, 96, 152);
      &:hover {
        color: rgb(186, 42, 24)
      }
    }
    @media #{$LARGE-PHONE} {
      margin: 0 $horizontal-margin-mobile 12px;
    }
  }
  p + ul {
    margin-top: -9px;
  }
  p + pre {
    margin-top: 18px;
  }
  pre + pre {
    margin-top: 21px;
  }
  ul {
    margin-bottom: 18px;
    margin-left: 18px;
    li {
      p {
        margin: 0 0 3px;
        padding: 0;
      }
    }
    @media #{$LARGE-PHONE} {
      margin: 0 36px 18px;
    }
  }
  > img {
    width: 100%;
    @media #{$LARGE-PHONE} {
      padding: 0 18px;
    }
  }
  @media #{$LARGE-PHONE} {
    margin: 0 auto 36px;
    box-shadow: none;
  }
}
