@import './editorial';
@import './table-of-contents';

$horizontal-margin-mobile: 18px;

%article {
  max-width: 640px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 48px;
  overflow: hidden;
  line-height: 26px;
  font-size: 16px;
  color: rgb(42, 42, 42);
  .editorial {
    @extend %editorial;
  }
  .table-of-contents {
    @extend %table-of-contents;
  }
  h1 {
    line-height: 41.25px;
    font-size: 30px;
    margin-bottom: 36px;
  }
  .cover + h1 {
    margin-top: 36px;
  }
  h2 {
    margin-top: 36px;
    line-height: 33px;
    font-size: 22px;
    margin-bottom: 15px;
    &:first-of-type {
      margin-top: 0;
    }
    @media #{$LARGE-PHONE} {
      padding: 0 $horizontal-margin-mobile;
    }
  }
  .table-of-contents + h2 {
    margin-top: 36px;
  }
  h3 {
    margin-top: 36px;
    margin-bottom: 16px;
    line-height: 29.25px;
    font-size: 18px;
  }
  h2 + h3 {
    margin-top: 0;
  }
  p {
    margin-bottom: 18px;
    code {
      display: inline-block;
      color: #cb4335;
    }
    a {
      display: inline;
      color: rgb(42, 96, 152);
      &:hover {
        color: rgb(186, 42, 24);
      }
    }
    @media #{$LARGE-PHONE} {
      margin-right: $horizontal-margin-mobile;
      margin-left: $horizontal-margin-mobile;
    }
  }
  p + ul {
    margin-top: -18px;
  }
  .editorial + ul {
    margin-top: 0;
  }
  ul {
    margin-bottom: 18px;
    margin-left: 18px;
    li {
      p {
        margin: 0;
        padding: 0;
      }
    }
    @media #{$LARGE-PHONE} {
      margin-right: 18px;
      margin-left: 36px;
    }
  }
  > img {
    width: 100%;
    @media #{$LARGE-PHONE} {
      padding: 0 18px;
    }
    // TODO: Add semantic class.
  }
}
