@import './editorial';
@import './table-of-contents';
@import './main';

$padding-desktop: 36px;
$padding-mobile: 18px;

%article {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 1.8;
  color: #212F3C;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  h1 {
    font-size: 36px;
    padding-bottom: 16px;
  }
  .editorial {
    @extend %editorial;
  }
  .table-of-contents {
    @extend %table-of-contents;
  }
  main {
    @extend %main;
  }
}
