$padding-desktop: 36px;
$padding-mobile: 18px;

%main {
  border-right: 1px solid #F2F3F4;
  border-bottom: 1px solid #F2F3F4;
  border-left: 1px solid #F2F3F4;
  background: white;
  padding: 0 $padding-desktop 26px;
  font-size: 17px;
  @media #{$LARGE-PHONE} {
    padding: 0 $padding-mobile 26px;
  }
  .header-container {
    .number, h2, h3, h4 {
      display: inline;
    }
    .number {
      font-weight: bold;
      margin-right: 12px;
    }
    &.h2 {
      padding: 72px 0 12px;
      .number, h2 {
        font-size: 20px;
      }
    }
    &.h3 {
      padding: 36px 0 12px;
      .number, h3 {
        font-size: 19px;
      }
    }
    &.h4 {
      padding: 24px 0 12px;
      .number, h4 {
        font-size: 18px;
      }
    }
    &.h2 + .h3 {
      padding: 0 0 12px;
    }
    &.h3 + .h4 {
      padding: 0 0 12px;
    }
  }
  .header-container:first-child {
    &.h2 {
      padding: 0 0 12px;
    }  
  }
  ul {
    margin-bottom: 18px;
    padding-left: 20px;
  }
  p {
    margin: 0 0 12px;
    code {
      font-family: monospace;
      display: inline-block;
      padding: 0px 6px;
      background: #F8F9F9;
      color: #922B21;
      font-size: 15px;
      line-height: 1.4;
    }
    a {
      display: inline;
      text-decoration: underline;
      color: #D35400;
      &:hover {
        color: #A04000;
      }
    }
  }
  p + ul {
    margin-top: -9px;
  }
  p + pre {
    margin-top: 18px;
  }
  pre + pre {
    margin-top: 21px;
  }
  ul {
    li {
      p {
        margin-bottom: 3px;
      }
    }
  }
}
