$padding-desktop: 36px;
$padding-mobile: 18px;

%table-of-contents {
  padding: 24px $padding-desktop;
  @media #{$LARGE-PHONE} {
    padding: 24px $padding-mobile;
  }
  background: white;
  .inner-container {
    display: inline-block;
    width: auto;
    padding: 18px 24px 10px 18px;
    line-height: 1.25;
    color: #34495E;
    border: 1px solid lightgray;
  }
  a {
    font-size: 16px;
    margin-bottom: 8px;
    &:hover {
      text-decoration: underline;
    }
  }
  h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 18px;
  }
  ul {
    list-style-type: none;
    li {
      line-height: 1.5;
      margin-top: -4px;
    }
    li {
      position: relative;
      span:first-of-type {
        position: absolute;
        display: block;
        width: 42px;
        text-align: center;
      }
      span:nth-of-type(2) {
        display: block;
        position: relative;
        left: 42px;
        margin-right: 42px;
      }
    }
  }
}
