.form-input {
  &.radio {
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 2.5px;
    background: #b3b6b7;
    color: $button-index-color;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    &.checked {
      background: #5dade2;
      color: $button-index-color;
      &.hover {
        box-shadow: none;
      }
    }
    &.hover {
      box-shadow: 0 0 0 2px #5dade2;
    }
    .input {
      float: left;
      width: 14px;
      height: 14px;
      border-radius: 7px;
      margin-right: 12px;
      cursor: pointer;
      border: 2px solid $button-index-color;
      background: white;
      .tick {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin: 1px;
        background: #5dade2;
      }
    }
    .label {
      cursor: pointer;
      float: left;
      color: $button-index-color;
      font-size: 15px;
      text-align: justify;
      line-height: 15px;
      &.checked {
        color: $button-index-color;
      }
    }
  }
}
