.form-input {
  svg {
    position: absolute;
    transition: .2s ease-in-out;
  }
  &.with-icon {
    &.text {
      svg {
        opacity: 0;
        fill: $FORM-INPUT-ICON-COLOR;
        top: 1px;
        height: 12px;
        left: 0;
      }
      &.value {
        svg {
          fill: $SUCCESS-ICON-COLOR;
        }
      }
      &.error {
        svg {
          fill: $TEXT-ERROR-COLOR;
        }
      }
    }
    &.select {
      svg:first-of-type {
        opacity: 0;
        fill: $FORM-INPUT-ICON-COLOR;
        top: 1px;
        height: 12px;
        left: 0;
      }
      &.value {
        svg:first-of-type {
          fill: $SUCCESS-ICON-COLOR;
        }
      }
      &.error {
        svg:first-of-type {
          fill: $TEXT-ERROR-COLOR;
        }
      }
    }
  }
  &.select {
    svg:last-of-type {
      top: 40px;
      right: 14px;
      height: 15px;
      fill: $FORM-INPUT-CHEVRON-COLOR;
      transform: rotate(270deg);
    }
    &.focus {
      svg:last-of-type {
        transform: rotate(90deg);
      }
    }
  }
}
