@import '../../../../../../../styles/themes';

#listing-create-additional {
  .rent-inputs-container {
    position: relative;
  }
  .text-input {
    &.rent-amount {
      width: 190px;
    }
  }
  .select-element {
    &.rent-currency {
      position: absolute;
      top: 13.5px;
      left: 200px;
      width: 80px;
      .input {
        padding-left: 25px;
      }
      svg {
        top: 20px;
      }
    }
  }
}
