@import '../../../../../shared/app/styles/media-breakpoints.scss';

$padding-desktop: 36px;
$padding-mobile: 18px;

%page {
  #page {
    padding-top: 20px;
    @media #{$LARGE-PHONE} {
      padding-top: 0;
    }
    button.edit {
      position: fixed;
      top: 80px;
      right: 20px;
      width: 20px;
      border: none;
      background: none;
      cursor: pointer;
      svg {
        fill: #626567;
      }
      &:hover {
        svg {
          fill: black;
        }
      }
    }
    .article, .summary {
      p, ul {
        a {
          display: inline;
          text-decoration: underline;
          color: #D35400;
          &:hover {
            color: #A04000;
          }
        }
      }
    }
    .article {
      max-width: 800px;
      margin: 0 auto;
      margin-bottom: 20px;
      line-height: 1.8;
      .editorial {
        padding: 10px $padding-desktop;
        font-size: 18px;
        line-height: 1.5;
        border-left: 1px solid #F2F3F4;
        border-right: 1px solid #F2F3F4;
        background: white;
        @media #{$LARGE-PHONE} {
          padding: 10px $padding-mobile;
        }
      }
      .table-of-contents {
        padding: 24px $padding-desktop 12px;
        border-left: 1px solid #F2F3F4;
        border-right: 1px solid #F2F3F4;
        background: white;
        line-height: 1.5;
        color: #797D7F;
        @media #{$LARGE-PHONE} {
          padding: 24px $padding-mobile 12px;
        }
        a {
          text-decoration: underline;
          color: inherit;
          &:hover {
            color: #2C3E50;
          }
        }
        h2 {
          font-size: 15px;
        }
        ul {
          list-style-type: none;
          font-size: 15px;
        }
      }
      h1, h2, h3 {
        line-height: 1.35;
      }
      main {
        border-right: 1px solid #F2F3F4;
        border-bottom: 1px solid #F2F3F4;
        border-left: 1px solid #F2F3F4;
        background: white;
        padding: 0 $padding-desktop 26px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 18px;
        @media #{$LARGE-PHONE} {
          padding: 0 20px;
        }
        h2 {
          padding: 50px 0 10px;
          font-size: 24px;
        }
        h2:first-of-type {
          padding: 30px 0 10px;
        }
        p {
          margin: 12px 0 0 0;
        }
        ul {
          padding-left: 20px;
          li {
            p {
              margin: 6px 0 0 0;
            }
          }
        }
      }
    }
    .summary {
      max-width: 1400px;
      margin: 72px auto 36px;
      font-size: 14px;
      line-height: 1.5;
      @media #{$SMALL-PC} {
        padding: 0 20px;
      }
      h1 {
        font-size: 18px;
        padding: 24px 0 6px;
      }
      h2 {
        font-size: 16px;
        padding: 12px 0 6px;
      }
      p {
        padding-bottom: 8px;
      }
      section {
        margin: 72px 0;
        padding: 20px;
        border-radius: 5px;
        background: white;
        border: 1px solid #E5E7E9;
        h1 {
          padding: 0 0 6px;
        }
      }
    }
  }
}
