@import '../../../../../shared/app/styles/media-breakpoints.scss';

$padding-desktop: 36px;
$padding-mobile: 18px;

%page {
  #page {
    padding-top: 20px;
    @media #{$LARGE-PHONE} {
      padding-top: 0;
    }
    button.edit {
      position: fixed;
      top: 80px;
      right: 20px;
    }
    .article {
      max-width: 800px;
      margin: 0 auto;
      margin-bottom: 20px;
      line-height: 1.8;
      .editorial {
        padding: 10px $padding-desktop;
        font-size: 18px;
        line-height: 1.5;
        border-left: 1px solid #F2F3F4;
        border-right: 1px solid #F2F3F4;
        background: white;
        @media #{$LARGE-PHONE} {
          padding: 10px $padding-mobile;
        }
      }
      .table-of-contents {
        padding: 30px $padding-desktop;
        border-left: 1px solid #F2F3F4;
        border-right: 1px solid #F2F3F4;
        background: white;
        line-height: 1.5;
        color: #797D7F;
        @media #{$LARGE-PHONE} {
          padding: 30px $padding-mobile;
        }
        a {
          text-decoration: underline;
        }
        h2 {
          font-size: 14px;
        }
        ul {
          list-style-type: none;
          font-size: 14px;
        }
      }
      main {
        border-right: 1px solid #F2F3F4;
        border-bottom: 1px solid #F2F3F4;
        border-left: 1px solid #F2F3F4;
        background: white;
        padding: 0 $padding-desktop 26px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 18px;
        @media #{$LARGE-PHONE} {
          padding: 0 $padding-mobile 26px;
        }
        h2, h3 {
          line-height: 1;
        }
        h2 {
          padding: 50px 0 10px;
          font-size: 24px;
        }
        h2:first-of-type {
          padding: 30px 0 10px;
        }
        ul {
          padding-left: 20px;
        }
        p {
          padding: 10px 0;
        }
      }
    }
    .summary {
      max-width: 1400px;
      margin: 0 auto 36px;
      font-size: 13px;
      line-height: 1.5;
      h1 {
        font-size: 17px;
        padding: 24px 0 6px;
      }
      h2 {
        font-size: 15px;
        padding: 12px 0 6px;
      }
      p {
        padding-bottom: 8px;
      }
    }
  }
}
