@import '../../../../../../../../../styles/themes';

#user-create-confirmation {
  h1 {
    margin: 12px 0;
  }
  .line {
    margin-bottom: 24px !important;
  }
  > div {
    padding: 0 24px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 15px;
  }
  .checkmark-circle {
    width: 64px;
    height: 64px;
    padding: 0;
    background: #239b56;
    margin: 24px auto;
    border-radius: 50%;
  }
  .link {
    margin-bottom: 12px;
    font-size: 14px;
    color: $LINK-COLOR;
    &:hover {
      color: $LINK-COLOR-HOVER;
    }
  }
  svg {
    fill: white;
    margin: 12px;
  }
  .partner-page {
    margin-bottom: 12px;
  }
  .partner-page-link {
    .link {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
