#listing-create {
  #social-image-canvas {
    position: absolute;
    width: 1200px;
    height: 630px;
    overflow: hidden;
    top: 0;
    left: 10000px;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      align-self: center;
    }
    h2 {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      bottom: 20px;  
      left: 20px;
      width: 570px;
      right: 20px;
      margin: 0;
      z-index: 999;
      color: white;
      border-radius: 8px;
      text-align: center;
      line-height: 75px;
      font-size: 40px;
      padding: 20px;
      text-align: left;
      font-size: 36px;
      line-height: 36px;
      height: 115px;
      .locality-sublocality {
        margin-top: 15px;
        font-size: 24px;
        line-height: 24px;
      }
    }
    .area {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      width: 275px;
      height: 115px;
      left: 610px;
      bottom: 20px;
      z-index: 999;
      color: white;
      border-radius: 8px;
      text-align: center;
      line-height: 90px;
      font-size: 40px;
      color: #c1ddf0;
    }
    .rent {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      width: 275px;
      height: 115px;
      left: 905px;
      bottom: 20px;
      z-index: 999;
      color: white;
      border-radius: 8px;
      text-align: center;
      line-height: 115px;
      font-size: 40px;
      color: #ffc299;
      .amount {
        margin-right: 10px;
      }
      .per-month {
        margin-left: 10px;
        font-size: 20px;
      }

    }
  }
}
