@import '../components/cell-deprecated/styles/styles';
@import '../components/password-reset/styles/styles';
@import '../../../../../../../styles/container';
@import '../../../../../../../styles/headings/h1';
@import '../../../../../../../styles/line';
@import '../../../../create/components/email/components/inputs/styles/country-code-phone-number-container';

#user-edit-account {
  margin-bottom: 24px;
  padding-top: 96px;
  padding-bottom: 96px;
  background: $BACKGROUND-COLOR-LIGHT-GRAYISH;
  .container {
    @extend %container;
    max-width: 480px;
  }
  h1 {
    @extend %h1;
  }
  .line {
    @extend %line;
  }
  .country-code-phone-number-container {
    @extend %country-code-phone-number-container;
  }
}
