@import '../../../../../../../styles/themes.scss';
@import '../../../../../../../styles/inputs/form/form';

#user-edit-account {
  @extend %narrow-container;
  .form-input {
    @extend %form-input;
    &.text {
      height: 40px;
    }
    &.button {
      margin: 0 0 0 auto;
      width: 96px;
      height: 36px;
      .input {
        font-size: 16px;
      }
    }
  }
}