@import '../../../../../../../../../styles/themes';

#visitor-privacy-policy {
  @extend %wide-container;
  h2 {
    text-align: center;
    color: $primary-text-color;
    font-size: 24px;
    margin-bottom: 48px;
  }
}