@import '../../../../../../../../../../../shared/app/components/support/splide/styles/styles.scss';

.pictures {
  @extend %splide;
  box-sizing: border-box;
  position: relative;
  margin-top: 18px !important;
}
