@import '../../../../../../../shared/app/styles/media-breakpoints';
@import '../../../../../styles/themes.scss';
@import '../../../../../styles/dimensions.scss';
@import '../components/connecting/styles/styles.scss';
@import '../components/consents/styles/styles.scss';
@import '../components/email/components/inputs/styles/styles.scss';
@import '../components/email/components/submit/styles/styles.scss';
@import '../components/email/components/verify/styles/styles.scss';
@import '../components/email/styles/styles.scss';
@import '../../../../../styles/inputs/form/checkbox.scss';
@import '../../../../../styles/inputs/form/radio.scss';
@import '../../../../../styles/line';

#user-create {
  margin-bottom: 24px;
  padding-top: 96px;
  padding-bottom: 96px;
  background: $BACKGROUND-COLOR-LIGHT-GRAYISH;
  .line {
    @extend %line;
  }
}
