@import '../../../../../../../../../styles/themes';
@import '../../../../../../../../../styles/inputs/form/form';

#visitor-privacy-settings {
  color: $theme-primary-color;
  .text {
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    margin: 25px 0 10px;
    u {
      cursor: pointer;
      &:hover {
        color: #D35400;
      }
    }
  }
  .consent {
    font-size: 16px;
  }
}