@import '../../../../../../../../../styles/themes';
@import '../../../../../../../../../styles/inputs/form/radio.scss';

#visitor-privacy-settings {
  color: $theme-primary-color;
  z-index: 200000001;
  overflow-y: scroll;
  margin-top: 160px;
  
  @media #{$small-tablet} {
    margin-top: 58px;
  }

  @media #{$phone} {
    margin-top: 46px;
  }

  .text {
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    margin: 25px 0 10px;
    u {
      cursor: pointer;
      &:hover {
        color: #D35400;
      }
    }
  }
  .consent {
    font-size: 16px;
    .form-input {
      &.radio {
        width: 49.25%;
        float: left;
        &:first-child {
          margin-right: 1.5%;
        }
        @media #{$phone} {
          width: 100%;
          margin-right: 0;
        }
        .label {
          padding-left: 0;
        }
      }
    }
  }
}
