@import '../../../../../styles/container';

#contact {
  @extend %container;
  padding: 32px;
  margin-top: 192px;
  .company, .address {
    margin-bottom: 24px;
  }
  .street {
    margin-bottom: 8px;
  }
}
