@import '../../../../../../../styles/themes.scss';

#announcement-create-primary {
  padding-top: 0!important;
    width: 360px;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      width: 100%;
    }
    .primary-input {
      .input {
        height: 40px;
      }
      &.rent {
        width: 174px;
        float: left;
        @media only screen and (max-width: $breakpoint-phone-large-max) {
          width: 100%;
        }
        &.amount {
          margin-left: 12px;
          @media only screen and (max-width: $breakpoint-phone-large-max) {
            margin-left: 0;
          }
        }
      }
    }
  .availability-date {
    width: 114.33px;
    float: left;
    margin-right: 12px;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      width: 100%;
    }
  }
  .calendar {
    .react-calendar {
      z-index: 3;
      position: absolute;
      width: 360px;
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        width: 100%;
      }
    }
  }
  .date {
    .primary-input {
      width: 174px;
      float: left;
      &.date {
        margin-left: 12px;
        @media only screen and (max-width: $breakpoint-phone-large-max) {
          margin-left: 0;
        }
      }
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        width: 100%;
      }
    }
  }
  .date-select {
    margin-bottom: 12px;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      margin: 0;
    }
  }
  .fas, .far {
    width: 24px;
  }
}