@import '../../../../../../../styles/themes.scss';

#announcement-create-primary {
  max-width: 360px;
  padding-top: 0!important;
  .checkbox {
    &.availability-date {
      margin-bottom: 18px;
      .input {
        left: 0;
      }
      .label {
        margin-top: 1px;
        margin-left: 18px;
      }
    }
  }

  .form-input {
    .sqm {
      position: absolute;
      top: 1px;
      right: 42px;
      bottom: 0;
      line-height: 42px;
      opacity: 0;
    }
    &.value, &.focus {
      .sqm {
        opacity: 1;
        transition: opacity .2s ease-in;
        .sq {
          top: -4px;
          position: relative;
          font-size: 12px;
          padding-left: 1px;
        }
      }
    }
    .fa-chevron-down {
      background: none;
      border: none !important;
      width: 13px;
      border: none;
      position: absolute;
      top: 17px;
      right: 11px;
      margin: auto;
      width: 13px !important;
    }
  }

  .radio-container {
    margin-bottom: 18px;
    .title {
      margin-bottom: 12px;
      font-size: 14px;
      .fas, .far {
        margin-right: 4px;
        font-size: 13px;
      }
    }
    .radio {
      height: 42px;
      position: relative;
      .input {
        margin-top: 2px;
      }
      .label {
        margin-top: 2px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-top: 2px;
        line-height: 40px;
        padding-left: 32px;
      }
    }
    &.currency {
      .radio {
        float: left;
        width: 31%;
        .input {
          display: none;
        }
        .label {
          width: 100%;
          text-align: center;
          font-size: 16px;
          margin-top: 2px;
          padding-left: 0;
        }
        &:nth-child(2) {
          margin-left: 3.5%;
          margin-right: 3.5%;
        }
      }
    }

    &.availability-date-select {
      .radio {
        float: left;
        width: 48.25%;
        &:nth-child(1) {
          margin-right: 3.5%;
        }
      }
    }
  }

  .calendar {
    position: relative;
    .react-calendar {
      z-index: 1;
      width: 100%;
      border: none;
      border-radius: 2.5px;
      box-shadow: none;
      border: 1px solid black;
      .react-calendar__navigation button {
        font-size: 16px;
      }
    }
  }
}
