@import '../../../../../../../../../styles/themes.scss';

#user-create-email-submit {
  padding: 0 0 18px;
  .separation-line {
    margin-bottom: 24px;
  }
  .form-input {
    &.button {
      margin: 0 auto;
      .very-small-windmill-spinner {
        top: -54px;
        left: -49px;
        div:after {
          background: white;
        }
      }
    }
  }
}
