@import '../../../../../../../styles/themes.scss';
@import '../../../../../../../styles/colors';

#user-create-consents-container {
  margin-bottom: 12px;
  .checkbox-container {
    .checkbox.form-input {
      padding: 6px 12px 0 0;
      .input {
        top: 8px;
        left: 0;
      }
      .label {
        font-size: 14px;
      }
    }
  }
  .error {
    @extend %error;
  }
  .link {
    color: #D35400;
    &:hover {
      color: #BA4A00;
    }
  }
}
