@import '../../../../../../../../../styles/themes.scss';

.announcement-show-tile-map {
  position: relative;
  margin: 0 24px;
  @media #{$phone} {
    margin: 0 12px 0;
  }
  border-radius: 4px;
  #google-map-container {
    #google-map {
      height: 320px;
    }
  }
}
