@import '../../../../../../../styles/themes.scss';

#announcement-create-additional {
  max-width: 360px;
  .rent-inputs-container {
    position: relative;
    .form-input {
      &.rent-amount {
        margin-right: 80px;
        .input {
          border-right: none;
        }
      }
      &.rent-currency {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        .input {
          padding-left: 25px;
        }
      }
    }
  }
}
