@import '../../../../styles/colors';

$padding-mobile: 18px;

%table-of-contents {
  margin: 40px 40px !important;
  padding: 20px 20px !important;
  // background: #f7f8f9;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid black;
  h2 {
    display: block;
    margin: 0 0 20px;
    line-height: 14px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #424949;
    color: #424949;
  }
  .inner-container {
    margin: 0;
    line-height: 1.25;
    display: inline-block;
  }
  a {
    font-size: 16px;
    color: black;
    color: #2471a3;
    color: black;
    font-weight: 400;
    &:hover {
      // color: #3498db;
      color: gray;
    }
  }
  ul {
    margin: 0;
    padding: 0 0 0 20px;
    li {
      position: relative;
      margin: 4px 0 0;
      line-height: 22px;
      &::marker {
        font-size: 14px;
      }
      &:hover {
        &::marker {
          color: gray;
        }
      }
      ul {
        margin: 0 0 8px 18px;
        list-style-type: disc;
        li {
          margin: 2px 0 0;
        }
      }
    }
  }
  @media #{$LARGE-PHONE} {
    margin: 40px 0 !important;
    padding: 20px 20px !important;
    border-radius: 0;
  }
}
