%rent {
  position: relative;
  margin-bottom: 24px;
  margin-left: 18px;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  .amount {
    margin-right: 6px;
  }
  .decimal {
    margin-right: 6px;
    text-decoration: underline;
  }
  .per-month {
    margin-left: 6px;
    font-size: 14px;
  }
  color: rgba(186, 74, 0, 1);
}
