@import '../../../../../../shared/app/styles/media-breakpoints.scss';
@import './root.scss';
@import './article.scss';

#page-container {
  position: relative;
  max-width: 1440px;
  margin: 0px auto 60px;

  @media #{$LARGE-PHONE} {
    margin: 0;
    padding: 0;
  }

  @extend %root;
  @extend %article;
}
