@import '../../../../../../shared/app/styles/media-breakpoints.scss';

#page-container {
  position: relative;
  max-width: 1440px;
  margin: 0px auto 60px;

  @media #{$LARGE-PHONE} {
    margin: 0;
    padding: 0;
  }

  &.article {
    padding: 20px 0;
    @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
    font-family: 'Titillium Web', sans-serif;
    @media #{$LARGE-TABLET} {
      padding: 20px;
    }
    // @media #{$LARGE-PHONE} {
    //   padding: 0;
    //   .table-of-contents {
    //     margin-top: 0;
    //     border-radius: 0;
    //   }
    //   h1, h2, h3, p, ul {
    //     padding: 0 20px!important;
    //   }
    // }
  }

  .table-of-contents {
    display: inline-block;
    padding: 10px 20px;
    background: #EAEDED;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
    ul {
      list-style-type: none;
      padding-left: 0!important;
      line-height: 25px;
    }
    h2 {
      margin: 0!important;
      font-size: 16px!important;
    }
    a {
      display: block;
      &:hover {
        color: #5D6D7E;
      }
    }
  }

  .tile {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
    background: none;
    color: rgb(30, 30, 30);
    font-size: 17px;
    line-height: 30px;

    button {
      &.edit {
        z-index: 999;
        position: fixed;
        right: 20px;
        top: 77px;
        width: 24px;
        height: 24px;
        border: none;
        background: none;
        cursor: pointer;
        svg {
          display: block;
          width: 24px;
          fill: gray;
          transition: 0.24s ease-out;
          &:hover {
            fill: black;
          }
        }
      }
    }

    h1, h2, h3 {
      color: rgb(60, 60, 60);
    }
  
    h1 {
      margin: 0;
      padding: 0;
      font-size: 24px;
      font-weight: 600;
    }
  
    h2 {
      margin: 0;
      padding: 0;
      font-size: 21px;
      margin-top: 40px;
      margin-bottom: 20px;
      font-weight: 600;
    }

    h1 + h2 {
      margin-top: 25px;
    }
  
    h3 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      margin-top: 40px;
      margin-bottom: 10px;
      font-weight: 600;
    }

    h2 + h3 {
      margin-top: 0px;
    }
  
    p {
      margin: 5px 0;
      padding: 0;
      white-space: pre-wrap;
    }

    ul {
      padding-left: 28px;
    }
  
    &.root {
      position: relative;
      max-width: 1440px;
      margin: 0 auto;
      padding-top: 20px;

      .body {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-between;
        padding: 0 20px;
      }

      .picture {
        position: relative;
        img {
          display: block;
          margin: 0;
          width: 100%;
          aspect-ratio: 3/2; // TODO: MOVE TO JS
        }
      }

      .code-link {
        float: left;
        width: 32.6666%;
        margin-bottom: 1%;
        padding: 0;
        border-radius: 5px;
        background: lightgray;
        .picture-and-title {
          position: relative;
          aspect-ratio: 16/10; // TODO: MOVE TO JS
          border-radius: 5px;
          img {
            display: block;
            width: 100%;
            aspect-ratio: 3/2;
            border-radius: 5px;
          }
          .title {
            height: 33%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            color: #F0F3F4;
            font-size: 28px;
            font-family: 'Cairo', sans-serif;
            font-weight: bold;
            text-shadow: 1px 1px 1px rgba(42,42,42,0.5);
          }
        }
        @media #{$SMALL-PC} {
          width: 49.5%;
          .picture-and-title {
            .title {
              font-size: 2.4vw;
            }
          }
        }
        @media #{$LARGE-TABLET} {
          width: 49.5%;
          .picture-and-title {
            .title {
              font-size: 3vw;
            }
          }
        }
        @media #{$LARGE-PHONE} {
          width: 100%;
          margin-bottom: 20px;
          .picture-and-title {
            .title {
              font-size: 5.5vw;
            }
          }
        }
      }

      @media #{$LARGE-PHONE} {
        .body {
          &.article {
            padding: 0;
          }
        }
        .code-link {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}
