@import '../../../../../../../../../styles/colors';

%terms-of-service-consent {
  width: 100%;
  padding-bottom: 18px;
  .checkbox.form-input {
    margin-bottom: 0;
    > .input {
      transform: scale(0.8);
      top: .5px;
    }
    > .label {
      left: 10px;
      font-size: 14px;
    }
  }
  .error {
    height: 16px;
    margin: 6px 0 0 0;
    color: $ERROR-COLOR;
    line-height: 16px;
    font-size: 13px;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: #2a6098;
    &:hover {
      color: #5d6d7e;
    }
  }
}
