@import '../../../../../../../../../styles/inputs/form/svgs';
@import '../../../../../../../../../styles/colors';
@import '../../../../../../../../../styles/inputs/text';
@import '../../../../../../../../../styles/inputs/radio';
@import './country-code-phone-number-container';
@import './terms-of-service-consent';
@import '../../../../../../../../../styles/themes';
@import '../../../../../../../../../styles/inputs/button';

#user-create {
  .inputs {
    padding: 0 32px;
    padding-top: 18px;
    h2 {
      font-size: 15px;
      color: $TEXT-HEADER-TIER-TWO-COLOR;
    }
    .hint {
      color: #1f618d;
      line-height: 18px;
      font-size: 14px;
      margin-bottom: 12px;
    }
    .text-input {
      @extend %text-input;
    }
    .country-code-phone-number-container {
      @extend %country-code-phone-number-container;
    }
    .account-type {
      @extend %radio;
      margin-bottom: 24px;
      .label {
        line-height: 15px;
        font-size: 15px;
      }
    }
  }
  .terms-of-service-consent {
    @extend %terms-of-service-consent;
  }
  .link {
    display: inline;
  }
  h1 {
    margin: 0 0 12px;
  }
  .line {
    @extend %line;
    margin-bottom: 24px
  }
  .button {
    @extend %button;
    margin-bottom: 24px;
    button:disabled {
      background: lightgray;
      border: none;
      color: gray;
    }
  }
}
