@import '../../../../../../../styles/themes.scss';

#user-authorize-email {
  max-width: 360px;
  width: 100%;
  .error-container {
    display: none;
  }
  .email-or-password-error {
    text-align: center;
    margin-bottom: 24px;
    color: #922B21;
    font-size: 14px;
  }
  .fas, .far {
    margin-right: 8px;
    color: #2471A3;
  }
  .error {
    .fas, .far {
      color: #922B21;
    }
  }
  .remember-me {
    position: relative;
    margin-bottom: 24px;
    .input {
      position: absolute;
    }
    .label {
      margin-left: 28px;
    }
  }
  .password {
    text-align: center;
    line-height: 36px;
    float: left;
    width: 180px;
    font-size: 13px;
    color: gray;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      width: 50%;
    }
    span {
      cursor: pointer;
    }
  }
  .button {
    @extend %blue-button;
    position: relative;
    display: block;
    float: left;
    width: 180px;
    height: 36px;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      width: 50%;
    }
    .very-small-windmill-spinner {
      left: -51px;
      top: -51px;
      div:after {
        background: #F0F3F4;
      }
    }
  }
}