@import '../../../../../../../styles/themes.scss';
@import '../../../../../../../styles/inputs/form/button.scss';
@import '../../../../../../../styles//inputs/form/svgs.scss';

#user-authorize-email {
  .inputs {
    max-width: 360px;
  }
  .form-input {
    margin-bottom: 20px;
    &.email {
      .error-container {
        display: none;
      }
    }
    &.password {
      margin-bottom: 36px;
      .error-container {
        padding-top: 12px;
        font-size: 13px;
      }
    }
    &.button {
      margin: 0 auto;
    }
  }
  .separation-line {
    margin: 36px 0;
  }
  .submit {
    .checkbox {
      margin-top: 40px;
      @media #{$phone} {
        position: relative;
        height: 14px;
        width: 100%;
        margin-bottom: 24px;
      }
      .input {
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
      .label {
        font-size: 14px;
        margin-left: 25px;
        @media #{$phone} {
          line-height: 14px;
        }
      }
    }
  }
  .reset-password {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #566573;
    margin-top: 15px;
    padding-top: 15px;
    span {
      cursor: pointer;
    }
  }
}
