@import '../../../../../../../styles/themes.scss';

#user-authorize-email {
  .inputs {
    max-width: 396px;
  }
  .form-input {
    &.email {
      .error-container {
        display: none;
      }
    }
    &.password {
      margin-bottom: 36px;
      .error-container {
        padding-top: 12px;
        font-size: 13px;
      }
    }
  }
  .separation-line {
    margin: 36px 0;
  }
  .submit {
    .checkbox {
      padding: 0;
      margin: 0;
      @media #{$phone} {
        position: relative;
        height: 14px;
        width: 100%;
        margin-bottom: 24px;
      }
      .input {
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
      .label {
        font-size: 14px;
        margin-left: 25px;
        @media #{$phone} {
          line-height: 14px;
        }
      }
    }
    .form-input {
      &.button {
        display: block;
        width: 240px;
        height: 36px;
        margin: 0 auto;
        .input {
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 3px;
          background: #3498DB;
          color: #F7F9F9;
          &.hover {
            background: #5DADE2;
          }
        }
      }
    }
  }
  .reset-password {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #566573;
    margin-top: 15px;
    padding-top: 15px;
    span {
      cursor: pointer;
    }
  }
}
