#user-create-email {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
  background: white;
  overflow: hidden;
  h1 {
    background: white;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(80, 80, 80);
    text-transform: uppercase;
    border-bottom: 2px solid #d7dbdd;
    padding: 18px 0;
  }
  .separation-line {
    margin: 20px 0;
  }
}
