@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

#logo {
  position: relative;
  float: left;
  height: 28px;
  margin-top: 22px;
  margin-left: 18px;
  color: #1b2631;
}

#logo > div {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-family: 'Nova Flat';
  color: #212f3c;
}
