#logo {
  position: relative;
  float: left;
  height: 28px;
  margin-top: 22px;
  margin-left: 18px;
  color: #1b2631;
}

#logo > div {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-family: 'Nova Slim';
  color: #212f3c;
}
