#logo {
  position: relative;
  float: left;
  height: 28px;
  margin-top: 16px;
  font-family: 'Nova Slim';
  color: #1B2631;
}

#logo img {
  position: relative;
  height: 100%;
}

#logo > div {
  position: absolute;
  top: 0;
  left: 27px;
  font-size: 14px;
  transform: translate(0, -1px);
}

#logo span {
  font-size: 10px;
  /* color: #D35400; */
}
