@import '../../../../../../../shared/app/styles/media-breakpoints';
@import '../../../../../styles/dimensions';
@import '../../../../../styles/themes';
@import '../../../../../styles/headings/h1';
@import '../../../../../styles/inputs/text';
@import '../../../../../styles/inputs/button';
@import '../../../../../styles/container';
@import '../../../../../styles/line';

#user-password-reset {
  background: $BACKGROUND-LIGHT-GRAYISH-COLOR;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 18px 60px;
}

#user-edit-password {
  @extend %container;
  padding: 32px;
  min-width: 360px;
  h1 {
    @extend %h1;
    margin-bottom: 24px;
  }
  .text-input {
    @extend %text-input;
  }
  .submit-button {
    @extend %button;
  }
  .monit-and-text-inputs {
    padding: 24px 32px;
  }
  .monit {
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 14px;
  }
  .line {
    @extend %line;
    margin-bottom: 24px;
  }
  .explanation {
    margin-bottom: 24px;
    color: #4d5656;
    line-height: 24px;
  }
}
