.radio {
  float: left;
  width: 50%;
  color: #5d6d7e;
  cursor: pointer;
  [class~='input'] {
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 12px;
    cursor: pointer;
    border: 2px solid #5d6d7e;
    [class~='tick'] {
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin: 2px;
      background: #212f3d;
    }
  }
  [class~='label'] {
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    line-height: 15px;
    font-size: 15px;
  }
}

.radio.checked {
  border: 12px solid #212f3d;
}
