.form-input {
  svg {
    position: absolute;
    transition: .2s ease-in-out;
  }
  &.with-icon {
    &.text, &.select {
      padding-left: 35px;  
      .label {
        left: 40px;
      }
    }
  }
  &.with-icon {
    &.text {
      svg {
        fill: $FORM-INPUT-ICON-COLOR;
        height: 16px;
        bottom: 10px;
        left: 0;
      }
      &.value {
        svg {
          fill: $SUCCESS-ICON-COLOR;
        }
      }
      &.error {
        svg {
          fill: $ERROR-COLOR;
        }
      }
    }
    &.select {
      svg:first-of-type {
        fill: $FORM-INPUT-ICON-COLOR;
        height: 16px;
        bottom: 10px;
        left: 0;
      }
      &.value {
        svg:first-of-type {
          fill: $SUCCESS-ICON-COLOR;
        }
      }
      &.error {
        svg:first-of-type {
          fill: $ERROR-COLOR;
        }
      }
    }
  }
  &.select {
    svg:last-of-type {
      right: 10px;
      bottom: 12px;
      height: 15px;
      margin: auto;
      fill: $FORM-INPUT-CHEVRON-COLOR;
      transform: rotate(270deg);
    }
    &.focus {
      svg:last-of-type {
        bottom: 6px;
        transform: rotate(90deg);
      }
    }
  }
}
