.image-editor {
  margin-bottom: 32px;
  background: #ECF0F1;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 365px;
  .image-container {
    position: relative;
    // Recommended: 1200 x 630 pixels
    width: 600px;
    height: 315px;
    margin: 25px auto 0;
    .image {
      width: 600px;
      height: 315px;
    }
    .logo {
      width: 120px;
      position: absolute;
      top: 60px;
      right: 0;
      left: 0;
      margin: auto;
    }
    h1 {
      color: white;
      position: absolute;
      right: 0;
      bottom: 50px;
      left: 0;
      margin: 0 auto;
      text-align: center;
      font-family: 'Nunito Sans', 'Helvetica Neue', 'Arial', sans-serif;
      font-weight: normal;
      text-shadow: 1px 1px 1px rgba(42,42,42,0.5);
      font-size: 30px;
    }
  }
}
