@import '../../../../../../../shared/app/styles/media-breakpoints';
@import '../../../../../styles/container';
@import '../../../../../styles/headings/h1';
@import '../../../../../styles/inputs/text';
@import '../../../../../styles/inputs/button';
@import '../../../../../styles/inputs/checkbox.scss';
@import '../../../../../../../shared/app/components/support/typed-text-input/styles/styles.scss';

#user-new {
  @extend %container;
  padding: 32px;
  .typed-text-input {
    @extend %typed-text-input;
  }
  .logo {
    margin-top: 24px;
  }
  // .business-name {

  // }
  h1 {
    @extend %h1;
    margin-bottom: 24px;
  }
  .text-input {
    @extend %text-input;
  }
  .submit-button {
    @extend %button;
    margin-top: 24px;
  }
  .checkbox {
    @extend %checkbox;
  }
  .terms-of-service-consent {
    .error {
      margin-bottom: 24px;
      font-size: 13px;
      color: $ERROR-COLOR;
    }
  }
}
