@import '../../../../styles/themes.scss';

#header {
  z-index: 2048;
  position: fixed;
  left: 0;
  right: 0;
  height: 60px;
  background: white;
  border-bottom: 1px solid #F2F3F4;
  .inner {
    padding: 0 20px;
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    .links {
      float: right;
      .header-link {
        float: left;
        margin-left: 30px;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        line-height: 60px;
        &.hover {
          text-decoration: underline;
          color: #34495E;
        }
        &.lang {
          margin-top: 12px;
          line-height: 14px;
          color: #424949;
          svg {
            display: block;
            width: 18px;
            margin: 0 auto 4px;
            transform: translate(0, -1px);
            fill: #424949;
          }
        }
      }
      .add-announcement {
        position: relative;
        float: left;
        padding-left: 24px;
        color: #D35400;
        svg {
          position: absolute;
          top: 21px;
          left: 0;
          width: 15px;
          fill: #D35400;
        }
        &.hover {
          color: #E67E22;
          svg {
            fill: #E67E22;
          }
        }
      }
    }
  }
}
