@import '../../../../styles/themes.scss';

#header {
  z-index: 2048;
  position: fixed;
  left: 0;
  right: 0;
  height: 60px;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #D7DBDD;
  .inner {
    padding: 0 20px;
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    .logo {
      float: left;
      font-size: 14px;
      margin-top: 20px;
      font-weight: bold;
      color: #17202A;
      div {
        float: left;
      }
      div:nth-of-type(1) {
        padding: 2px 3px 1px;
        border-bottom: 2px solid #17202A;
      }
      div:nth-of-type(2) {
        padding: 3px 5px 3px;
        background: #17202A;
        color: white;
        transform: translate(0, -1px);
      }
    }
    .links {
      float: right;
      .add-announcement {
        position: relative;
        float: left;
        margin-top: 13px;
        background: #2471A3;
        color: white;
        line-height: 32px;
        padding-left: 38px;
        padding-right: 10px;
        border-radius: 4px;
        font-size: 13px;
        padding-top: 2px;
        &.hover {
          background: #2980B9;
          text-decoration: underline;
        }
        svg {
          position: absolute;
          top: 6px;
          left: 10px;
          width: 18px;
          fill: white;
        }
      }
      .header-link {
        float: left;
        margin-left: 30px;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        line-height: 60px;
        &.hover {
          text-decoration: underline;
          color: #34495E;
        }
        &.lang {
          margin-top: 12px;
          line-height: 14px;
          color: #424949;
          svg {
            display: block;
            width: 18px;
            margin: 0 auto 4px;
            transform: translate(0, -1px);
            fill: #424949;
          }
        }
      }
    }
  }
}
