@import '../../../../../../../styles/themes.scss';

#announcement-show-description {
  margin-top: 36px;
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    padding: 0 12px;
  }
  .description {
    text-align: justify;
    font-size: 16px;
    line-height: 22px;
    white-space: pre-wrap;

  }
  h3 {
    color: #1B4F72;
    font-weight: normal;
    font-size: 17px;
    padding-bottom: 8px;
  }
}
