@import '../../../../../../../styles/themes.scss';

#announcement-show-description {
  margin: 24px 12px 12px;
  background: white;
  font-size: 14px;
  border: 1px solid lightgray;
  position: relative;
  border-radius: 4px;
  padding: 12px;
  @media #{$phone} {
    margin: 24px 14px 14px;
    padding: 12px;
  }
  .description {
    text-align: justify;
    line-height: 20px;
    white-space: pre-wrap;
  }
}
