@import '../../../../../../../styles/themes.scss';

#announcement-show-description {
  margin: 24px;
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    margin: 0;
    padding: 12px;
  }
  .description {
    text-align: justify;
    font-size: 16px;
    line-height: 22px;
    white-space: pre-wrap;
    @media only screen and (max-width: 360px) {
      font-size: 15px;
    }
  }
  h3 {
    .fas, .far {
      font-size: 14px;
      width: 20px;
    }
    color: #1B4F72;
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 4px;
    @media only screen and (max-width: 360px) {
      font-size: 15px;
    }
  }
}
