@import '../../../../../../../styles/colors.scss';

#announcement-create-availability-date {
  padding-bottom: 6px;
  max-width: 360px;
  .checkbox {
    &.availability-date {
      .input {
        left: 0;
      }
      .label {
        margin-top: 1px;
        margin-left: 18px;
      }
    }
  }

  .calendar {
    position: relative;
    .react-calendar {
      width: 100%;
      border-radius: 0;
      margin-bottom: 20px;
      box-shadow: none;
      border: 1px solid $FORM-BORDER;
      .react-calendar__navigation button {
        font-size: 15px;
      }
    }
  }
}
