@import '../../../../../../../../styles/themes.scss';
@import './current';
@import './trigger';
@import './edit';

.cell {
  position: relative;
  margin-top: 18px;
  margin-bottom: 12px;
  // padding: 0 32px;
  .current {
    @extend %current;
  }
  .trigger {
    @extend %trigger;
  }
  .edit {
    @extend %edit;
  }
  .guide {
    margin-bottom: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #424949;
  }
}
