%go-to-link {
  position: relative;
  margin-left: 24px;
  display: flex;
  line-height: 16px;
  color: #2874a6;
  text-decoration: underline;
  svg {
    position: relative;
    height: 16px;
    fill: #2e86c1;
    margin-right: 8px;
    top: 2px;
  }
}
