%go-back-to-list {
  display: block;
  position: absolute;
  top: 48px;
  right: 32px;
  margin: 0 12px 12px auto;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  background: #f8f9f9;
  svg {
    position: relative;
    top: 2px;
    transform: rotate(180deg);
    height: 20px;
    fill: #424949;
    transition: fill 0.15s ease-in;
  }
  &:hover {
    border-color: #626567;
    svg {
      fill: #626567;
    }
  }

  @media #{$LARGE-TABLET} {
    position: fixed;
    z-index: 1000;
    top: 84px;
    right: 26px;
    width: 44px;
    height: 44px;
    margin: 0;
  }
}
