@import '../../../../../../../../../styles/themes';
@import '../../../../../../../../../styles/media-breakpoints';
@import '../../../../../../../../../styles/inputs/form/form';

#visitor-privacy-monit {
  .cover {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparentize($primary-icon-color, $amount: .8)
  }
  .text-buttons {
    z-index: 11;
    position: fixed;
    background: rgba(251, 252, 252, 0.92);
    box-shadow: 0px 0px 12px 0px #424949;
    top: 168px;
    right: 12px;
    left: 12px;
    margin: auto;
    border-radius: 2.5px;
    padding: 12px;
    max-width: 480px;
    .text-container {
      font-size: 14px;
      text-align: justify;
      .text-line {
        margin-bottom: 12px;
        .icon {
          position: absolute;
          width: 36px;
          height: 36px;
          .fas {
            font-size: 18px;
            color: $primary-icon-color;
          }
        }
        .text {
          margin-left: 36px;
          line-height: 20px;
        }
      }
    }
    .buttons {
      top: 0;
      right: 0;
      min-width: 280px;
      .form-input {
        &.button {
          float: right;
          height: 42px;
          width: 49%;
          margin: 0 auto;
          .input {
            height: 100%;
            font-size: 16px;
          }
          &.agree {
            margin-left: 2%;
          }
          &.settings {
            .input {
              background: none;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: $breakpoint-phone-large-max) {
    .text-buttons {
      top: 76px;
      bottom: 12px;
      .text-container {
        position: absolute;
        top: 12px;
        right: 12px;
        bottom: 120px;
        left: 12px;
        padding: 12px;
        border: 1px solid $primary-icon-color;
        border-radius: 2.5px;
        overflow-y: scroll;
      }
      .buttons {
        position: absolute;
        top: auto;
        right: 12px;
        left: 12px;
        bottom: 12px;
        .form-input {
          &.button {
            float: none;
            width: 100%;
            &.agree {
              margin-left: 0;
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }
}
