@import '../../../../../../../../../styles/themes';
@import '../../../../../../../../../styles/media-breakpoints';
@import '../../../../../../../../../styles/inputs/form/form';

#visitor-privacy-monit {
  position: fixed;
  z-index: 200000000;
  max-width: 360px;
  top: 56px;
  right: 6px;
  left: 6px;
  width: auto;
  height: auto;
  margin: auto;
  overflow-y: scroll;
  padding: 18px;
  @media #{$phone} {
    top: auto;
    bottom: 6px;
  }
  .text-container {
    font-size: 15px;
    text-align: justify;
    margin: 0;
    color: #5D6D7E;
    .text-line {
      .icon {
        text-align: center;
        left: 15px;
        line-height: 20px;
        color: #34495E;
        &.cookies {
          margin: 0 0 8px;
        }
        &.privacy {
          margin: 18px 0 8px;
        }
        .fas {
          color: #34495E;
        }
      }
      .text {
        line-height: 21px;
      }
      &.cookies {
        margin-bottom: 6px;
      }
    }
    u {
      cursor: pointer;
      color: #1F618D;
      &:hover {
        color: #2471A3;
      }
    }
  }
  .buttons {
    margin-top: 18px;
    position: relative;
    height: 43px;
    .form-input {
      &.button {
        &.agree {
          position: absolute;
          top: 0;
          right: 0;
          width: 160px;
          height: 42px;
          width: 50%;
        }
        &.settings {
          line-height: 42px;
          width: 50%;
          .input {
            margin: 0;
            padding: 0;
            text-align: center;
            background: none;
            color: #1F618D;
            &.hover {
              color: #2471A3;
            }
          }
        }
      }
    }
  }
}
