%css {
  .hljs-selector-tag {
    color: rgb(210, 180, 120);
    font-size: 18px;
    color: blue;
  }

  .hljs-attribute {
    color: rgb(150, 220, 250);
  }

  .hljs-number {
    color: rgb(180, 210, 170);
  }
}
