@import '../../../../../styles/themes';

#footer {
  font-size: 13px;
  margin: 0 12px;
  .inner {
    padding: 48px 0 24px;
    max-width: 1214px;
    margin: 0 auto;
    .links {
      width: 100%;
      padding-bottom: 12px;
      border-bottom: 1px solid #85929E;
      color: #5D6D7E;
      .link {
        width: 100%;
        line-height: 25px;
        display: inline-block;
        width: auto;
        margin-right: 12px;
        &.hover {
          text-decoration: underline;
        }
      }
    }
    .copyright {
      padding-top: 12px;
      line-height: 20px;
      color: #85929E;
    }
  }
}
