@import '../../../../../styles/dimensions.scss';
@import '../../../../../styles/inputs/form/text.scss';
@import '../../../../../styles/inputs/form/checkbox.scss';
@import '../components/email/styles/styles.scss';
@import '../../../../../styles/headings/h1';

#user-authorize {
  margin-bottom: 24px;
  padding-top: 96px;
  padding-bottom: 96px;
  background: #d7dbdd;
  h1 {
    @extend %h1;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
    background: white;
    border-radius: 5px;
  }
  .line {
    height: 1px;
    background: #d7dbdd;
  }
}
