@import '../../../../../styles/themes';

#visitor-contact {
  .company {
    font-weight: bold;
    margin-bottom: 8px;
  }
  .address {
    margin-bottom: 8px;
  }
  .email {
    margin-top: 48px;
  }
  @media #{$phone} {
    min-width: auto;
    width: 100%;
  }
}