@import '../../../../../styles/themes';

#visitor-contact {
  margin: 240px auto 0;
  max-width: 480px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 18px;
  @media #{$LARGE-PHONE} {
    margin: 56px 12px;
  }
  .company {
    font-weight: bold;
    margin-bottom: 8px;
  }
  .address {
    margin-bottom: 8px;
  }
  .email {
    margin-top: 32px;
  }
  h2 {
    margin: 0 0 18px;
  }
}
