@import '../../../../../styles/themes';

#visitor-contact {
  @extend %narrow-container;
  .page-header {
    @extend %page-header;
  }
  .company {
    font-weight: bold;
    margin-bottom: 8px;
  }
  .address {
    margin-bottom: 8px;
  }
  .email {
    margin-top: 48px;
  }
}