@import '../../../../../../../styles/themes.scss';

%google-map {
  position: relative;
  height: 620px;
  @media #{$LARGE-TABLET} {
    .gm-bundled-control {
      display: none;
    }
  }
  padding-left: 360px;
  @media #{$LARGE-TABLET} {
    padding-left: 0;
    height: 768px;
  }
  #google-map {
    height: 100%;
  }
}
  