@import '../../../../../../../styles/themes.scss';

%google-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 640px;
  @media #{$LARGE-TABLET} {
    .gm-bundled-control {
      display: none;
    }
    padding-left: 0;
    height: 768px;
  }
  #google-map {
    height: 100%;
  }
}
