@import '../../../../../../../../../shared/app/styles/hidden-scrollbar';
@import '../../../../common/tile/styles/tile';

#mini-list {
  @extend %hidden-scrollbar;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 640px;
  padding: 16px;
  @media #{$LARGE-TABLET} {
    overflow-x: scroll;
    position: relative;
    width: 100%;
    white-space: nowrap;
    padding-right: 0;
  }
  background: #e5e7e9;

  > h2 {
    font-size: 18px;
    margin-bottom: 24px;
    text-align: center;
    color: #424949;
  }

  .announcement-list-tile {
    @extend %tile;
    position: relative;
    padding-bottom: 0;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 16px;
    vertical-align: top;
    height: 230.4px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    @media #{$LARGE-TABLET} {
      margin-bottom: 0;
    }
    cursor: pointer;
    .root-list-img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 360px;
    }
    .data {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 360px;
    }
    a {
      display: block;
      margin: 0;
      padding: 0;
    }
    img {
      display: block;
      margin: 0;
      padding: 0;
    }
    .primary-data {
      padding: 0 12px;
      margin: 0;
      .column {
        display: block;
        float: none;
      }
      .area,
      .rent-container {
        font-size: 22px;
      }
      .area {
        font-size: 22px;
        margin-bottom: 14px;
      }
    }
    @media #{$LARGE-TABLET} {
      display: inline-block;
      width: 320px;
      height: 302px;
      margin-right: 18px;
      margin-bottom: 0;
      &:last-of-type {
        margin-right: 12px;
      }
      .root-list-img {
        position: relative;
        width: 100%;
      }
      .data {
        position: relative;
        left: 0;
      }
    }
    &.promoted {
      background: #FEF5E7;
    }
  }
}
