@import '../../../../../../../../../shared/app/styles/hidden-scrollbar';
@import '../../../../common/tile/styles/tile';

#mini-list {
  @extend %hidden-scrollbar;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 640px;
  padding: 12px;
  @media #{$LARGE-TABLET} {
    overflow-x: scroll;
    position: relative;
    width: 100%;
    white-space: nowrap;
    padding-right: 0;
  }
  background: #D7DBDD;

  .announcement-list-tile {
    @extend %tile;
    position: relative;
    padding-bottom: 0;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 18px;
    vertical-align: top;
    height: 230.4px;
    @media #{$LARGE-TABLET} {
      margin-bottom: 0;
    }
    cursor: pointer;
    .root-list-img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 360px;
    }
    .data {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 360px;
    }
    a {
      display: block;
      margin: 0;
      padding: 0;
    }
    img {
      display: block;
      margin: 0;
      padding: 0;
    }
    h1 {
      margin-bottom: 14px;
      padding: 12px;
      padding-bottom: 0;
      .name {
        font-size: 15px;
      }
      .category {
        font-size: 15px;
      }
      .for-lease {
        font-size: 9px;
      }
      .locality-sublocality {
        font-size: 12px;
      }
    }
    .primary-data {
      padding: 0 12px;
      margin: 0;
      .column {
        display: block;
        float: none;
      }
      .area, .rent-container {
        font-size: 22px;
      }
      .area {
        font-size: 22px;
        margin-bottom: 14px;
      }
    }
    @media #{$LARGE-TABLET} {
      display: inline-block;
      width: 320px;
      height: 302px;
      margin-right: 18px;
      margin-bottom: 0;
      &:last-of-type {
        margin-right: 12px;
      }
    }
  }
}