@import '../../../../../styles/pin';

%map-pin {
  @extend %pin;
  &.hovered,
  &.current {
    z-index: 2;
    animation: pulse 1s infinite;
  }
  &:hover {
    z-index: 2;
    transform: scale(2) translate(-9px, -9px);
    transition: transform 0.24s ease-in;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1) translate(-18px, -18px);
  }
  50% {
    transform: scale(2) translate(-9px, -9px);
  }
  100% {
    transform: scale(1) translate(-18px, -18px);
  }
}
