@import '../../../../../styles/pin.scss';

%map-pin {
  @extend %pin;
  width: 36px;
  height: 36px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  transform: translate(-16px, -16px);
  &:hover {
    z-index: 2;
    transform: scale(1.5) translate(-12px, -12px);
    transition: all .24s ease-in;
  }

  &.focused {
    z-index: 2;
    animation: pulse 1s infinite;
  }

  border-radius: 5px;

  padding-top: 3px;
  svg {
    max-height: 18px;
  }
}

@keyframes pulse {
	0% {
		transform: scale(1) translate(-16px, -16px);
	}
  50% {
		transform: scale(2) translate(-8px, -8px);
  }
	100% {
		transform: scale(1) translate(-16px, -16px);
  }
}
