@import '../../../../common/tile/styles/tile';

#announcement-index-map {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  .listing-tile-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 420px;
    text-align: left;
    margin: 0;
    z-index: 99999;
    height: 700px;
    background: rgb(253, 254, 254);
    padding-right: 15px;
    .listing-tile {
      @extend %tile;
    }
    @media #{$LARGE-TABLET} {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      .listing-tile {
        position: absolute;
        top: 12px;
        right: 12px;
        bottom: 12px;
        left: 12px;
        height: auto;
        border-radius: 5px;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0px 3px 8px 3px rgba(0, 0, 0, 0.14),
                    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        padding-bottom: 0;
        background-color: white;
        h1 {
          padding: 0 18px;
        }
        #showcase {
          padding: 0 18px;
        }
        .go-to-link {
          padding: 0 18px;
        }
        .go-back-to-list {
          margin: 18px 18px 18px auto;
        }
      }
    }
  }
}
