@import '../../../../common/tile/styles/tile';
@import '../../../../../../../../../shared/app/styles/hidden-scrollbar';

#listing-index-map {
  position: relative;
  border-radius: 3px;
  .listing-tile-container {
    @extend %hidden-scrollbar;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 640px;
    text-align: left;
    margin: 0;
    background: #d7dbdd;
    padding: 12px;
    .listing-tile {
      @extend %tile;
      background: white;
      border-radius: 6px;
      padding-top: 12px;
      .go-back-to-list {
        margin: 0 12px 12px auto;
      }
      h1 {
        padding: 0 12px;
      }
      #showcase {
        padding: 0 12px;
      }
      .primary-data {
        padding: 0 12px;
      }
      .features {
        padding: 0 12px 12px;
      }
      .description {
        padding: 0 12px 12px;
        margin-bottom: 0 !important;
      }
    }
    @media #{$LARGE-TABLET} {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 12px;
      background: rgba(0, 0, 0, 0.5);
      .listing-tile {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 3px 8px 3px rgba(0, 0, 0, 0.14),
          0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        .go-back-to-list {
          margin: 18px 18px 18px auto;
        }
        h1 {
          padding: 0 18px;
        }
        #showcase {
          padding: 0 18px;
        }
        .go-to-link {
          padding: 0 18px;
        }
        .primary-data {
          padding: 0 18px;
        }
        .features {
          padding: 0 18px 12px;
        }
        .description {
          padding: 0 18px 12px;
        }
      }
    }
  }
}
