@import '../../../../../../../styles/themes.scss';
@import '../../../../../../../styles/media-breakpoints';
@import './google-map';
@import './pin';
@import './tile.scss';
@import './mini_list.scss';

#announcement-index-map {
  position: absolute;
  top: 106px;
  right: 0;
  bottom: 0;
  left: 0;
  #google-map-container {
    @extend %google-map;
    .pin {
      @extend %map-pin;
    }
  }
  @media #{$SMALL-TABLET} {
    margin: 0;
    border-radius: 0;
  }
}
