@import '../../../../../../../styles/themes.scss';
@import '../../../../../../../styles/media-breakpoints';
@import './google-map';
@import './pin';
@import './tile.scss';
@import './mini_list.scss';

#listing-index-map {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  #google-map-container {
    @extend %google-map;
    .pin {
      @extend %map-pin;
    }
  }
  @media #{$LARGE-TABLET} {
    position: relative;
    top: 0;
  }
  h1 {
    margin: 6px 0 18px 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 13px;
    color: #4d5656;
    font-weight: normal;
    text-transform: uppercase;
  }
}
