@import '../../../../../../../styles/themes.scss';
@import '../../../../../../../styles/media-breakpoints';
@import './google-map';
@import './pin';
@import './tile.scss';
@import './mini_list.scss';

#announcement-index-map {
  margin: 0 20px;
  #google-map-container {
    @extend %google-map;
    .pin {
      @extend %map-pin;
    }
  }
  &.hidden {
    opacity: 0;
  }
  transition: 0.16s ease-in;
  @media #{$SMALL-TABLET} {
    margin: 0;
    border-radius: 0;
  }
}
