%breadcrumbs {
  margin-left: 0;
  margin-bottom: 12px;
  list-style-type: none;
  li {
    display: inline-block;
    margin-right: 12px;
  }
  .link {
    display: inline-block;
    margin-right: 12px;
    text-decoration: underline;
    svg {
      transform: none;
    }
  }
  svg {
    height: 12px;
    transform: rotate(180deg);
  }
  @media #{$LARGE-PHONE} {
    padding: 12px 12px 0;
  }
}
