@import '../../../../../../../styles/colors';

#visitor-page-index {
  padding: 32px 0;
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
  > h2 {
    color: $PRIMARY-GREEN-COLOR;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    margin-bottom: 32px;
    font-size: 22px;
  }
  .link {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 19%;
    float: left;
    margin-right: 1.25%;
    border-radius: 4px;
    &:nth-of-type(5n) {
      margin-right: 0;
    }
    line-height: 72px;
    height: 72px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    font-weight: normal;
    font-family: 'IBM Plex Mono', monospace;
  }
}
