@import '../../../../../../../styles/colors';
@import '../../../../../../../../../shared/app/styles/media-breakpoints';

#visitor-page-index {
  padding: 32px 0;
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
  a {
    text-decoration: none;
  }

  .skills, .articles {
    > h2 {
      color: #F2F3F4;
      font-family: 'IBM Plex Mono', monospace;
      margin-bottom: 18px;
      font-size: 22px;
      line-height: 36px;
      @media #{$LARGE-PHONE} {
        margin: 0 18px 18px;
      }
    }
    @media #{$LARGE-TABLET} {
      padding: 0 18px;
    }
  }
  .articles {
    margin-top: 32px;
  }

  .container {
    @media #{$LARGE-TABLET} {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
  }

  .skill {
    flex: 0 0 auto;
    position: relative;
    background: white;
    float: left;
    width: 23.75%;
    margin-right: 1.66%;
    border-radius: 4px;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    height: 256px;
    line-height: 1.5;
    margin-bottom: 1.66%;
    @media #{$LARGE-TABLET} {
      float: none;
      vertical-align: middle;
      display: inline-block;
      width: 200px;
      margin-right: 18px;
      &:nth-of-type(4n) {
        margin-right: 18px;
      }
    }

    .title {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      font-family: 'IBM Plex Mono', monospace;
      text-decoration: none!important;
      padding: 24px 0;
      height: 96px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .description {
      padding: 0 18px;
      font-size: 14px;
      font-style: italic;
    }
  }



  .article {
    float: left;
    width: 23.75%;
    margin-right: 1.66%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-weight: normal;
    font-family: 'IBM Plex Mono', monospace;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
    img {
      display: block;
      width: 100%;
      margin-bottom: 8px;
    }
    @media #{$MEDIUM-PC} {
      width: 32%;
      margin-right: 1.33%;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
    @media #{$LARGE-TABLET} {
      width: 48%;
      margin-right: 4%;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    @media #{$LARGE-PHONE} {
      width: 100%;
      float: none;
    }
  }
}
