@import '../../../../../../../styles/colors';
@import '../../../../../../../../../shared/app/styles/media-breakpoints';
@import '../../../../../../../../../shared/app/components/support/splide/styles/styles.scss';

#visitor-page-index {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  .skills,
  .articles {
    margin: 128px 64px;
    > h2 {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 22px;
      line-height: 36px;
      margin-bottom: 24px;
    }
    .splide__arrow {
      scale: 1.5;
      &--prev {
        left: -64px;
        transform-origin: left;
      }
      &--next {
        right: -64px;
        transform-origin: right;
      }
    }
  }
  .skills {
    @extend %splide;
    .splide__list {
      li {
        box-sizing: content-box;
        margin-right: 2rem;
        width: calc(25% - 1.5rem) !important;
      }
    }
    // @media #{$LARGE-PHONE} {
    //   .splide__list {
    //     li {
    //       box-sizing: content-box;
    //       margin-right: 1.5rem;
    //       width: calc(50% - 0.75rem) !important;
    //     }
    //   }
    // }
    .skill {
      position: relative;
      background: white;
      overflow: hidden;
      line-height: 1.5;
      border: 1px solid $LIGHT_THEME_CONTAINER_BORDER_COLOR;
      border-radius: 12px;
      a {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .image {
        background: lightgray;
        aspect-ratio: 1;
      }
      .title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        font-family: 'IBM Plex Mono', monospace;
        padding: 24px 12px;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .description {
        padding: 0 18px;
        font-size: 14px;
        font-style: italic;
        line-height: 1.4;
        height: 112px;
        overflow: hidden;
      }
    }
  }
  .articles {
    @extend %splide;
    .splide__list {
      li {
        box-sizing: content-box;
        margin-right: 24px;
        width: calc(33% - 48px) !important;
      }
    }
    .article {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      font-weight: normal;
      font-family: 'IBM Plex Mono', monospace;
      border-radius: 12px;
      overflow: hidden;
      border: 1px solid $LIGHT_THEME_CONTAINER_BORDER_COLOR;
      a {
        width: 100%;
        .cover {
          display: block;
          width: 100%;
          @media #{$LARGE-PHONE} {
            height: 220px;
          }
          img {
            margin-left: 50%;
            transform: translateX(-50%);
            width: 100%;
            aspect-ratio: 16/9;
            @media #{$LARGE-PHONE} {
              height: 240px;
            }
          }
        }
        .title {
          font-size: 18px;
          background: white;
          padding: 20px;
          height: 88px;
        }
      }
    }
  }
}
