@import '../../../../../../../styles/media-breakpoints';

#jumbotron {
  display: block;
  .inner {
    position: relative;
    height: 514px;
    display: block;
    .picture {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(44, 62, 80, 0.16);
      background-position: center -100px; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      border-radius: 4px;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0px 3px 8px 3px rgba(0, 0, 0, 0.14),
                  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  }

  @media only screen and (max-width: $breakpoint-phone-large-max) {
    .inner {
      height: 400px;
      .picture  {
        background-position: center -60px;
        background-size: auto 460px;
      }
    }
  }
}