@import '../../../../../../../styles/media-breakpoints';

%full-tile {
  $width: 536px;
  width: $width;
  margin: 120px auto 36px;
  padding: 0;
  @media only screen and (max-width: 744px) {
    width: 456px;
    padding: 0;
  }
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    width: 100%;
    padding: 0;
  }
  .picture {
    width: $width;
    height: 0;
    background-size: ($width * 1.17777) auto;
    padding-bottom: ($width / 1.7777);
    @media only screen and (max-width: 744px) {
      $width: 100%;
      width: $width;
      background-size: ($width * 1.7777) auto;
      padding-bottom: ($width / 1.7777);
    }
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      $width: 100%;
      width: $width;
      background-size: ($width * 1.3333) auto;
      padding-bottom: ($width / 1.3333);
      background-position: center;
    }
  }
}
