@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/media-breakpoints.scss';
@import './tile.scss';

#announcement-index-catalogue {
  position: relative;
  .announcements {
    min-height: 640px;
    margin: 0 auto;
    padding-top: 36px;
    width: 520px;
    @media #{$LARGE-PC} {
      width: 800px;
    }
    @media only screen and (max-width: 688px) {
      width: 100%;
      padding: 20px;
    }
    @media #{$LARGE-PHONE} {
      padding: 15px;
    }
  }
}
