@import '../../../../../../../shared/app/styles/media-breakpoints';
@import '../../../../../styles/themes';
@import '../../../../../styles/dimensions';
@import '../components/email/components/form/styles/styles';
@import '../components/email/styles/styles';
@import '../../../../../styles/inputs/form/checkbox';
@import '../../../../../styles/line';

#user-create {
  display: flex;
  align-items: center;
  min-height: 640px;
  background: $BACKGROUND-LIGHT-GRAYISH-COLOR;
  padding: 18px;
}
