#logo {
  position: relative;
  height: 50px;
  color: rgb(210, 210, 210);
}

#logo img {
  width: 28px;
  height: 28px;
  position: absolute;
  border: none;
  top: 11px;
}

#logo .text {
  padding-left: 36px;
  margin-top: 0;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: rgb(50, 50, 50)
}
