#logo {
  position: relative;
  height: 60px;
}

#logo .text {
  font-size: 24px;
  line-height: 60px;
  font-family: 'Cairo', sans-serif;
}

#logo .icon {
  position: absolute;
  top: -7px;
  right: -28px;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 30px;
}

#logo .icon .horizontal {
  width: 23px;
  height: 8px;
  margin-top: 12px;
  border-top: .09em solid white;
  border-bottom: .09em solid white;
  transform: skew(-15deg, 0deg);
}

#logo .icon .vertical {
  position: absolute;
  top: 0;
  width: 11px;
  height: 25px;
  margin-top: 6px;
  margin-left: 5px;
  border-right: .09em solid white;
  border-left: .09em solid white;
  transform: skew(-15deg, 0deg);
}

#logo .icon .vertical .one {
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: -2px;
  left: .01em;
  border-radius: 5px;
  background: white;
  transform: skew(-10deg, 0deg) translate(-100%, 0);
}

#logo .icon .vertical .two {
  position: absolute;
  width: 5px;
  height: 5px;
  right: -.1em;
  bottom: -2px;
  border-radius: 5px;
  background: white;
  transform: skew(-10deg, 0deg);
}

#logo-image {
  position: relative;
  width: 100%;
  height: 630px;
  padding-top: 180px;
  background: #17202A;
}

#logo-image .icon {
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#logo-image .icon .horizontal {
  position: absolute;
  width: 230px;
  height: 80px;
  top: 70px;
  border-top: .9em solid #F7F9F9;
  border-bottom: .9em solid #F7F9F9;
  transform: skew(-15deg, 0deg);
}

#logo-image .icon .vertical {
  position: absolute;
  top: 0;
  width: 110px;
  height: 250px;
  margin-left: 60px;
  border-right: .9em solid #F7F9F9;
  border-left: .9em solid #F7F9F9;
  transform: skew(-15deg, 0deg);
}

#logo-image .icon .vertical .one {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: -20px;
  left: .1em;
  border-radius: 50px;
  background: #F7F9F9;
  transform: skew(-10deg, 0deg) translate(-100%, 0);
}

#logo-image .icon .vertical .two {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -1em;
  bottom: -20px;
  border-radius: 50px;
  background: #F7F9F9;
  transform: skew(-10deg, 0deg);
}
