%go-back-to-list {
  transform: rotate(180deg);
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: none;
  border: 1px solid #979A9A;
  transition: border-color .15s ease-in;
  background: white;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 99999;
  svg {
    width: 18px;
    fill: #979A9A;
    transform: translate(0, 1px);
    transition: fill .15s ease-in;
  }
  &:hover {
    border-color: #626567;
    svg {
      fill: #626567;
    }
  }
}
