
.announcement-tile {
  .header-container {
    h1 {
      position: relative;
      .header-row {
        &.category {
          color: $TEXT-HEADER-TIER-ONE-COLOR;
        }
        &.district {
          font-weight: normal;
          color: #566573;
        }
      }
      .area {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        color: #21618C;
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        .m, .sq {
          float: left;
        }
        .sq {
          margin-left: 2px;
          font-size: 10px;
        }
      }
    }
  }
}