@import '../../../../../../../styles/themes.scss';

#announcement-show-map {
  #google-map-container {
    $width: 100%;
    width: $width;
    height: 0;
    padding-bottom: ($width / 1.7777);
    #google-map {
      padding-bottom: ($width / 1.7777);
      border-bottom-left-radius: 2.5px;
      border-bottom-right-radius: 2.5px;
    }
    @media only screen and (max-width: $breakpoint-tablet-small-max) {
      $width: 100%;
      width: $width;
      height: 0;
      padding-bottom: ($width / 1.3333);
      #google-map {
        padding-bottom: ($width / 1.3333)
      }
    }
  }
}
