@import '../../../../../../../styles/themes.scss';

#announcement-show-map {
  margin-top: 36px;
  #google-map-container {
    width: 800px;
    height: 450px;
    #google-map {
      width: 100%;
      height: 100%;
    }
    @media only screen and (min-width: $breakpoint-tablet-large-min) and (max-width: $breakpoint-tablet-large-max) {
      $width: 100%;
      width: $width;
      height: 0;
      padding-bottom: ($width / 1.7777);
      #google-map {
        padding-bottom: ($width / 1.7777)
      }
    }
    @media only screen and (max-width: $breakpoint-tablet-small-max) {
      $width: 100%;
      width: $width;
      height: 0;
      padding-bottom: ($width / 1.3333);
      #google-map {
        padding-bottom: ($width / 1.3333)
      }
    }
  }
}
