@import '../../../../../../../../../shared/app/styles/hidden-scrollbar';
@import '../../../../support/heading/styles/styles.scss';
@import './h2';
@import './lister_phone';
@import './go-to-link';
@import './pictures';
@import './primary-data';
@import './features';
@import './description';
@import './map';
@import '../../../../../styles/themes';

%tile {
  background: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding-bottom: 24px;
  &.promoted {
    background: $PROMOTED_COLOR;
  }
  h1 {
    @extend %heading;
    padding: 24px 24px 0;
  }
  h2 {
    @extend %heading;
    @extend %h2;
  }
  .lister-phone {
    @extend %lister-phone;
    padding: 24px 24px 0;
  }
  .go-to-link {
    @extend %go-to-link;
  }
  .secondary {
    padding: 24px 24px 0;
    .item {
      position: relative;
      margin-bottom: 12px;
      font-size: 18px !important;
      color: #424949;
      padding-left: 32px;
    }
    svg {
      position: absolute;
      top: 0px;
      left: 2px;
      height: 17px;
      fill: #626567;
    }
  }
  .primary-data {
    @extend %primary-data;
    padding: 24px 24px 0;
    margin: 0;
  }
  .features {
    @extend %features;
    padding: 24px 24px 0;
    margin: 0;
  }
  .description {
    @extend %description;
    padding: 24px 24px 0;
    margin: 0;
  }
}
