@import './editorial';
@import './table-of-contents';

$padding-desktop: 36px;
$padding-mobile: 18px;
$horizontal-margin-mobile: 18px;

%article {
  max-width: 704px;
  margin: 36px auto;
  line-height: 1.75;
  color: rgb(32, 32, 32);
  overflow: hidden;
  h1 {
    margin-bottom: 18px;
    font-size: 36px;
  }
  .editorial {
    @extend %editorial;
  }
  .table-of-contents {
    @extend %table-of-contents;
    h2 {
      margin-top: 0;
    }
    // background: rgb(242, 242, 242);
    // border-radius: 3px;
  }
  h2 {
    margin-top: 36px;
  }
  p {
    margin: 0 0 12px;
    a {
      display: inline;
      color: rgb(42, 96, 152);
      &:hover {
        color: rgb(186, 42, 24);
      }
    }
    @media #{$LARGE-PHONE} {
      margin: 0 $horizontal-margin-mobile 12px;
    }
  }
  p + ul {
    margin-top: -9px;
  }
  ul {
    margin-bottom: 12px;
    margin-left: 18px;
    li {
      p {
        margin: 0;
        padding: 0;
      }
    }
    @media #{$LARGE-PHONE} {
      margin: 0 36px 18px;
    }
  }
  > img {
    width: 100%;
    @media #{$LARGE-PHONE} {
      padding: 0 18px;
    }
  }
  header {
    img {
      margin-bottom: 18px;
    }
  }
  @media #{$LARGE-PHONE} {
    margin: 0 auto 36px;
    box-shadow: none;
  }
}
