@import './table-of-contents';
@import '../../../../../../shared/app/components/page/styles/breadcrumbs.scss';

$DESKTOP-MARGIN: 0;
$MOBILE-MARGIN: 24px;
$PRE-MARGIN: 18px;

%standard-margins {
  margin: $PRE-MARGIN $DESKTOP-MARGIN 0;
  @media #{$LARGE-PHONE} {
    margin: $PRE-MARGIN $MOBILE-MARGIN 0;
  }
}

%article {
  max-width: 768px;
  margin: 0 auto 0;
  background: none;
  overflow: hidden;
  line-height: 26px;
  font-size: 16px;
  color: rgb(42, 42, 42);
  @media #{$LARGE-PHONE} {
    margin: 0 auto 32px;
    padding: 0;
  }
  h1 {
    @extend %standard-margins;
    line-height: 41.25px;
    font-size: 32px;
    @media #{$LARGE-PHONE} {
      font-size: 28px;
    }
  }
  .author {
    @extend %standard-margins;
    position: relative;
    margin-top: 12px;
    padding-left: 22px;
    line-height: 16px;
    font-size: 15px;
    svg {
      position: absolute;
      top: 2px;
      left: 0;
      height: 13px;
    }
  }
  .table-of-contents {
    @extend %table-of-contents;
    margin: 32px $DESKTOP-MARGIN;
    @media #{$LARGE-PHONE} {
      margin: 32px $MOBILE-MARGIN;
    }
  }
  > section {
    margin-top: 64px;
    > section {
      margin-top: 48px;
    }
  }
  h2 {
    font-size: 24px;
    @extend %standard-margins;
    margin-top: 0;
  }
  h3 {
    font-size: 22px;
    @extend %standard-margins;
    margin-top: 0;
  }
  p + h2,
  ul + h2,
  pre + h2,
  h3 {
    margin-top: 36px;
    margin-bottom: 16px;
    line-height: 24px;
    font-size: 18px;
  }
  h2 + section {
    margin-top: -18px;
  }
  p {
    @extend %standard-margins;
    a {
      display: inline;
      color: #3498db;
      text-decoration: underline;
      &:hover {
        color: rgb(186, 42, 24);
      }
    }
  }
  p + ul {
    margin-top: 0;
  }
  .editorial {
    margin-top: 36px;
  }
  .editorial + ul {
    margin-top: 0;
  }
  ul {
    margin: 0 16px;
    @media #{$LARGE-PHONE} {
      margin: 0 42px 16px;
    }
    li {
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  img {
    margin: 0;
    margin-top: 18px;
  }
  header {
    > img {
      width: 100%;
      padding: 0;
      margin-bottom: 0;
    }
  }
  .breadcrumbs {
    @extend %breadcrumbs;
  }
}
