@import '../../../../styles/colors';

%table-of-contents {
  margin-top: 36px;
  margin-bottom: 36px;
  .inner-container {
    display: inline-block;
    width: auto;
    line-height: 1.25;
    color: $PRIMARY-BLUE-COLOR;
    border-radius: 8px;
    @media #{$LARGE-PHONE} {
      width: 100%;
    }
  }
  h2 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 12px;
    color: $PRIMARY-BLUE-COLOR;
    border-bottom: 2px solid $PRIMARY-BLUE-COLOR;
    padding-bottom: 8px;
    @media #{$LARGE-PHONE} {
      margin: 0 0 16px;
    }
  }
  a {
    font-size: 15px;
    text-decoration: underline;
    margin-bottom: 6px;
    &:hover {
      color: rgb(186, 42, 24);
    }
    @media #{$LARGE-PHONE} {
      margin-bottom: 8px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      position: relative;
      margin-bottom: 2px;
      line-height: 22px;
      ul {
        margin-bottom: 8px;
        margin-left: 18px;
        list-style-type: disc;
        li {
          margin-bottom: 0;
        }
      }
    }
  }
}
