@import '../../../../../styles/container';
@import '../../../../../styles/headings/h1';
@import '../../../../../styles/line';

#user-edit {
  margin-bottom: 24px;
  padding-top: 96px;
  padding-bottom: 96px;
  .container {
    @extend %container;
    padding: 32px;
  }
  h1 {
    @extend %h1;
    margin-bottom: 24px;
  }
  .line {
    @extend %line;
    margin-bottom: 24px;
  }
  .user-deletion {
    .trigger {
      color: red;
    }
  }
}
