@import '../../../../../styles/container';
@import '../../../../../styles/headings/h1';
@import '../../../../../styles/inputs/text';
@import '../../../../../styles/inputs/button.scss';
@import '../../new/components/email/components/form/styles/country-code-phone-number-container';
@import '../../../../../styles/line';

#user-edit {
  margin-bottom: 24px;
  padding-top: 96px;
  padding-bottom: 96px;
  @extend %country-code-phone-number-container;
  .container {
    @extend %container;
    padding: 32px;
  }
  h1 {
    @extend %h1;
    margin-bottom: 24px;
  }
  .line {
    @extend %line;
    margin-bottom: 24px;
  }
  .text-input {
    @extend %text-input;
  }
  .explanation {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
    color: #4d5656;
  }
  .user-delete {
    .trigger {
      color: red;
    }
  }
  .submit-button {
    @extend %button;
  }
  .country-code-and-phone-number {
    .country-code-and-phone-number-container {
      position: relative;
    }
  }
}
