.skill {
  position: relative;
  .name {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .levels {
    display: inline-block;
  }
  .level {
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    border-radius: 100%;
    background: lightgray;
    cursor: pointer;
    &.novice {
      background: #f9e79f;
    }
    &.junior {
      background: #27ae60;
    }
    &.mid {
      background: #2874a6;
    }
    &.senior {
      background: #e74c3c;
    }
    &.expert {
      background: #6c3483;
    }
  }
  .level-name {
    margin-top: 4px;
    font-size: 13px;
    color: gray;
    display: none;
  }
}
