.skill {
  position: relative;
  .levels {
    .level {
      float: left;
      border-radius: 100%;
      background: lightgray;
      cursor: pointer;
      &.junior {
        background: #27AE60;
      }
      &.mid {
        background: #3498DB;
      }
      &.senior {
        background: #F39C12;
      }
      &.expert {
        background: #E74C3C;
      }
    }
    .level-name {
      display: block;
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 2;
      width: auto;
      height: 25px;
      background: black;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      border-radius: 4px;
      padding: 0 8px;
      text-align: center;
      line-height: 25px;
      font-size: 14px;
      color: white;
    }
  }
}
