%button {
  position: relative;
  height: 40px;
  margin-top: 40px;
  button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background: #1b2631;
    font-size: 13px;
    color: white;
    transition: background-color 0.1s ease-in;
    &:hover {
      background: #424949;
    }
    &:disabled {
      background: #626567;
      cursor: not-allowed;
    }
  }
  .button-spinner {
    position: absolute;
    left: -52px;
    top: -52px;
  }
}
