@import '../colors';

%text-input {
  position: relative;
  margin-top: 22px;
  .label,
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(64, 64, 64);
    .required,
    .optional {
      height: 6px;
      margin-left: 4px;
      position: relative;
      top: -5px;
      fill: #c0392b;
    }
    .optional {
      fill: #2e86c1;
    }
  }
  .input,
  input {
    width: 100%;
    height: 40px;
    border: 1px solid #424949;
    border-radius: 3px;
    padding: 0 12px;
    font-size: 16px;
    background: #f8f9f9;
    &:focus {
      border: 1px solid #1b2631;
      outline: 1px solid #1b2631;
    }
  }
  .error-container,
  div:last-of-type.error {
    margin-top: 6px;
    font-size: 14px;
    color: $ERROR-COLOR;
  }
  &.error {
    input {
      background: $ERROR-BACKGROUND-COLOR;
      border: 1px solid $ERROR-COLOR;
      outline: 1px solid $ERROR-COLOR;
    }
  }
}
