@import '../../../../../../../../../shared/app/styles/media-breakpoints';

#listing-new-form {
  .pictures {
    position: relative;
    .drag-and-drop-container {
      height: 100px;
    }
    .drag-and-drop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      text-align: center;
      padding-top: 26px;
      input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
      }
      cursor: pointer !important;
      svg {
        height: 48px;
        width: 48px;
        vertical-align: middle;
        cursor: pointer !important;
      }
      &:hover {
        svg {
          fill: gray;
          cursor: pointer !important;
        }
      }
    }
    .instructions {
      font-size: 16px;
      height: 100px;
      padding-left: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .blobs {
      margin-top: 24px;
      margin-bottom: 48px;
      text-align: center;
      .picture {
        float: left;
        position: relative;
        width: 50%;
        padding-right: 60px;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
        .buttons {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 20px;
          width: 40px;
          .button {
            height: 40px;
            width: 40px;
            &.delete {
              svg {
                width: 14px;
                fill: red;
              }
            }
            &.up {
              svg {
                width: 10px;
                transform: rotate(90deg);
              }
            }
            &.down {
              svg {
                width: 10px;
                transform: rotate(-90deg);
              }
            }
            &.rotate {
              margin-top: 4px;
              svg {
                width: 14px;
              }
            }
          }
        }
        @media #{$LARGE-PHONE} {
          // margin-right: 0;
          float: none;
          width: 100%;
        }
      }
    }
  }
}
