@import '../../../../../../../../../styles/themes.scss';

#user-edit-account-password {
  .monit {
    text-align: justify;
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 25px;
  }
  .form-input {
    &.button {
      position: relative;
      width: 50%;
      margin-left: auto;
    }
  }
  h1 {
    font-size: 18px;
    color: #566573;
  }
  
.close-button {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    box-shadow: none;
    &:hover {
      color: #C0392B;
    }
  }
}