@import '../../../../../../../../../styles/themes.scss';
@import '../../../../../../../../../styles/inputs/form/text.scss';
@import '../../../../../../../../../styles/inputs/form/svgs.scss';
@import '../../../../../../../../../styles/inputs//form//button.scss';

#user-edit-account-password {
  &.full {
    max-width: 640px;
    margin: 96px auto;
    padding: 50px;
    border-radius: 4px;
    border: 1px solid lightgray;
    @media #{$phone} {
      margin: 58px 12px;
    }
  }
  .monit-and-text-inputs {
    max-width: 360px;
  }
  .monit {
    text-align: justify;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .separation-line {
    margin: 24px 0;
  }
  .form-input {
    &.button {
      margin: 0 auto;
      .very-small-windmill-spinner {
        top: -54px;
        left: -49px;
        div:after {
          background: gray;
        }
      }
    }
  }
}
