@import '../../../../../../../../../styles/themes.scss';

#user-reset-password {
  @extend %narrow-container;
  padding: 48px;
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    padding: 12px;
  }
  .page-header {
    @extend %page-header;
  }
  .inputs {
    max-width: 360px;
    width: 100%;
  }
  .monit {
    text-align: justify;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  .button {
    height: 36px;
    .input {
      @extend %blue-button;
      display: block;
      width: 180px;
      height: 36px;
      margin-left: auto;
      margin-right: 0;
    }
  }
}