@import '../../../../../styles/dimensions.scss';
@import '../../../../../styles/inputs/form/text.scss';
@import '../../../../../styles/inputs/form/checkbox.scss';
@import '../components/email-password/styles/styles.scss';
@import '../../../../../styles/box_shadows.scss';

#user-authorize {
  margin: 50px auto 150px;
  max-width: 600px;
  box-shadow: $BOX_SHADOW_CONTAINER_DEFAULT;
  padding: $FORM-PADDING-PC;
  border-radius: 4px;
  background: white;
  @media #{$LARGE-PHONE} {
    margin: 0 auto;
    border: none;
    padding: $FORM-PADDING-PHONE;
  }
  .page-header {
    .icon {
      padding-top: 4px;
      width: 23px;
    }
  }
}
