@import '../../../../../styles/dimensions.scss';
@import '../../../../../styles/inputs/form/text.scss';
@import '../../../../../styles/inputs/form/checkbox.scss';
@import '../components/email-password/styles/styles.scss';
@import '../../../../../styles/box_shadows.scss';

#user-authorize {
  margin: 100px auto 150px;
  max-width: 600px;
  border: 1px solid $CONTAINER-BORDER-COLOR;
  padding: $FORM-PADDING-PC;
  border-radius: 4px;
  background: white;
  @media #{$LARGE-PHONE} {
    margin: 0 auto;
    border: none;
    padding: $FORM-PADDING-PHONE;
  }
  .page-header {
    h1 {
      padding: 0;
      font-size: 18px;
    }
  }
}
