@import '../../../../../styles/dimensions.scss';
@import '../../../../../styles/inputs/form/text.scss';
@import '../../../../../styles/inputs/form/checkbox.scss';
@import '../components/email-password/styles/styles.scss';

#user-authorize {
  margin: 120px auto;
  max-width: 600px;
  border: 1px solid #D0D3D4;
  padding: $FORM-PADDING-PC;
  background: white;
  @media #{$LARGE-PHONE} {
    margin: 0 auto;
    border: none;
    padding: $FORM-PADDING-PHONE;
  }
  .page-header {
    .icon {
      padding-top: 4px;
      width: 23px;
    }
  }
}
