.countryCodeAndPhoneNumberContainer {
  position: relative;
  border: none;
  height: 78px;
  margin-top: 12px;
}

.countryCode {
  margin-top: 24px;
}

.phoneNumber {
  position: absolute;
  top: 0;
  left: 60px;
  width: calc(100% - 60px);
}

.phoneNumberLabel {
  position: relative;
  left: -60px;
  margin: 0;
  height: 24px;
}

.phoneNumberError {
  position: relative;
  left: -60px;
  /* margin: 0;
  height: 24px; */
}
