#logo {
  float: left;
  font-family: 'Nova Slim', cursive;
  color: #1B2631;
}

#logo div:nth-child(2) {
  float: left;
  margin-top: 19px;
  margin-right: 7px;
  border-radius: 50% 50% 50% 0;
  border: 3px solid #1B2631;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}

#logo div:nth-child(3) {
  float: left;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
}

#logo div:nth-child(2)::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  background-color: #2874A6;
}

#logo div:nth-child(3) span {
  margin: 0;
  padding: 0;
}

#logo div:nth-child(3) span:nth-child(2) {
  color: #2874A6;
}

#logo div:nth-child(4) {
  clear: both;
}
