@import '../../../../../../../../../styles/colors';

%terms-of-service-consent {
  width: 100%;
  margin-bottom: 24px;
  .checkbox.form-input {
    margin-bottom: 0;
    > .input {
      transform: scale(0.8);
      top: 1px;
    }
    > .label {
      // TODO: Change to 14px.
      left: 12px;
      font-size: 13.25px;
    }
  }
  .error {
    height: 16px;
    margin: 6px 0 0 0;
    color: $ERROR-COLOR;
    line-height: 16px;
    font-size: 13px;
  }
  a {
    display: inline-block;
    color: #2a6098;
    &:hover {
      color: #5d6d7e;
    }
  }
}
