#post-show {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
  text-align: left;
  button {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 2;
    height: 20px;
    width: 20px;
    padding: 2px;
    &:disabled {
      cursor: not-allowed;
    }
  }
  &.standalone {
    margin-top: 24px;
    
    h2 {
      font-size: 20px;
    }
    .post-container {
      padding: 20px;
      text-align: initial;
      border-radius: 0;
    }
  }
}
