.post-container {
  position: relative;
  max-width: 1214px;
  margin: 0 auto;
  background: white;
  border: 1px solid #E5E7E9;
  border-radius: 3px;
  padding: 15px;
  button {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 25px;
    width: 25px;
    padding: 3px;
    &:disabled {
      cursor: not-allowed;
    }
  }
  h2 {
    margin-bottom: 16px;
    font-size: 16px;
    color: #424949;
  }
  h3 {
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .body {
    white-space: pre-wrap;
    color: 'red' !important;
    font-size: 15px;
    text-align: justify;
    p {
      margin-bottom: 10px;
      line-height: 23px;
    }
  }
}
