@import '../../../../../../../styles/themes.scss';

#announcement-create-map {
  color: $primary-text-color;
  position: relative;
  #google-map-container {
    width: 480px;
    height: 360px;
    // border: 1px solid #ABB2B9;
    border-radius: 2.5px;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      width: 100%;
    }
    #google-map {
      width: 100%;
      height: 100%;
      border: 1px solid #ABB2B9;
      &.map-error {
        border: 1px solid #E74C3C;
      }
    }
  }
  

  .error {
    text-align: center;
    font-size: 13px;
    color: #E74C3C;
    max-width: 480px;
    padding-top: 4px;
  }
}