@import '../../../../../../common/cooperation-mode-and-location/styles/styles.scss';
@import '../../../../../../common/remuneration/styles/styles.scss';
@import '../../../../../../../../../../../shared/app/styles/media-breakpoints';

%preview {
  position: fixed;
  left: 10000px;
  background: white;
  width: 1200px;
  padding-bottom: 10px;
  // left: 0;
  // right: 0;
  // margin: 0 auto;
  // top: 100px;
  .company {
    margin: 50px 0 0 50px;
    .company-logo {
      float: left;
      margin-right: 50px;
      line-height: 240px;
      background: lightgray;
      img {
        vertical-align: middle;
        max-height: 240px;
        max-width: 350px;
      }
    }
    .business-name-and-industry {
      float: left;
      height: 240px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .business-name {
        font-size: 50px;
        color: black;
      }
      .industry {
        color: black;
        font-size: 28px;
        svg {
          height: 22px;
          margin-right: 12px;
          fill: black;
        }
        span {
          position: relative;
          top: -2px;
        }
      }
    }
  }
  .role {
    margin: 50px 50px 0;
    font-size: 80px;
    border-top: 2px solid #d7dbdd;
    padding-top: 20px;
    vertical-align: top;
  }
  .cooperation-mode-and-location {
    @extend %cooperation-mode-and-location;
    margin: 0 0 0 50px;
    font-size: 36px;
    .cooperation-mode {
      margin-right: 18px;
    }
    span {
      position: relative;
      top: -4px;
    }
    svg {
      height: 36px;
      margin-right: 18px;
    }
  }
  .contract-and-remuneration {
    @extend %contract-and-remuneration;
    margin: 50px 50px 0;
    padding: 0;
    .b2b,
    .employment {
      margin-left: 0;
      float: left;
    }
    .b2b {
      margin-right: 50px;
    }
    .contract {
      font-size: 30px;
    }
    .remuneration {
      font-size: 50px;
      font-weight: 350;
      .amount {
        margin-right: 10px;
      }
      .currency {
        margin-right: 10px;
      }
      .per {
        font-size: 28px;
      }
    }
  }
  .skills {
    position: relative;
    margin: 0 0 50px 50px;
    .skill {
      float: left;
      width: 280px;
      margin-top: 50px;
      .name {
        font-size: 34px;
      }
      .levels {
        margin-top: 10px;
        .level {
          width: 30px;
          height: 30px;
          margin-right: 17px;
        }
      }
    }
  }
}
