@import '../../../../../../common/cooperation-mode-and-location/styles/styles.scss';
@import '../../../../../../common/remuneration/styles/styles.scss';
@import '../../../../../../../../../../../shared/app/styles/media-breakpoints';

%preview {
  position: absolute;
  &#social-image-preview {
    position: absolute;
    margin-top: 20px;
  }
  &#social-image-canvas {
    position: fixed;
    left: 10000px;
  }
  background: white;
  width: 1200px;
  transform-origin: top left;
  outline: 1px solid #D7DBDD;
  padding-bottom: 10px;
  .company {
    margin: 50px 0 0 50px;
    .company-logo {
      float: left;
      width: 250px;
      height: 250px;
      line-height: 250px;
      margin-right: 60px;
      border: 1px solid lightgray;
      text-align: center;
      img {
        vertical-align: middle;
        max-width: calc(100% - 40px);
        max-height: calc(100% - 40px);
      }
    }
    .business-name-and-industry {
      float: left;
      height: 250px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .business-name {
        font-size: 60px;
        color: black;
      }
      .industry {
        color: black;
        font-size: 28px;
        svg {
          height: 22px;
          margin-right: 12px;
          fill: black;
        }
        span {
          position: relative;
          top: -2px;
        }
      }
    }
  }
  .role {
    margin: 60px 0 0 60px;
    font-size: 80px;
  }
  .cooperation-mode-and-location {
    margin: 10px 0 0 60px;
    font-size: 36px !important;
    svg {
      height: 30px;
      fill: #1d1b15;
      margin-right: 12px;
    }
    span {
      position: relative;
      color: #1d1b15;
      top: -3px;
    }
    .cooperation-mode {
      margin-right: 50px;
      float: left;
    }
    .location {
      float: left;
    }
  }
  .contract-and-remuneration {
    @extend %contract-and-remuneration;
    margin: 60px 0 0 60px;
    padding: 0;
    .b2b,
    .employment {
      margin-left: 0;
      float: left;
    }
    .b2b {
      margin-right: 60px;
    }
    .contract {
      font-size: 30px;
    }
    .remuneration {
      font-size: 50px;
      font-weight: 350;
      .amount {
        margin-right: 10px;
        // font-weight: 300;
      }
      .currency {
        margin-right: 10px;
      }
      .per {
        font-size: 28px;
      }
    }
  }
  .skills {
    position: relative;
    margin: 40px 0 60px 60px;
    .skill {
      float: left;
      width: 280px;
      margin-top: 40px;
      .name {
        font-size: 34px;
      }
      .levels {
        margin-top: 10px;
        .level {
          width: 30px;
          height: 30px;
          margin-right: 17px;
        }
      }
    }
  }
}
