#user-create-email {
  position: relative;
  overflow-y: hidden;
  .form-input {
    &.text, &.select {
      padding-bottom: 44px;
    }
    &.radio {
      margin-bottom: 12px;
    }
  }
  .radio-container {
    .title {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }
  .separation-line {
    margin-top: 24px;
  }
}
