@import '../../../../../../../styles/themes.scss';

#announcement-create-description {
  .form-input {
    &.checkbox {
      &.pl {
        margin-bottom: 6px;
      }
    }
  }
  .form-input.textarea {
    margin-top: -12px;
    &.pl {
      margin-top: 0;
      margin-bottom: 12px;
    }
  }
}
  