@import '../../../../../../../styles/themes.scss';

#announcement-create-description {
  .form-input {
    &.checkbox {
      &.pl {
        margin-bottom: 6px;
      }
      &.en {
        margin-bottom: 0;
        // padding-bottom: 30px;
      }
    }
  }
  .form-input.textarea {
    margin: 15px 0 0;
  }
  padding-bottom: 30px;
}
  