@import '../../../../../../../styles/themes.scss';

#announcement-create-description {
  padding-bottom: 36px;
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    width: 100%;
  }
  .primary-input {
    &.textarea {
      width: 100%;
      .input { 
        padding-top: 6px;
      }
    }
  }
}
  