@import '../../../../../../shared/app/styles/media-breakpoints';

#footer {
  background: white;
  border-top: 1px solid lightgray;
  margin-top: 40px;
  .social-pages {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 24px 0 14px;
    a {
      display: inline-block;
      position: relative;
      cursor: pointer;
      margin-right: 16px;
      height: 24px !important;
      &:last-of-type {
        margin-right: 0;
      }
      svg {
        transition: fill 0.3s ease-in;
        height: 26px;
        width: 26px;
        &:hover {
          fill: lightgray;
        }
      }
    }
  }
  .links {
    text-align: center;
    padding: 20px 0 18px;
    border-bottom: 1px solid lightgray;
    .link {
      display: inline-block;
      margin-right: 20px;
      border-right: 1px solid lightgray;
      padding-right: 20px;
      &:hover {
        a {
          text-decoration: underline;
        }
      }
    }
  }
  .copyright {
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    color: #424949;
    svg {
      height: 13px;
      fill: #424949;
      margin-right: 6px;
      position: relative;
      top: 2px;
    }
  }
  @media #{$LARGE-TABLET} {
    width: auto;
    margin: 0;
    .links {
      .link {
        display: block;
        border-right: none;
        margin-top: 10px;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}
