@import '../../../../styles/media-breakpoints';

.lang-switch {
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;

  border-left: 1px solid lightgray;
  padding-left: 10px;
  margin-top: 10px;

  .cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
  }

  .current {
    cursor: pointer;
    font-size: 14px;
    color: #17202a;
    text-transform: uppercase;
    line-height: 40px!important;
    svg {
      display: inline-block;
      fill: #17202a;
      height: 10px;
      margin-left: 3px;
      transition: ease-in 0.2s;
      &:first-of-type {
        position: relative;
        top: 3px;
        height: 15px;
        margin-right: 8px;
      }
      &:last-of-type {
        fill: gray;
        margin-left: 5px;
        transform: rotate(-90deg);
      }
    }
    &.open {
      svg {
        &:last-of-type {
          transform: rotate(90deg);
        }
      }
    }
  }

  .all {
    position: absolute;
    top: 60px;
    background: white;
    line-height: 36px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(black, 0.2);
    height: 0;
    width: 58px;
    overflow: hidden;
    transition: all 0.2s;
    font-size: 14px;
    a {
      &:hover {
        background-color: #f8f9f9;
      }
    }
    &.show {
      height: 72px;
    }
  }
}
