@import '../../../../../../../../../shared/app/styles/hidden-scrollbar';
@import '../../../components/tile/styles/styles.scss';

#listing-index-map {
  position: relative;
  border-radius: 3px;
  .listing-index-tile {
    @extend %listing-index-tile;
    margin-bottom: 18px;
    .pictures {
      width: 360px;
      margin-top: 0!important;
      top: 0;
    }
    @media #{$LARGE-TABLET} {
      display: inline-block;
      width: 296px;
      margin-right: 18px;
      margin-bottom: 0;
      .picture {
        width: 100%;
      }
      .pictures {
        width: 100%;
      }
    }
  }
}
