#logo-image {
  position: relative;
  .magnifying-glass {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
    border: 16px solid #1c2833;
    border-radius: 100px;
    background: #f7f9f9;
    text-align: center;
    line-height: 168px;
    .zero-one {
      font-size: 104px;
      font-family: monospace;
      color: rgb(50, 160, 150);
    }
  }

  .handle {
    position: absolute;
    top: 96px;
    right: 146px;
    height: 24px;
    width: 192px;
    background: #1c2833;
    border-radius: 12px;
    transform: rotate(-135deg);
    transform-origin: right;
  }
}
