.logo-icon {
  position: relative;
  width: 244px;
  height: 256px;
  display: block;
  .magnifying-glass {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 200px;
    border: 16px solid black;
    border-radius: 100px;
    text-align: center;
    line-height: 168px;
    .zero-one {
      font-size: 80px;
      font-family: monospace;
      transition: all 0.2s ease-in-out;
      color: #0b5345;
    }
  }
  .handle {
    position: absolute;
    top: 240px;
    left: 120px;
    height: 24px;
    width: 120px;
    background: black;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    transform: rotate(45deg);
    transform-origin: right;
  }
}
