%edit {
  height: 240px;
  margin: 0 auto;
  transition: 0.72s ease-out;
  &.closed {
    visibility: hidden;
    height: 0px;
  }
  &.closed-after-open {
    height: 0px;
  }
  .inputs-container {
    max-width: 360px;
    padding: 35px 0 0 35px;
    &.hidden {
      visibility: hidden;
    }
    &.hiding {
      visibility: hidden;
    }
    &.shown {
      visibility: visible;
    }
    .monit {
      width: 100%;
      text-align: justify;
      line-height: 1.2;
      margin-bottom: 20px;
      font-size: 15px;
    }
    .country-code {
      position: absolute !important;
      width: 96px;
    }
    .phone-body {
      margin-left: 108px;
    }
    .form-input {
      &.button {
        width: 100px;
        height: 40px;
        .very-small-windmill-spinner {
          top: -54px;
          left: -49px;
          div:after {
            background: gray;
          }
        }
      }
    }
  }
}
