@import '../../../../../../../styles/themes.scss';
@import '../../../../../../../styles/media-breakpoints';

%index-button {
  margin: 0 auto;
  height: 48px;
  .input {
    width: 320px;
    height: 42px;
    background: rgba(84, 153, 199, 0.88);
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    .fas {
      display: inline-block;
      font-size: 18px;
    }
    span {
      margin-left: 8px;
      display: inline-block;
    }
  }
}



#announcement-show-index-search-mini {
  height: 172px;
  background: white;
  position: absolute;
  margin: auto;
  background: rgba(255, 255, 255, 0.72);
  padding-top: 12px;
  border-radius: 4px;
  user-select: none;
  padding: 12px;
  .index-select {
    height: 42px;
    position: relative;
    // width: 320px;
    margin: 0 auto 12px;
    .input {
      height: 42px;
      border: 1px solid gray;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.72);
      line-height: 42px;
      font-size: 16px;
      padding-left: 12px;
      cursor: pointer;
    }
    .label {
      position: absolute;
      top: 0;
      left: 12px;
      bottom: 0;
      height: 16px;
      font-size: 16px;
      margin: auto;
      &.value {
        display: none;
      }
    }
    .options {
      position: absolute;
      width: 320px;
      border-radius: 4px;
      top: 42px;
      background: white;
      overflow-y: auto;
      max-height: 162px;
      border: 1px solid gray;
      .option {
        font-size: 16px;
        line-height: 32px;
        height: 32px;
        padding-left: 8px;
        cursor: pointer;
        &.preselected {
          background: lightgray;
        }
      }
    }
  }
  .index-button {
    @extend %index-button;
    .input {
      width: 100%!important;
    }
  }
}

@media only screen and (min-width: $breakpoint-tablet-small-min) {
  #announcement-show-index-search-mini {
    width: 344px;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media only screen and (max-width: $breakpoint-phone-large-max) {
  #announcement-show-index-search-mini {
    width: 100%;
    bottom: 0;
    border-radius: 0;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
  }
}