@import '../../../../../../../../../shared/app/styles/hidden-scrollbar';
@import '../../../../../../../styles/z-index';

#postings-index {
  .panel {
    .selects {
      background: #1b2631;
      height: 66px;
      padding-top: 12px;
    }
    .select {
      position: relative;
      width: 320px;
      margin: 0 auto 0;
      background: none;
      input {
        padding-left: 32px;
        cursor: default;
        width: 100%;
        height: 36px;
        border: none;
        border-bottom: 2px solid black;
        font-size: 16px;
        border-radius: 0;
        background: none;
        color: white;
        border-bottom: 2px solid white;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: lightgray;
        }
      }
      svg {
        fill: white;
      }
      ul {
        @extend %hidden-scrollbar;
        top: 36px;
        position: absolute;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        list-style-type: none;
        z-index: $VISITOR_POSTINGS_INDEX_PANEL_SEARCH_Z_INDEX;
        max-width: 320px;
        width: 100%;
        height: 384px;
        overflow-x: hidden;
        overflow-y: scroll;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        li {
          cursor: default;
          padding: 10px 20px;
          &.current {
            background: #f2f3f4;
          }
          &:hover {
            background: #f2f3f4;
          }
          .skill {
            margin-right: 60px;
            .levels {
              margin-top: 5px;
              .level {
                width: 15px;
                height: 15px;
                margin-right: 8px;
                position: relative;
              }
            }
          }
        }
      }
      &.industry {
        margin-top: 24px;
      }
    }
    .selected-skills {
      background: white;
      height: 66px;
      padding: 15px 15px;
      .skill {
        float: left;
        z-index: $VISITOR_POSTINGS_INDEX_MAP_SELECTED_SKILL_Z_INDEX;
        margin-right: 60px;
        .name {
          font-size: 17px;
          line-height: 17px;
        }
        .levels {
          margin-top: 4px;
          .level {
            width: 15px;
            height: 15px;
            margin-right: 8px;
            position: relative;
          }
        }
        .delete {
          display: inline-block;
          height: 14px;
          width: 14px;
          position: absolute;
          left: 94px;
          top: 20px;
          cursor: pointer;
          svg {
            top: 0;
            left: 0;
          }
        }
      }
    }
    .logo-icon {
      position: absolute;
      top: 13px;
      left: 16px;
      scale: 0.09;
      transform-origin: top left;
    }
    svg {
      position: absolute;
      top: 8px;
      left: 4px;
      height: 18px;
    }
  }
}
