// TODO

#postings-index {
  .panel {
    .select {
      position: relative;
      width: 320px;
      margin: 20px auto 0;
      input {
        padding-left: 48px;
        cursor: default;
        width: 100%;
        height: 48px;
        border-radius: 24px;
        border: 1px solid #ccd1d1;
        background: #f2f4f4;
        &:focus {
          outline: none;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom: none;
        }
      }
      ul {
        position: absolute;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        list-style-type: none;
        z-index: 2;
        max-width: 320px;
        width: 100%;
        height: 384px;
        overflow-x: hidden;
        overflow-y: scroll;
        li {
          cursor: default;
          padding: 10px 20px;
          &.current {
            background: lightblue;
          }
          &:hover {
            background: lightblue;
          }
        }
      }
      &.industry {
        margin-top: 24px;
      }
    }

    .selected-skills {
      height: 84px;
      padding: 20px 40px;
      .skill {
        float: left;
        margin-right: 60px;
        .delete {
          display: inline-block;
          height: 14px;
          width: 14px;
          position: absolute;
          left: 104px;
          top: 27px;
          cursor: pointer;
          svg {
            top: 0;
            left: 0;
          }
        }
      }
    }

    .logo-icon {
      position: absolute;
      top: 13px;
      left: 16px;
      scale: 0.09;
      transform-origin: top left;
    }

    svg {
      position: absolute;
      top: 14px;
      left: 16px;
      height: 18px;
    }
  }
}
