%list-tile {
  @extend %tile;
  position: relative;
  z-index: 3;
  border-radius: 4px;
  width: 400px;
  margin-left: 52px!important;
  margin-bottom: 56px;
  .inactive {
    opacity: 0.4;
  }
  &.last {
    margin-bottom: 0;
  }
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    margin: 0 auto;
    padding: 0;
    margin-left: 0!important;
    margin-top: 64px;
    margin-bottom: 240px;
    width: 100%;
    &.first {
      margin-top: 52px!important;
    }
    &.last {
      margin-bottom: 144px!important;
    }
  }
  .core {
    .data {
      padding: 12px 0;
      position: relative;
      .area {
        margin: 0 0 0 36px;
        line-height: 58px;
        @media only screen and (max-width: $breakpoint-phone-large-max) {
          margin: 0 0 0 24px;
        }
      }
      .area, .rent {
        float: left;
      }
      .rent {
        float: right;
        .total, .per-sqm {
          float: left;
          margin: 0 36px 0 0;
          @media only screen and (max-width: $breakpoint-phone-large-max) {
            margin: 0 24px 0 0;
          }
        }
      }
    }
    .picture {
      position: relative!important;
      $width: 400px;
      width: $width;
      height: 0;
      background-size: ($width * 1.17777) auto;
      padding-bottom: ($width / 1.7777);
      border-radius: 0;
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        $width: 100%;
        width: $width!important;
        height: 0;
        background-size: ($width * 1.3333) auto;
        padding-bottom: ($width / 1.3333);
        background-position: center; 
      }
      .primary-data {
        .announcement-id {
          position: absolute;
          top: -82px;
          left: -52px;
          background: white;
          border-radius: 2.5px;
          min-width: 40px;
          height: 40px;
          line-height: 42px;
          font-size: 17px;
          @media only screen and (max-width: $breakpoint-phone-large-max) {
            top: -132px;
            left: 0;
          }
        }
        .category {
          position: absolute;
          top: 6px;
          left: 6px;
        }
        .district {
          position: absolute;
          top: 6px;
          left: 44px;
        }
      }
    }
    .bottom-data {
      font: 16px;
      padding: 12px;
      .rooms, .floor, .total-floors {
        float: left;
        margin-right: 24px;
      }
      .calendar {
        float: right;
      }
      .fas, .far {
        margin-right: 8px;
      }
    }
  }
  .control {
    position: absolute;
    background: white;
    left: 412px;
    top: 0;
    width: 176px;
    height: 345px;
    color: #2C3E50;
    font-size: 16px;
    padding: 12px 12px 0;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      left: 0;
      top: auto;
      margin-top: 12px;
      width: 100%;
      height: 132px!important;
    }
    .info-pieces {
      .fas, .far {
        width: 24px;
      }
      @media only screen and (min-width: $breakpoint-tablet-small-min) {
        height: 201px;
      }
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        float: left;
        width: 50%;
      }
      .info {
        margin-bottom: 12px;
        font-size: 15px;
        @media only screen and (max-width: $breakpoint-phone-large-max) {
          line-height: 18px;
        }
      }
    }
    .buttons {
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        float: left;
        width: 50%;
      }
      .button-container {
        width: 100%;
        .button {
          width: 100%;
          border: none;
          background: #3498DB;
          color: white;
          border-radius: 2.5px;
          height: 32px;
          margin-bottom: 12px;
          font-size: 13px;
          &:hover {
            background: transparentize(#3498DB, .2)
          }
          @media only screen and (max-width: $breakpoint-phone-large-max) {
            height: 28px;
            font-size: 12px;
          }
        }
      }
    }
  }
}