%list-pagination {
  right: 0;
  .input {
    background: #212F3D;
    color: white;
    border: none;
    border-radius: 2.5px;
    height: 32px;
    width: 24px;
    margin: 0 3px;
    font-size: 14px;
    &.current {
      background: white;
      color: #212F3D;
      border: 1px solid #212F3D;
    }
  }
}