%panel {
  position: relative;
  background: white;
  border-radius: 2.5px;
  padding: 12px;
  .switches {
    width: 402px;
    border: 1px solid gray;
    border-radius: 2.5px;
    padding: 12px 0 0 12px;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      width: 100%;
      margin-bottom: 12px;
    }
  }
}