%panel {
  position: relative;
  background: white;
  border-radius: 2.5px;
  padding: 12px;
  .switches {
    width: 402px;
    border: 1px solid gray;
    border-radius: 2.5px;
    padding: 12px 0 0 12px;
    @media only screen and (max-width: $breakpoint-phone-large-max) {
      width: 100%;
      margin-bottom: 12px;
    }
  }
  .form-input {
    @extend %form-input;
    &.checkbox {
      margin-bottom: 12px;
      float: left;
      width: 189px;
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        width: 100%!important;
        .label {
          width: auto!important;
        }
      }
    }
    &.select {
      position: absolute!important;
      top: 12px;
      left: 426px;
      width: 201px;
      height: 70px!important;
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        position: relative!important;
        top: 0!important;
        left: 0!important;
        width: 100%!important;
        margin: 0!important;
      }
      .label {
        position: absolute;
        top: 6px!important;
        left: 0!important;
        font-size: 14px!important;
        color: #34495E!important;
      }
      .input {
        position: relative;
        top: 28px;
        width: 201px!important;
        height: 42px!important;
        padding: 1px 0 0 12px!important;
        line-height: 18px;
        color: #2C3E50!important;
        @media only screen and (max-width: $breakpoint-phone-large-max) {
          width: 100%!important;
        }
      }
      .options {
        top: 68px!important;
      }
    }
  }
}