@import '../../../../../../../styles/themes.scss';
@import '../../tile/styles/tile';
@import './panel';
@import './list-tile';
@import '../../../../../../../styles/inputs/form/form';
@import './list-pagination';

#announcement-index-list {
  position: relative;
  width: 640px;
  margin: 128px auto;
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    width: 100%;
  }
  .page-header {
    position: absolute;
    top: 0;
    left: 0;
    color: #17202A;
    color: #1B4F72;
    top: -24px;
    color: #1B4F72;
    font-size: 16px;
    font-weight: normal;
    .fa-list-ol {
      width: 26px;
    }
  }
  text-align: center;
  .panel {
    @extend %panel;
  }
  .list-pagination {
    @extend %list-pagination;
  }
  .announcements-amount {
    margin-top: 24px;
    background: #D7DBDD;
    display: inline-block;
    padding: 8px;
    border-radius: 2.5px;
    color: #34495E;
  }
  .pagination-container {
    min-height: 36px;
  }
  .announcements {
    min-height: 480px;
    text-align: left;
    .announcement-index-tile {
      @extend %list-tile;
    }
  }
  .loading {
    .list-pagination {
      .input, .arrow {
        background: lightgray;
      }
    }
  }
  .delete {
    .cover {
      z-index: 10;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.24);
    }
    .monit {
    z-index: 11;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 360px;
    height: 138px;
    background: white;
    margin: auto;
    border-radius: 2.5px;
    padding: 12px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                0px 3px 8px 3px rgba(0, 0, 0, 0.14),
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    text-align: justify;
    line-height: 22px;
    .text {
      margin-bottom: 12px;
    }
    }
  }

  .form-input {
    @extend %form-input;
    &.checkbox {
      margin-bottom: 12px;
      float: left;
      width: 189px;
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        width: 100%!important;
        .label {
          width: auto!important;
        }
      }
    }
    &.select {
      position: absolute!important;
      top: 12px;
      left: 426px;
      width: 201px;
      height: 70px!important;
      @media only screen and (max-width: $breakpoint-phone-large-max) {
        position: relative!important;
        top: 0!important;
        left: 0!important;
        width: 100%!important;
        margin: 0!important;
      }
      .label {
        position: absolute;
        top: 6px!important;
        left: 0!important;
        font-size: 14px!important;
        color: #34495E!important;
      }
      .input {
        position: relative;
        top: 28px;
        width: 201px!important;
        height: 42px!important;
        padding: 1px 0 0 12px!important;
        line-height: 18px;
        color: #2C3E50!important;
        @media only screen and (max-width: $breakpoint-phone-large-max) {
          width: 100%!important;
        }
      }
      .options {
        top: 68px!important;
      }
    }
    &.button {
      display: block!important;
      position: relative;
      float: left;
      height: 36px;
      width: 49%;
      margin: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      
      .input {
        
        font-size: 14px;
      }
      &.cancel {
        margin-right: 2%;
        .input {
          background: #979A9A;
          &:hover {
            background: transparentize(#979A9A, 0.12)
          }
        }
      }
      &.destroy {
        .input {
          background: #943126;
          &:hover {
            background: transparentize(#943126, 0.12)
          }
        }
      }
    }
  }
}