@import '../../../../../../../styles/themes.scss';
@import '../../tile/styles/tile';
@import './list-tile';
@import '../../../../../../../styles/inputs/form/form';
@import './list-pagination';

#announcement-index-list {
  position: relative;
  width: 640px;
  margin: 0 auto;
  @media #{$small-pc} {
    max-width: 456px;
    width: 100%;
    padding: 0 8px;
  }
  .list-pagination {
    @extend %list-pagination;
  }
  .announcements-amount {
    margin-top: 24px;
    background: #212F3D;
    color: white;
    display: inline-block;
    padding: 8px;
    border-radius: 2.5px;
    position: absolute;
    left: 0;
  }
  .pagination-container {
    min-height: 36px;
    margin-left: 160px;
    padding: 0;
  }
  .announcements {
    margin-top: 64px;
    min-height: 480px;
    text-align: left;
    .announcement-index-tile {
      @extend %list-tile;
    }
  }
  .loading {
    .list-pagination {
      .input, .arrow {
        background: lightgray;
      }
    }
  }
  .delete {
    .cover {
      z-index: 10;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.24);
    }
    .monit {
    z-index: 11;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 360px;
    height: 138px;
    background: white;
    margin: auto;
    border-radius: 2.5px;
    padding: 12px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                0px 3px 8px 3px rgba(0, 0, 0, 0.14),
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    text-align: justify;
    line-height: 22px;
    .text {
      margin-bottom: 12px;
    }
    }
  }







  .form-input {
    &.button {
      display: block!important;
      position: relative;
      float: left;
      height: 36px;
      width: 49%;
      margin: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      .input {
        font-size: 14px;
      }
      &.cancel {
        margin-right: 2%;
        .input {
          background: #979A9A;
          &:hover {
            background: transparentize(#979A9A, 0.12)
          }
        }
      }
      &.destroy {
        .input {
          background: #943126;
          &:hover {
            background: transparentize(#943126, 0.12)
          }
        }
      }
    }
  }
}