.container {
  width: 400px;
}

.credentialsError {
  color: var(--error);
  text-align: center;
  margin-top: 12px;
  font-size: 15px;
}

.resetPassword {
  display: block;
  margin-top: 30px;
  text-align: center;
  color: gray;
}
