@import '../../../../../styles/media-breakpoints';

#announcement-index {
  position: relative;
  max-width: 1440px;
  margin: 0 auto 128px;
  @media #{$LARGE-PHONE} {
    margin: 0 auto 0;
  }
  h1 {
    font-size: 14px;
    margin: 24px 20px 12px;
    color: #1B2631;
    line-height: 1.5;
    font-weight: normal;
    line-height: 1;
    // color: #7B7D7D;
    @media #{$LARGE-PHONE} {
      margin: 12px;
      text-align: center;
    }
  }
  .phone {
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 76px;
    right: 10px;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background: rgba(236, 240, 241, 0.96);
    white-space: nowrap;
    overflow:hidden;
    &.open {
      width: 190px;
      transition: 0.72s ease-out;
    }
    .svg-container {
      position: absolute;
      left: 0;
      width: 36px;
      height: 36px;
      background: #28B463;
      border-radius: 18px;
      padding: 9px;
      svg {
        fill: white;
      }
    }
    a {
      display: block;
      margin-left: 48px;
      line-height: 36px;
    }
  }
}

#header-panel {
  position: absolute;
  top: -32px;
}
