@import '../../../../../styles/media-breakpoints';

#announcement-index {
  position: relative;
  max-width: 1440px;
  margin: 0 auto 128px;
  @media #{$LARGE-PHONE} {
    margin: 0 auto 0;
  }
  h1 {
    position: relative;
    margin: 24px 0 12px;
    padding: 0 20px;
    text-align: center;
    font-size: 12px;
    &:before {
      position: absolute;
      top: 50%;
      right: 20px;
      left: 20px;
      height: 1px;
      background: rgb(192, 192, 192);
      content: '';
    }
    span {
      position: relative;
      display: inline-block;
      margin: 0 auto;
      padding: 0 12px;
      background: white;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: .5px;
      color: rgb(42, 42, 42);
    }
  }
  .phone {
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 76px;
    right: 10px;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background: rgba(236, 240, 241, 0.96);
    white-space: nowrap;
    overflow:hidden;
    &.open {
      width: 190px;
      transition: 0.72s ease-out;
    }
    .svg-container {
      position: absolute;
      left: 0;
      width: 36px;
      height: 36px;
      background: #28B463;
      border-radius: 18px;
      padding: 9px;
      svg {
        fill: white;
      }
    }
    a {
      display: block;
      margin-left: 48px;
      line-height: 36px;
    }
  }
}

#header-panel {
  position: absolute;
  top: -32px;
}
