@import '../../../../../styles/media-breakpoints';
@import '../../../../../../../shared/app/styles/lined-heading';

#announcement-index {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  > h1 {
    @extend %lined-heading;
  }
  .phone {
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 110px;
    right: 10px;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background: rgba(236, 240, 241, 0.96);
    white-space: nowrap;
    overflow:hidden;
    &.open {
      width: 190px;
      transition: 0.72s ease-out;
    }
    .svg-container {
      position: absolute;
      left: 0;
      width: 36px;
      height: 36px;
      background: #28B463;
      border-radius: 18px;
      padding: 9px;
      svg {
        fill: white;
      }
    }
    a {
      display: block;
      margin-left: 48px;
      line-height: 36px;
    }
  }
}

#header-panel {
  position: absolute;
  top: -32px;
}
