@import '../../../../../../../shared/app/styles/media-breakpoints';
@import '../../../.././../styles/headings/main-heading';
@import '../../../../../styles/inputs/text';
@import '../../../../../styles/inputs/button';
@import '../../../../../styles/container';

#user-edit-password {
  @extend %container;
  position: relative;
  padding: 30px;
  margin-top: 60px;
  .main-heading {
    @extend %main-heading;
    margin-bottom: 30px;
  }
  .text-input {
    @extend %text-input;
  }
  .submit-button {
    @extend %button;
  }
  .monit-and-text-inputs {
    padding: 24px 32px;
  }
  .monit {
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 14px;
  }
  .explanation {
    margin-bottom: 24px;
    color: #4d5656;
    line-height: 24px;
  }
  @media #{$LARGE-PHONE} {
    margin-top: 0;
    border: none;
  }
}
