%page-header {
  margin-bottom: 24px;
  color: #566573;
  font-size: 18px;
  .far, .fas {
    margin-right: 8px;
  }
  @media only screen and (max-width: $breakpoint-phone-large-max) {
    text-align: center;
  }
}

%section-header {
  font-size: 16px;
  color: #566573;
  margin: 0 0 18px 0;
  .far, .fas {
    width: 24px;
  }
}