%page-header {
  position: absolute;
  top: -28px;
  left: 0;
  color: #1B4F72;
  font-size: 16px;
  font-weight: normal;
  .far, .fas {
    margin-right: 8px;
  }
}

%section-header {
  font-size: 16px;
  color: #2874A6;
  margin: 0 0 18px 0;
  .far, .fas {
    width: 24px;
  }
}