@import '../../../../../styles/container';

#contact {
  background: $BACKGROUND-LIGHT-GRAYISH-COLOR;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 18px 60px;
  overflow: auto;
  .container {
    @extend %container;
    padding: 32px;
    .company,
    .address {
      margin-bottom: 24px;
    }
    .street {
      margin-bottom: 8px;
    }
    @media #{$LARGE-PHONE} {
      border: none;
      padding: 24px;
    }
  }
  @media #{$LARGE-PHONE} {
    padding: 60px 0;
    background: white;
  }
}
