@import '../../../../../../../styles/container';
@import '../../../../../../../styles/headings/h1';
@import '../../../../../../../styles/inputs/text';
@import '../../../../../../../styles/inputs/button';

#user-new-email {
  @extend %container;
  h1 {
    @extend %h1;
    margin-bottom: 28px
  }
  .line {
    @extend %line;
    margin-bottom: 24px
  }
  .text-input {
    @extend %text-input;
  }
  .button {
    @extend %button;
  }
}

#user-new-email-verification {
  padding: 32px;
  .explanation {
    margin-bottom: 24px;
    line-height: 20px;
    font-size: 15px;
    color: #34495E;
  }
}
