@import './options';

%simple-index-input {
  background: none;
  height: 40px;
  position: relative;
  float: left;
  width: 271px;
  @media #{$LARGE-PHONE} {
    float: none;
    width: 100%;
    margin: 0;
  }
  .input {
    border: 1px solid #A6ACAF;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 12px;
    line-height: 40px;
    background: white;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    color: #2C3E50;
    &.hover {
      background: #EBF5FB;
    }
  }
  .label {
    cursor: pointer;
    z-index: 5;
    transition: .12s ease-in;
    position: absolute;
    top: 13px;
    left: 12px;
    font-size: 15px;
    color: #2C3E50;
    &.value {
      display: none;
    }
  }
}
