@import '../../../../styles/box_shadows.scss';

.tile {
  position: relative;
  max-width: 1400px;
  margin: 20px auto;
  background: white;
  border-radius: 4px;
  box-shadow: $BOX_SHADOW_CONTAINER_DEFAULT;
  padding: 1px 0;
  line-height: 1.65;
  color: #424242;
  button {
    position: absolute;
    background: none;
    border: none;
    top: 15px;
    right: 15px;
    height: 25px;
    padding: 3px;
    &:disabled {
      cursor: not-allowed;
    }
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 16px;
    padding: 0 20px;
    font-size: 17px;
    color: #565656;
  }
  h3 {
    padding: 0 20px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #565656;
  }
  .body {
    p {
      margin-bottom: 10px;
      padding: 0 20px;
      font-size: 15px;
      white-space: pre-wrap;
    }
  }
}
