@import '../../../../styles/box_shadows.scss';
@import '../../../../styles/colors.scss';

.tile {
  position: relative;
  max-width: 1400px;
  margin: 20px auto;
  background: white;
  border: 1px solid $CONTAINER-BORDER-COLOR;
  border-radius: 4px;
  padding: 1px 0;
  line-height: 1.65;
  color: #424242;
  img {
    width: 100%;
  }
  button {
    position: absolute;
    background: none;
    border: none;
    top: 15px;
    right: 15px;
    height: 25px;
    padding: 3px;
    &:disabled {
      cursor: not-allowed;
    }
  }
  h1 {
    margin-top: 20px;
    margin-bottom: 16px;
    padding: 0 20px;
    font-size: 17px;
    color: #565656;
  }
  h2 {
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 0 20px;
    font-size: 16px;
    color: #565656;
  }
  h3 {
    padding: 0 20px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #565656;
  }
  .body {
    p {
      margin-bottom: 10px;
      padding: 0 20px;
      font-size: 15px;
      white-space: pre-wrap;
    }
  }
  &.article {
    max-width: 768px;
    h1 {
      font-size: 18px;
      color: #212F3C;
    }
    h2 {
      font-size: 17px;
      color: #212F3C;
    }
    p {
      font-size: 16px;
      color: #424949;
    }
  }
  &.welcome {
    a {
      padding: 20px 0 0 20px;
      text-decoration: underline;
    }
  }
}
