@import '../../../../../../../shared/app/styles/media-breakpoints';
@import '../../../styles/pin.scss';
@import '../../../../../styles/colors.scss';

#map-index {
  position: relative;
  max-width: 1440px;
  max-height: 960px;
  height: calc(100vh - 60px - 48px);
  margin: 24px auto;
  border: 1px solid #d7dbdd;
  border-radius: 12px;
  background: white;
  overflow: hidden;
  .pin {
    @extend %pin;
  }
  @media #{$MEDIUM-PC} {
    margin-left: 24px;
    margin-right: 24px;
  }
  @media #{$LARGE-TABLET} {
    max-height: none;
    height: auto;
    margin: 0;
    border: none;
    border-radius: 0;
  }
  .results {
    position: relative;
    height: calc(100% - 152px);
    main {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 640px;
      #list {
        background: $POSTINGS-RESULTS-BACKGROUND;
        &.scroll {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 640px;
          padding: 0 15px 15px;
          overflow-x: hidden;
          overflow-y: scroll;
          scrollbar-width: none;
          -ms-overflow-style: none;
          h1 {
            margin: 6px 0 18px 0;
            text-align: center;
            letter-spacing: 1px;
            font-size: 13px;
            color: #4d5656;
            font-weight: normal;
            text-transform: uppercase;
          }
          > h2 {
            font-size: 18px;
            margin-bottom: 24px;
            text-align: center;
            color: #424949;
          }
          .listing-index-tile {
            margin-bottom: 20px;
          }
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }
        }
        &.slider {
          padding: 15px 0;
          .listing-index-tile {
            width: auto;
            position: relative;
            .picture {
              width: auto;
            }
          }
          .splide__list {
            padding-bottom: 0;
          }
          .splide__arrow {
            scale: 2;
            &--prev {
              left: 10px;
              transform-origin: left;
            }
            &--next {
              right: 10px;
              transform-origin: right;
            }
          }
        }
        &.render-show {
          height: 0;
          padding: 0;
        }
      }
    }
    #google-map-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 640px;
      #google-map {
        height: 100%;
      }
    }
    main {
      .postings-index-tile {
        padding: 0 0 10px;
        margin-top: 15px;
        box-shadow:
          rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
          rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        border: none;
        .company {
          width: 280px;
          height: 60px;
          padding: 7px 0 10px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
          margin-left: 70px;
          .company-logo {
            background: white;
            width: 40px;
            height: 60px;
            left: 15px;
            top: 0;
            display: flex;
            img {
              max-height: 30px;
              max-width: 40px;
              margin: auto;
            }
          }
          .business-name {
            font-size: 14px;
          }
          .industry {
            margin-top: 8px;
            top: 0;
            font-size: 12px;
          }
        }
        .contract-and-remuneration {
          margin: 0;
          top: 8px;
          right: 15px;
        }
        .location-and-cooperation-mode {
          margin: 0 15px 0;
          .location {
            font-size: 13px;
            svg {
              height: 12px;
              top: 1px;
            }
          }
          .cooperation-mode {
            font-size: 13px;
            svg {
              height: 10px;
              top: 0px;
            }
          }
        }
        .skills {
          text-wrap: nowrap;
          margin: -5px 15px;
          .skill {
            display: inline-block;
            float: none;
            margin-right: 20px;
            scale: 0.9;
            transform-origin: top left;
            .level-name {
              display: none;
            }
          }
        }
      }
    }
    @media #{$LARGE-TABLET} {
      position: relative;
      top: 0;
      main {
        position: relative;
        width: 100%;
        .postings-index-tile {
          margin-top: 0;
          padding-bottom: 20px;
          height: 370px;
          padding: 0;
          .company {
            position: relative;
            padding-left: 100px;
            height: auto;
            margin: 0;
            .company-logo {
              // left: 15px;
            }
            .business-name {
              position: relative;
              height: 16px;
            }
            .industry {
              position: relative;
              margin-top: 8px;
            }
          }
          .location-and-cooperation-mode {
            display: block;
            margin: 20px 20px 0;
            .location {
              display: block;
              font-size: 15px;
            }
            .cooperation-mode {
              display: block;
              margin-top: 8px;
              font-size: 15px;
            }
          }
          .contract-and-remuneration {
            position: relative;
            top: 0;
            right: 0;
            margin: 20px 20px 0;
            text-wrap: nowrap;
            .b2b,
            .employment {
              text-align: left;
              display: inline-block;
              .contract {
                display: block;
                font-size: 13px;
              }
              .remuneration {
                display: block;
                font-size: 15px;
              }
              .per {
                font-size: 12px;
              }
            }
            .b2b {
              margin-right: 25px;
            }
          }
          .skills {
            position: relative;
            scale: 1;
            margin: 0;
            padding: 0;
            margin: 5px 20px 0;
            text-wrap: wrap;
            .skill {
              margin-top: 15px;
              margin-right: 30px;
              &:nth-of-type(2n) {
                margin-right: 0;
              }
              .level-name {
                display: none;
              }
            }
          }
        }
      }
      #google-map-container {
        position: relative;
        left: 0;
        .gm-bundled-control {
          display: none;
        }
        #google-map {
          height: 400px;
        }
      }
    }
  }
}
