@import '../../../../../../../shared/app/styles/media-breakpoints';
@import '../../../styles/pin.scss';

#map-index {
  position: relative;
  max-width: 1440px;
  max-height: 960px;
  height: calc(100vh - 60px - 48px);
  margin: 24px auto;
  border: 1px solid #d7dbdd;
  border-radius: 12px;
  background: white;
  overflow: hidden;

  .pin {
    @extend %pin;
  }

  @media #{$MEDIUM-PC} {
    margin-left: 24px;
    margin-right: 24px;
  }
  @media #{$LARGE-TABLET} {
    max-height: none;
    height: auto;
    margin: 0;
    border: none;
    border-radius: 0;
  }
  .results {
    position: absolute;
    top: 184px;
    right: 0;
    bottom: 0;
    left: 0;
    main {
      #list {
        &.scroll {
          background: lightgray;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 640px;
          padding: 0 20px 20px;
          overflow-x: hidden;
          overflow-y: scroll;
          scrollbar-width: none;
          -ms-overflow-style: none;
          h1 {
            margin: 6px 0 18px 0;
            text-align: center;
            letter-spacing: 1px;
            font-size: 13px;
            color: #4d5656;
            font-weight: normal;
            text-transform: uppercase;
          }
          > h2 {
            font-size: 18px;
            margin-bottom: 24px;
            text-align: center;
            color: #424949;
          }
          .listing-index-tile {
            margin-bottom: 20px;
          }
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }
        }
        &.slider {
          padding: 20px 0;
          .listing-index-tile {
            width: auto;
            position: relative;
            .picture {
              width: auto;
            }
          }
          .splide__list {
            padding-bottom: 0;
          }
          .splide__arrow {
            scale: 2;
            &--prev {
              left: 10px;
              transform-origin: left;
            }
            &--next {
              right: 10px;
              transform-origin: right;
            }
          }
        }
        &.render-show {
          height: 0;
          padding: 0;
        }
      }
    }
    #google-map-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 640px;
      #google-map {
        height: 100%;
      }
    }
    @media #{$LARGE-TABLET} {
      position: relative;
      top: 0;
      #google-map-container {
        position: relative;
        left: 0;
        .gm-bundled-control {
          display: none;
        }
        #google-map {
          height: 400px;
        }
      }
    }
  }
}
