@import '../../../../../styles/media-breakpoints';

#announcement-index {
  position: relative;
  min-height: 726px;
  max-width: 1366px;
  padding-top: 12px;
  @media #{$small-pc} {
    min-height: 1058px;
  }
  @media #{$small-tablet} {
    min-height: 1100px;
  }
  margin: 0 auto;
  .phone {
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 76px;
    right: 10px;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background: rgba(236, 240, 241, 0.96);
    white-space: nowrap;
    overflow:hidden;
    &.open {
      width: 190px;
      transition: 0.72s ease-out;
    }
    .fa-phone {
      height: 36px;
      width: 36px;
      font-size: 18px;
      color: #FBFCFC;
      background: #28B463;
      border-radius: 18px;
      line-height: 36px;
      text-align: center;
      opacity: 0.92;
      margin-right: 12px;
    }
    a {
      display: inline;
    }
  }
  .add-announcement {
    color: #F2F3F4;
    font-size: 14px;
    text-decoration: underline;
    border-radius: 20px;
    background: #17A589;
    padding: 7px 12px;
    font-weight: normal !important;
    width: 196px;
    margin: 0 auto 12px !important;
    text-align: center;
    white-space: nowrap;
  }
}

#header-panel {
  position: absolute;
  top: -32px;
}
