@import '../../../../../../../../../../styles//colors.scss';

.menu-button {
  float: right;
  width: 36px;
  height: 60px;
  margin-left: 25px;
  padding-top: 10px;
  div {
    height: 2px;
    background: $LINKS-HEADER-COLOR;
    margin: 8px 5px;
  }
}
