#user {
  position: relative;
  z-index: 9;
  .very-small-windmill-spinner {
    left: -53px;
    top: -53px;
    div:after {
      background: #F0F3F4;
    }
  }
  .close-button {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    box-shadow: none;
    &:hover {
      color: #C0392B;
    }
  }
}